<p id="notice"><%= notice %></p>

<p>
  <b>Kode barang:</b>
  <%= @future_price_list.kode_barang %>
</p>

<p>
  <b>Nama:</b>
  <%= @future_price_list.nama %>
</p>

<p>
  <b>Jenis:</b>
  <%= @future_price_list.jenis %>
</p>

<p>
  <b>Produk:</b>
  <%= @future_price_list.produk %>
</p>

<p>
  <b>Kain:</b>
  <%= @future_price_list.kain %>
</p>

<p>
  <b>Panjang:</b>
  <%= @future_price_list.panjang %>
</p>

<p>
  <b>Lebar:</b>
  <%= @future_price_list.lebar %>
</p>

<p>
  <b>Harga:</b>
  <%= @future_price_list.harga %>
</p>

<p>
  <b>Discount 1:</b>
  <%= @future_price_list.discount_1 %>
</p>

<p>
  <b>Discount 2:</b>
  <%= @future_price_list.discount_2 %>
</p>

<p>
  <b>Discount 3:</b>
  <%= @future_price_list.discount_3 %>
</p>

<p>
  <b>Discount 4:</b>
  <%= @future_price_list.discount_4 %>
</p>

<p>
  <b>Upgrade:</b>
  <%= @future_price_list.upgrade %>
</p>

<p>
  <b>Cashback:</b>
  <%= @future_price_list.cashback %>
</p>

<p>
  <b>Special price:</b>
  <%= @future_price_list.special_price %>
</p>

<p>
  <b>Start at:</b>
  <%= @future_price_list.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @future_price_list.end_at %>
</p>

<p>
  <b>Regional:</b>
  <%= @future_price_list.regional_id %>
</p>

<p>
  <b>Brand:</b>
  <%= @future_price_list.brand_id %>
</p>


<%= link_to 'Edit', edit_future_price_list_path(@future_price_list) %> |
<%= link_to 'Back', future_price_lists_path %>
