<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Laporan Upload Data Penjualan Harian</title>
    <style type="text/css">
      table.tableizer-table {
        border: 1px solid #CCC;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        width: "100%";
      }
      .tableizer-table td {
        padding: 4px;
        margin: 3px;
        border: 1px solid #ccc;
      }
      .tableizer-table th {
        background-color: #104E8B;
        color: #FFF;
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <p>Dear All,</p>

    <p>Dengan email ini kami beritahukan cabang-cabang yang telah dan belum upload data penjualan harian.</p>
    <p>Demi kelancaran laporan, kami harap pihak-pihak terkait dapat membantu memberitahukan kepada PIC cabang yang belum upload data,</p>
    <p>agar mengupload data penjualan sesuai tanggal yang belum terupload data-data penjualan.</p>
    <p>Jika tidak ada penjualan, harap informasikan terhadap admin.</p>
    <p>Thanks.</p>
    <br />
    <br />
    <table class="tableizer-table">
      <tr>
        <th rowspan="3">Dates</th>
        <th colspan="24">Control</th>
      </tr>
      <tr>
        <% Cabang.get_id_to_7.each do |cabang| %>
          <th colspan="3"><%= cabang.Alias %></th>
        <% end %>
      </tr>
      <tr>
        <% (1..8).each do |a| %>
          <th>E</th>
          <th>L</th>
          <th>R</th>
        <% end %>
      </tr>
      <% @dates.each do |date| %>
        <tr>
          <th scope="row"><%= date.strftime("%e%b%y") %></th>
          <% @cabang_get_id_first.each do |cab| %>
            <td><%= cab.laporan_cabang.check_invoices(date, "Non Serenity").limit(1).any? ? "up" : "0" %></td>
            <td><%= cab.laporan_cabang.check_invoices(date, "Lady Americana").limit(1).any? ? "up" : "0" %></td>
            <td><%= cab.laporan_cabang.check_invoices(date, "Royal").limit(1).any? ? "up" : "0" %></td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <table class="tableizer-table">
      <tr>
        <th rowspan="3">Dates</th>
        <th colspan="24">Control</th>
      </tr>
      <tr>
        <% Cabang.get_id_to_22.each do |cabang| %>
          <th colspan="3"><%= cabang.Alias %></th>
        <% end %>
      </tr>
      <tr>
        <% (1..8).each do |a| %>
          <th>E</th>
          <th>S</th>
          <th>L</th>
          <th>R</th>
        <% end %>
      </tr>
      <% @dates.each do |date| %>
        <tr>
          <th scope="row"><%= date.strftime("%e%b%y") %></th>
          <% @cabang_get_id_second.each do |cab| %>
            <td><%= cab.laporan_cabang.check_invoices(date, ["Non Serenity", "ELITE"]).limit(1).any? ? "up" : "0" %></td>
            <td><%= cab.laporan_cabang.check_invoices(date, "Serenity").limit(1).any? ? "up" : "0" %></td>
            <td><%= cab.laporan_cabang.check_invoices(date, ["Lady Americana", "LADY"]).limit(1).any? ? "up" : "0" %></td>
            <td><%= cab.laporan_cabang.check_invoices(date, "Royal").limit(1).any? ? "up" : "0" %></td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <p>Note:</p>
    <p>up = Data pada tanggal tersebut sudah di upload</p>
    <p>0 = Data pada tanggal tersebut belum di upload</p>

  </body>
</html>
