<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">CEK PRICE LIST</h4>
    </div>
    <div class="modal-body">
      <%= form_for(@accounting_price_list) do |f| %>
        <div class="block-content collapse in">
          <fieldset>
            <%= hidden_field_tag 'brand', params[:brand] %>
            <%= hidden_field_tag 'branch', params[:branch] %>
            <%= hidden_field_tag 'month', params[:month] %>
            <div class="field">
              <%= f.label :no_faktur %>
              <%= f.text_field :nofaktur, readonly: true %>
            </div>
            <div class="field">
              <%= f.label :nama_barang %>
              <%= f.text_area 'namabarang', readonly: true, :cols => 10, :rows => 5  %>
            </div>
            <div class="field">
              <%= f.label :jumlah %>
              <%= f.text_field 'quantity', readonly: true  %>
            </div>
            <% unless @accounting_price_list.nil?  %>
              <div class="field">
                <%= f.label :harga_master %>
                <%= f.text_field 'harga_master', readonly: true, value: currency(f.object.harga_master) %>
              </div>
              <div class="field">
                <%= f.label :harga_laporan %>
                <%= f.text_field 'harga_laporan', readonly: true, value: currency(f.object.harga_laporan) %>
              </div>
              <div class="field">
                <%= f.label :upgrade_master %>
                <%= f.text_field 'upgrade_master', readonly: true, value: currency(f.object.upgrade_master) %>
              </div>
              <div class="field">
                <%= f.label :upgrade_laporan %>
                <%= f.text_field 'upgrade_laporan', readonly: true, value: currency(f.object.upgrade_laporan) %>
              </div>
              <div class="field">
                <%= f.label :cashback_master %>
                <%= f.text_field 'cashback_master', readonly: true, value: currency(f.object.cashback_master) %>
              </div>
              <div class="field">
                <%= f.label :cashback_laporan %>
                <%= f.text_field 'cashback_laporan', readonly: true, value: currency(f.object.cashback_laporan) %>
              </div>
              <div class="field">
                <%= f.label :discount_1_master %>
                <%= f.text_field 'discount_1_master', readonly: true  %>
              </div>
              <div class="field">
                <%= f.label :discount_1_laporan %>
                <%= f.text_field 'discount_1_laporan', readonly: true  %>
              </div>
              <div class="field">
                <%= f.label :discount_2_master %>
                <%= f.text_field 'discount_2_master', readonly: true  %>
              </div>
              <div class="field">
                <%= f.label :discount_2_laporan %>
                <%= f.text_field 'discount_2_laporan', readonly: true  %>
              </div>
              <div class="field">
                <%= f.label :discount_2_master %>
                <%= f.text_field 'discount_3_master', readonly: true  %>
              </div>
              <div class="field">
                <%= f.label :discount_2_laporan %>
                <%= f.text_field 'discount_3_laporan', readonly: true  %>
              </div>
              <div class="field">
                <%= f.label :discount_2_master %>
                <%= f.text_field 'discount_4_master', readonly: true  %>
              </div>
              <div class="field">
                <%= f.label :discount_2_laporan %>
                <%= f.text_field 'discount_4_laporan', readonly: true  %>
              </div>
            <% end %>
          </fieldset>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->