<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title">CEK PRICE LIST</h4>
    </div>
    <div class="modal-body">
      <%= form_for(@accounting_price_list) do |f| %>
        <div class="block-content collapse in">
          <fieldset>
            <%= hidden_field_tag 'brand', params[:brand] %>
            <%= hidden_field_tag 'branch', params[:branch] %>
            <%= hidden_field_tag 'month', params[:month] %>
            <div class="field">
              <%= f.label :no_faktur %>
              <%= f.text_field :nofaktur, readonly: true %>
            </div>
            <div class="field">
              <%= f.label :nama_barang %>
              <%= f.text_field 'namabarang', readonly: true, size: 100  %>
            </div>
            <div class="field">
              <%= f.label :jumlah %>
              <%= f.text_field 'quantity', readonly: true  %>
            </div>
            <% unless @accounting_price_list.nil?  %>
              <div class="field">
                <%= f.label :upgrade_master %>
                <%= f.text_field 'upgrade_master', readonly: true  %>
              </div>
              <div class="field">
                <%= f.label :upgrade_laporan %>
                <%= f.text_field 'upgrade_laporan', readonly: true  %>
              </div>
              <div class="field">
                <%= label_tag :upgrade_seharusnya %>
                <%= text_field_tag 'upgrade_seharusnya', (@accounting_price_list.upgrade_master.to_i * @accounting_price_list.quantity.to_i), readonly: true  %>
              </div>
              <div class="field">
                <%= f.label :harga_master %>
                <%= f.text_field 'harga_master', readonly: true  %>
              </div>
              <div class="field">
                <%= f.label :harga_laporan %>
                <%= f.text_field 'harga_laporan', readonly: true  %>
              </div>
              <div class="field">
                <%= label_tag :harga_seharusnya %>
                <%= text_field_tag 'harga_seharusnya', (@accounting_price_list.harga_master.to_i * @accounting_price_list.quantity.to_i), readonly: true  %>
              </div>
            <% end %>
            <div class="field">
              <%= f.check_box :checked  %>Checked
            </div>
            <br />
            <div class="pull-left"><%= submit_tag "Update", :class => "btn btn-primary" %></div>
          </fieldset>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->