<div class="container-fluid">
  <div class="row">
    <div class="span3">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="block-content">
          <%= form_tag accounting_price_lists_path, :method => 'get', :class => "form-accounting-price-list" do %>
            <div class="block">
              <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Search Different Price List</div>
                <div class="pull-right"><span class="badge badge-info"></span>

                </div>
              </div>
              <div class="block-content">
                <div class="control-group">
                  <%= label_tag 'cabang' %>
                  <%= select_tag 'branch_price_list', options_for_select(Cabang.get_id.collect {|a| [a.Cabang, a.id]}, params[:branch_price_list]), {:class=>"select", :prompt => 'Select Cabang'} %>
                </div>
                <br />
                <div class="control-group">
                  <%= label_tag 'brand' %>
                  <%= select_tag 'brand_price_list', options_for_select(options_for_tipe_price, params[:brand_price_list]), {:class=>"select", :prompt => 'Select Brand'} %>
                </div>
                <br />
                <div class="control-group">
                  <%= label_tag 'bulan' %>
                  <%= select_tag 'month_price_list', options_for_select(options_for_bulan, params[:month_price_list]), {:class => "select", :prompt => 'Select Bulan'} %>
                </div>
                <br />
                <div class="control-group">
                  <%= label_tag 'tahun' %>
                  <%= select_year(params[:date].nil? ? Date.today : params[:date][:year].to_i, :class => "select") %>
                </div>
                <br />
                <div class="control-group">
                  <button type="submit" class="btn btn-primary">
                    <%= params[:branch].blank? ? 'Search' : 'Refine Search' %>
                  </button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if @test.present? %>
      <div class="span6">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
          <div class="span8" style="padding-top: 25px">
            <%= form_tag update_multiple_accounting_price_lists_path, :method => :post do %>
              <span>No faktur: </span><span><%= @test.nofaktur %></span><br />
              <span>No SO: </span><span><%= @test.no_so %></span><br />
              <span>No PO: </span><span><%= @test.no_po %></span><br />
              <span>Nama Customer: </span><span><%= @test.customer %></span><br />
              <table id="check_price_list" class="display row-border" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th style="background-color: #E2E4FF">Nama Barang</th>
                    <th>Kode Barang</th>
                    <th>Panjang</th>
                    <th>Lebar</th>
                    <th>Qty</th>
                    <th>Bonus</th>
                    <th>Harga Laporan</th>
                    <th>Harga Master</th>
                    <th>Diskon 1 Laporan</th>
                    <th>Diskon 1 Master</th>
                    <th>Diskon 2 Laporan</th>
                    <th>Diskon 2 Master</th>
                    <th>Diskon 3 Laporan</th>
                    <th>Diskon 3 Master</th>
                    <th>Diskon 4 Laporan</th>
                    <th>Diskon 4 Master</th>
                    <th>Netto2</th>
                    <th>Upgrade Laporan</th>
                    <th>Upgrade Master</th>
                    <th>Cashback Laporan</th>
                    <th>Cashback Master</th>
                  </tr>
                </thead>

                <tbody>
                  <% AccountingPriceList.where(nofaktur: @test.nofaktur).each do |test| %>
                    <tr>
                      <td style="min-width: 350px"><%= test.namabarang %></td>
                      <td style="min-width: 100px"><%= test.kodebarang %></td>
                      <td style="min-width: 50px"><%= test.panjang %></td>
                      <td style="min-width: 50px"><%= test.lebar %></td>
                      <td style="min-width: 20px"><%= test.quantity %></td>
                      <td style="min-width: 50px"><%= test.bonus %></td>
                      <td style="min-width: 100px"><%= currency(test.harga_master) %></td>
                      <td style="min-width: 100px"><%= currency(test.harga_laporan) %></td>
                      <td style="min-width: 100px"><%= test.discount_1_master %></td>
                      <td style="min-width: 100px"><%= test.discount_1_laporan %></td>
                      <td style="min-width: 100px"><%= test.discount_2_master %></td>
                      <td style="min-width: 100px"><%= test.discount_2_laporan %></td>
                      <td style="min-width: 100px"><%= test.discount_3_master %></td>
                      <td style="min-width: 100px"><%= test.discount_3_laporan %></td>
                      <td style="min-width: 100px"><%= test.discount_4_master %></td>
                      <td style="min-width: 100px"><%= test.discount_4_master %></td>
                      <td style="min-width: 100px"><%= currency(test.netto2) %></td>
                      <td style="min-width: 100px"><%= currency(test.upgrade_master) %></td>
                      <td style="min-width: 100px"><%= currency(test.upgrade_laporan) %></td>
                      <td style="min-width: 100px"><%= currency(test.cashback_master) %></td>
                      <td style="min-width: 100px"><%= currency(test.cashback_master) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <br />
              <span><%= radio_button_tag "saac",  "checked"  %>Set as checked</span><br />
              <span><%= radio_button_tag "saac",  "cs"  %>Set as customer services</span>
              <%= hidden_field_tag 'nofaktur', @test.nofaktur %>
              <%= hidden_field_tag 'branch_price_list', params[:branch_price_list] %>
              <%= hidden_field_tag 'brand_price_list', params[:brand_price_list] %>
              <%= hidden_field_tag 'month_price_list', params[:month_price_list] %>
              <% if params[:date].nil? %>
                <%= hidden_field_tag 'date', params[:date_update].to_i %>
              <% else %>
                <%= hidden_field_tag 'date', params[:date][:year].to_i %>
              <% end %>
              <span style="float: right"><%= submit_tag "Next", class: "btn btn-primary" %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>