<div class="clear"></div>
<br /><h1>Annual Sales Performances</h1><br />

<%= form_tag laporan_cabang_comparison_by_year_path, :method => 'get' do %>
  <br />
  <p>
    <%= label_tag 'Periode' %>
    <%= text_field_tag 'periode', nil, :class => "input_form" %>
  </p>
  <br />
  <p>
    <%= submit_tag "Search", :class => "button" %>
  </p>
<% end %>
<br />
<div class="clear"></div>

<% unless params[:periode].nil? || params[:periode].empty? %>
  <table id="table_year" class="pretty">
    <p>WEEKLY SALES PERFORMANCE</p>
    <p><%= @periode.strftime('%B %Y')  %></p>
    <p>WEEK <%= @periode.to_date.cweek %></p><br />
    <p>Classic Brand</p><br />
    <thead>
      <tr>
        <th rowspan="4">Branches</th>
        <th colspan="14">Comparison</th>
      </tr>
      <tr>
        <th colspan="3">Last Week</th>
        <th colspan="3">This Week</th>
        <th colspan="3">Total bulan berjalan <br /> s/d <%= @periode.strftime('%d %B')  %></th>
        <th colspan="3">Akumulasi Total</th>
      </tr>
      <tr>
        <% (1..2).each do |loop| %>
          <th><%= 1.year.ago(@periode).year %></th>
          <th><%= @periode.year %></th>
          <th rowspan="2">%</th>
        <% end %>
        <th rowspan="2"><%= 1.year.ago(@periode).year %></th>
        <th rowspan="2"><%= @periode.year %></th>
        <th rowspan="2">%</th>
        <th rowspan="2">Jan s/d <br /> <%= 1.year.ago(@periode).strftime('%d %b %Y') %></th>
        <th rowspan="2">Jan s/d <br /> <%= @periode.strftime('%d %b %Y') %></th>
        <th rowspan="2">%</th>
      </tr>
      <tr>
         <th><%= @last_week_on_last_year_first_day.strftime('%d') %>-<%= @last_week_on_last_year_last_day.strftime('%d %b') %></th>
         <th><%= @last_week_on_current_year_first_day.strftime('%d') %>-<%= @last_week_on_current_year_last_day.strftime('%d %b') %></th>
         <th><%= @this_week_on_last_year_first_day.strftime('%d') %> - <%= @this_week_on_last_year_last_day.strftime('%d %b')  %></th>
         <th><%= @this_week_on_current_year_first_day.strftime('%d') %> - <%= @this_week_on_current_year_last_day.strftime('%d %b')  %></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="row">Total</th>
        <% (1..12).each do  %>
          <td></td>
        <% end %>
      </tr>
    </tfoot>
    <tbody>
      <% @cabang_get_id.each do |cabang| %>
        <tr>
          <% laporan_cabang_by_cabang =  cabang.laporan_cabang %>
          <th scope="row"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
          <td><%= weekly_last_week_on_last_year = currency(laporan_cabang_by_cabang.weekly_sum_last_week_on_last_year(@last_week_on_last_year_first_day, @last_week_on_last_year_last_day, 'Classic')) %></td>
          <td><%= weekly_last_week_on_current_year = currency(laporan_cabang_by_cabang.weekly_sum_last_week_on_current_year(@last_week_on_current_year_first_day, @last_week_on_current_year_last_day, 'Classic')) %></td>
          <td><%= weekly_last_week_on_last_year.to_i == 0 &&  weekly_last_week_on_current_year.to_i ? 0 : percentage(cabang.laporan_cabang.get_percentage(weekly_last_week_on_last_year.gsub(/\./, ''), weekly_last_week_on_current_year.gsub(/\./, ''))) %></td>

          <td><%= weekly_this_week_on_last_year = currency(laporan_cabang_by_cabang.weekly_sum_week_on_last_year(@this_week_on_last_year_first_day, @this_week_on_last_year_last_day, 'Classic')) %></td>
          <td><%= weekly_this_week_on_current_year = currency(laporan_cabang_by_cabang.weekly_sum_week_on_current_year(@this_week_on_current_year_first_day, @this_week_on_current_year_last_day, 'Classic')) %></td>
          <td><%= weekly_this_week_on_last_year.to_i == 0 &&  weekly_this_week_on_current_year.to_i ? 0 : percentage(cabang.laporan_cabang.get_percentage(weekly_this_week_on_last_year.gsub(/\./, ''), weekly_this_week_on_current_year.gsub(/\./, ''))) %></td>

          <td><%= monthly_last_year_classic =  currency(laporan_cabang_by_cabang.monthly_sum_last_year(@periode.to_date, 'Classic')) %></td>
          <td><%= monthly_current_year_classic = currency(laporan_cabang_by_cabang.monthly_sum_current_year(@periode.to_date, 'Classic')) %></td>
          <td><%= monthly_last_year_classic.to_i == 0 && monthly_current_year_classic.to_i == 0 ? 0 : percentage(cabang.laporan_cabang.get_percentage(monthly_last_year_classic.gsub(/\./, ''), monthly_current_year_classic.gsub(/\./, ''))) %></td>

          <td><%= yearly_last_year_classic = currency(laporan_cabang_by_cabang.yearly_sum_last_year(@periode.to_date, 'Classic')) %></td>
          <td><%= yearly_current_year_classic = currency(laporan_cabang_by_cabang.yearly_sum_current_year(@periode.to_date, 'Classic')) %></td>
          <td><%= yearly_last_year_classic.to_i == 0 && yearly_current_year_classic.to_i == 0 ? 0 : percentage(cabang.laporan_cabang.get_percentage(yearly_last_year_classic.gsub(/\./, ''), yearly_current_year_classic.gsub(/\./, ''))) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <table id="table_year_elite" class="pretty">
    <p>WEEKLY SALES PERFORMANCE</p>
    <p><%= @periode.to_date.strftime('%B %Y')  %></p>
    <p>WEEK <%= @periode.to_date.cweek %></p><br />
    <p>Elite Brand</p>
    <thead>
      <tr>
        <th rowspan="5">Branches</th>
        <th colspan="20">Comparison</th>
      </tr>
      <tr>
        <th colspan="6">Serenity</th>
        <th colspan="6">Non Serenity</th>
      </tr>
      <tr>
        <% (1..2).each do |loop| %>
          <th colspan="3">Last Week</th>
          <th colspan="3">This Week</th>
        <% end %>
      </tr>
      <tr>
        <% (1..4).each do |loop| %>
          <th><%= 1.year.ago(@periode.to_date).year %></th>
          <th><%= @periode.to_date.year %></th>
          <th rowspan="2">%</th>
        <% end %>
      </tr>
      <tr>
        <% (1..2).each do |loop| %>
        	<th><%= @last_week_on_last_year_first_day.strftime('%d') %>-<%= @last_week_on_last_year_last_day.strftime('%d %b') %></th>
         	<th><%= @last_week_on_current_year_first_day.strftime('%d') %>-<%= @last_week_on_current_year_last_day.strftime('%d %b') %></th>
         	<th><%= @this_week_on_last_year_first_day.strftime('%d') %> - <%= @this_week_on_last_year_last_day.strftime('%d %b')  %></th>
         	<th><%= @this_week_on_current_year_first_day.strftime('%d') %> - <%= @this_week_on_current_year_last_day.strftime('%d %b')  %></th>
        <% end %>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="row">Total</th>
        <% (1..12).each do %>
          <td></td>
        <% end %>
      </tr>
    </tfoot>
    <tbody>
      <% @cabang_get_id.each do |cabang| %>
        <tr>
          <% laporan_cabang_by_cabang =  cabang.laporan_cabang %>
          <th scope="row"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
          <td><%= weekly_last_week_on_last_year = currency(laporan_cabang_by_cabang.weekly_sum_last_week_on_last_year(@last_week_on_last_year_first_day, @last_week_on_last_year_last_day, 'Serenity')) %></td>
          <td><%= weekly_last_week_on_current_year = currency(laporan_cabang_by_cabang.weekly_sum_last_week_on_current_year(@last_week_on_current_year_first_day, @last_week_on_current_year_last_day, 'Serenity')) %></td>
          <td><%= weekly_last_week_on_last_year.to_i == 0 &&  weekly_last_week_on_current_year.to_i ? 0 : percentage(cabang.laporan_cabang.get_percentage(weekly_last_week_on_last_year.gsub(/\./, ''), weekly_last_week_on_current_year.gsub(/\./, ''))) %></td>

          <td><%= weekly_this_week_on_last_year = currency(laporan_cabang_by_cabang.weekly_sum_week_on_last_year(@this_week_on_last_year_first_day, @this_week_on_last_year_last_day, 'Serenity')) %></td>
          <td><%= weekly_this_week_on_current_year = currency(laporan_cabang_by_cabang.weekly_sum_week_on_current_year(@this_week_on_current_year_first_day, @this_week_on_current_year_last_day, 'Serenity')) %></td>
          <td><%= weekly_this_week_on_last_year.to_i == 0 &&  weekly_this_week_on_current_year.to_i ? 0 : percentage(cabang.laporan_cabang.get_percentage(weekly_this_week_on_last_year.gsub(/\./, ''), weekly_this_week_on_current_year.gsub(/\./, ''))) %></td>

          <td><%= weekly_last_week_on_last_year = currency(laporan_cabang_by_cabang.weekly_sum_last_week_on_last_year(@last_week_on_last_year_first_day, @last_week_on_last_year_last_day, 'Non Serenity')) %></td>
          <td><%= weekly_last_week_on_current_year = currency(laporan_cabang_by_cabang.weekly_sum_last_week_on_current_year(@last_week_on_current_year_first_day, @last_week_on_current_year_last_day, 'Non Serenity')) %></td>
          <td><%= weekly_last_week_on_last_year.to_i == 0 &&  weekly_last_week_on_current_year.to_i ? 0 : percentage(cabang.laporan_cabang.get_percentage(weekly_last_week_on_last_year.gsub(/\./, ''), weekly_last_week_on_current_year.gsub(/\./, ''))) %></td>

          <td><%= weekly_this_week_on_last_year = currency(laporan_cabang_by_cabang.weekly_sum_week_on_last_year(@this_week_on_last_year_first_day, @this_week_on_last_year_last_day, 'Non Serenity')) %></td>
          <td><%= weekly_this_week_on_current_year = currency(laporan_cabang_by_cabang.weekly_sum_week_on_current_year(@this_week_on_current_year_first_day, @this_week_on_current_year_last_day, 'Non Serenity')) %></td>
          <td><%= weekly_this_week_on_last_year.to_i == 0 &&  weekly_this_week_on_current_year.to_i ? 0 : percentage(cabang.laporan_cabang.get_percentage(weekly_this_week_on_last_year.gsub(/\./, ''), weekly_this_week_on_current_year.gsub(/\./, ''))) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <table id="table_year_elite_month_and_year" class="pretty">
    <thead>
      <tr>
        <th rowspan="3">Branches</th>
        <th colspan="10">Comparison</th>
      </tr>
      <tr>
        <th colspan="3">Total bulan berjalan <br /> s/d <%= @periode.to_date.strftime('%d %B')  %></th>
        <th colspan="3">Akumulasi Total</th>
        <th colspan="4">Target</th>
      </tr>
      <tr>
        <th><%= 1.year.ago(@periode.to_date).year %></th>
        <th><%= @periode.to_date.year %></th>
        <th>%</th>
        <th>Jan s/d <br /> <%= 1.year.ago(@periode.to_date).strftime('%d %b %Y') %></th>
        <th>Jan s/d <br /> <%= @periode.to_date.strftime('%d %b %Y') %></th>
        <th>%</th>
        <th><%= @periode.to_date.strftime('%B %Y') %></th>
        <th>Achievement</th>
        <th><%= @periode.to_date.strftime('%Y') %></th>
        <th>Achievement</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="row">Total</th>
        <% (1..10).each do %>
          <td></td>
        <% end %>
      </tr>
    </tfoot>
    <tbody>
      <% @cabang_get_id.each do |cabang| %>
        <tr>
          <% laporan_cabang_by_cabang =  cabang.laporan_cabang %>
          <th scope="row"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
          <td><%= monthly_last_year_elite =  currency(laporan_cabang_by_cabang.monthly_sum_last_year_multiple_jenis(@periode.to_date, ["Serenity", "Non Serenity"])) %></td>
          <td><%= monthly_current_year_elite = currency(laporan_cabang_by_cabang.monthly_sum_current_year_multiple_jenis(@periode.to_date, ["Serenity", "Non Serenity"])) %></td>
          <td><%= monthly_last_year_elite.to_i == 0 && monthly_current_year_elite.to_i == 0 ? 0 : percentage(cabang.laporan_cabang.get_percentage(monthly_last_year_elite.gsub(/\./, ''), monthly_current_year_elite.gsub(/\./, ''))) %></td>

          <td><%= yearly_last_year_elite = currency(laporan_cabang_by_cabang.yearly_sum_last_year_multiple_jenis(@periode.to_date, ["Serenity", "Non Serenity"])) %></td>
          <td><%= yearly_current_year_elite = currency(laporan_cabang_by_cabang.yearly_sum_current_year_multiple_jenis(@periode.to_date, ["Serenity", "Non Serenity"])) %></td>
          <td><%= yearly_last_year_elite.to_i == 0 && yearly_current_year_elite.to_i == 0 ? 0 : percentage(cabang.laporan_cabang.get_percentage(yearly_last_year_elite.gsub(/\./, ''), yearly_current_year_elite.gsub(/\./, ''))) %></td>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
