<table id="table_year" class="pretty">
  <thead>
    <tr>
      <th rowspan="2">Branches</th>
      <th colspan="7">Annual Sales Branches Report</th>
    </tr>
    <tr>
      <th><%= 3.year.ago.year %></th>
      <th><%= 2.year.ago.year %></th>
      <th><%= 1.year.ago.year %></th>
      <th><%= Date.today.year %></th>
      <th>% change<br>over last year</th>
      <th>% change<br>since <%= 3.year.ago.year %></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th scope="row">Total</th>
      <td>212.920</td>
      <td>214.860</td>
      <td>206.390</td>
      <td>207.535</td>
      <td>2.7</td>
      <td>0.1</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <th scope="row">Bandung</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '02') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '02') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '02') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '02') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Narogong</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '03') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '03') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '03') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '03') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Bali</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '04') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '04') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '04') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '04') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Medan</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '05') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '05') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '05') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '05') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Surabaya</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '06') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '06') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '06') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '06') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Semarang</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '07') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '07') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '07') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '07') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Cirebon</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '08') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '08') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '08') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '08') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Yogyakarta</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '09') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '09') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '09') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '09') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Palembang</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '10') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '10') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '10') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '10') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Lampung</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '11') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '11') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '11') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '11') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Meruya</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '12') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '12') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '12') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '12') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Makasar</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '19') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '19') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '19') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '19') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Pekanbaru</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '20') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '20') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '20') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '20') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th scope="row">Jember</th>
      <td><%= LaporanCabang.query_by_year_and_idcabang(3.year.ago.year, '22') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(2.year.ago.year, '22') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(1.year.ago.year, '22') %></td>
      <td><%= LaporanCabang.query_by_year_and_idcabang(Date.today.year, '22') %></td>
      <td>1.4</td>
      <td>3.4</td>
    </tr>
  </tbody>
</table>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#table_year').dataTable( {
      sPaginationType: "full_numbers"
    } );
  } );
</script>