<div class="form-div">
  <%= form_tag laporan_cabang_control_branches_sales_path, :method => 'get', :class => "control_branches" do %>
    <fieldset>
      <legend>Control Branches Sales</legend>
      <div class="block-content">
        <div class="control-group">
          <%= label_tag 'from' %>
          <%= text_field_tag 'from', nil, :placeholder => "From Date"  %>
        </div>
        <div class="control-group">
          <%= label_tag 'to' %>
          <%= text_field_tag 'to', nil, :placeholder => "To Date" %>
        </div>
        <div class="control-group">
          <%= label_tag 'Category' %>
          <%= select_tag 'category', options_for_select(["Stock", "Penjualan"], params[:category]), {:class => "select", :prompt => 'Select Kategori'} %>
        </div>
        <div class="control-group">
          <button type="submit" class="btn btn-primary">
            <%= params[:from].blank? ? 'Search' : 'Refine Search' %>
          </button>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>

<br />
<div class="clear"></div>

<% unless params[:from].nil? || params[:to].nil? || params[:category].nil? %>
  <% unless params[:from].empty? || params[:to].empty? || params[:category].empty? %>
    <table id="table_control_branch" class="display">
      <thead>
        <tr>
          <th rowspan="3">Dates</th>
          <th colspan="35">Annual Control <%= params[:category] == "Penjualan" ? "Sales" : "Stock" %> Branches Report</th>
        </tr>
        <tr>
          <% Cabang.get_id_to_7.each do |cabang| %>
            <th colspan="4"><%= cabang.Alias %></th>
          <% end %>
        </tr>
        <tr>
          <% (1..9).each do |a| %>
            <th>E</th>
            <th>S</th>
            <th>L</th>
            <th bgcolor="#E2E4FF">R</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
        <% @dates.each do |date| %>
          <tr>
            <th scope="row"><%= date.strftime("%d/%b/%y") %></th>
            <% @cabang_get_id_first.each do |cab| %>
              <% if params[:category] == "Penjualan" %>
                <td><%= cab.laporan_cabang.check_invoices(date, ["Non Serenity", "ELITE"]).limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
                <td><%= cab.laporan_cabang.check_invoices(date, "Serenity").limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
                <td><%= cab.laporan_cabang.check_invoices(date, ["Lady Americana", "LADY"]).limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
                <td bgcolor="#E2E4FF"><%= cab.laporan_cabang.check_invoices(date, "Royal").limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
              <% else %>
                <td><%= cab.stock.control_stock(date, "E").order("id desc").limit(1).any? ? image_tag("checkmark.gif") : "" %></td>
                <td><%= cab.stock.control_stock(date, "S").order("id desc").limit(1).any? ? image_tag("checkmark.gif") : "" %></td>
                <td><%= cab.stock.control_stock(date, "L").order("id desc").limit(1).any? ? image_tag("checkmark.gif") : "" %></td>
                <td><%= cab.stock.control_stock(date, "R").order("id desc").limit(1).any? ? image_tag("checkmark.gif") : "" %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table id="table_control_branch2" class="display">
      <thead>
        <tr>
          <th rowspan="3">Dates</th>
          <th colspan="35">Annual Control <%= params[:category] == "Penjualan" ? "Sales" : "Stock" %> Branches Report</th>
        </tr>
        <tr>
          <% Cabang.get_id_to_22.each do |cabang| %>
            <th colspan="4"><%= cabang.Alias %></th>
          <% end %>
        </tr>
        <tr>
          <% (1..8).each do |a| %>
            <th>E</th>
            <th>S</th>
            <th>L</th>
            <th bgcolor="#E2E4FF">R</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
        <% @dates.each do |date| %>
          <tr>
            <th scope="row"><%= date.strftime("%d/%b/%y") %></th>
            <% @cabang_get_id_second.each do |cab| %>
              <% if params[:category] == "Penjualan" %>
                <td><%= cab.laporan_cabang.check_invoices(date, ["Non Serenity", "ELITE"]).limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
                <td><%= cab.laporan_cabang.check_invoices(date, "Serenity").limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
                <td><%= cab.laporan_cabang.check_invoices(date, ["Lady Americana", "LADY"]).limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
                <td bgcolor="#E2E4FF"><%= cab.laporan_cabang.check_invoices(date, "Royal").limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
              <% else %>
                <td><%= cab.stock.control_stock(date, "E").order("id desc").limit(1).any? ? image_tag("checkmark.gif") : "" %></td>
                <td><%= cab.stock.control_stock(date, "S").order("id desc").limit(1).any? ? image_tag("checkmark.gif") : "" %></td>
                <td><%= cab.stock.control_stock(date, "L").order("id desc").limit(1).any? ? image_tag("checkmark.gif") : "" %></td>
                <td><%= cab.stock.control_stock(date, "R").order("id desc").limit(1).any? ? image_tag("checkmark.gif") : "" %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>