<div class="form-div">
  <%= form_tag laporan_cabang_control_branches_sales_path, :method => 'get', :html => {:class => "well"} do %>
    <fieldset>
      <legend>Control Branches Sales</legend>
      <label>From</label>
      <%= text_field_tag 'from', nil, :placeholder => "From Date"  %>
      <label>To</label>
      <%= text_field_tag 'to', nil, :placeholder => "To Date" %>
      <%= label_tag 'Category' %>
      <%= select_tag 'category', "<option>Stock</option><option>Penjualan</option>".html_safe,
        :prompt => "--Select Category--", :include_blank => false %><br />
      <%= submit_tag "Search", :class => "btn btn-primary" %>
    </fieldset>
  <% end %>
</div>

<br />
<div class="clear"></div>

<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
    <table id="table_control_branch" class="display">
      <thead>
        <tr>
          <th rowspan="3">Dates</th>
          <th colspan="35">Annual Control <%= params[:category] == "Penjualan" ? "Sales" : "Stock" %> Branches Report</th>
        </tr>
        <tr>
          <% Cabang.get_id_to_7.each do |cabang| %>
            <th colspan="4"><%= cabang.Alias %></th>
          <% end %>
        </tr>
        <tr>
          <% (1..8).each do |a| %>
            <th>E</th>
            <th>S</th>
            <th>L</th>
            <th>R</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
        <% @dates.each do |date| %>
          <tr>
            <th scope="row"><%= date.strftime("%d/%b/%y") %></th>
            <% @cabang_get_id_first.each do |cab| %>
              <% if params[:category] == "Penjualan" %>
                <td><%= cab.laporan_cabang.check_invoices(date, "Non Serenity").limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
                <td><%= cab.laporan_cabang.check_invoices(date, "Serenity").limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
                <td><%= cab.laporan_cabang.check_invoices(date, "Lady Americana").limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
                <td><%= cab.laporan_cabang.check_invoices(date, "Royal").limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
              <% else %>
                <td><%= cab.stock.control_stock(date).order("id desc").limit(1).any? ? image_tag("checkmark.gif") : "" %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table id="table_control_branch2" class="display">
      <thead>
        <tr>
          <th rowspan="3">Dates</th>
          <th colspan="35">Annual Control <%= params[:category] == "Penjualan" ? "Sales" : "Stock" %> Branches Report</th>
        </tr>
        <tr>
          <% Cabang.get_id_to_22.each do |cabang| %>
            <th colspan="4"><%= cabang.Alias %></th>
          <% end %>
        </tr>
        <tr>
          <% (1..8).each do |a| %>
            <th>E</th>
            <th>S</th>
            <th>L</th>
            <th>R</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
        <% @dates.each do |date| %>
          <tr>
            <th scope="row"><%= date.strftime("%d/%b/%y") %></th>
            <% @cabang_get_id_second.each do |cab| %>
              <% if params[:category] == "Penjualan" %>
                <td><%= cab.laporan_cabang.check_invoices(date, "Non Serenity").limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
                <td><%= cab.laporan_cabang.check_invoices(date, "Serenity").limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
                <td><%= cab.laporan_cabang.check_invoices(date, "Lady Americana").limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
                <td><%= cab.laporan_cabang.check_invoices(date, "Royal").limit(1).any? ? image_tag("checkmark.gif") : "0" %></td>
              <% else %>
                <td><%= cab.stock.control_stock(date).order("id desc").limit(1).any? ? image_tag("checkmark.gif") : "" %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
