<div style="clear:both;"></div>

<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
    <h2 style="font-size: 17px; position: absolute; left: 250px;"><i>Sales <%= Merk.merk_name(params[:merk_id]).first.Merk %> Brand Customer Report Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br /><br />
		<div class="offset1">
			<div class="form-inline">
		    <label id="customer"></label>
		    <label id="tipe"></label>
		    <label id="artikel"></label>
		    <label id="kain"></label>
		    <label id="panjang"></label>
		    <label id="lebar"></label>
		    <label id="market" ></label>
			</div>
		</div>
    <br />
    <table border="1" id="customer_by_store" class="display">
      <thead>
        <tr>
          <th>Cabang</th>
          <th>Kota</th>
          <th>Customer</th>
          <th>Qty</th>
          <th>Value</th>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
        <% @customerstore.each do |laporan| %>
          <tr>
            <td><%= laporan.cabang.Cabang.gsub(/Cabang/, "") %></td>
            <td><%= laporan.kota %></td>
            <td><%= laporan.customer %></td>
						<% LaporanCabang.customer_by_store(params[:from], params[:to], laporan.customer, laporan.cabang).each do |customer| %>
		          <td><%= customer.sum_jumlah.to_i %></td>
		          <td><%= currency(customer.sum_harganetto2) %></td>
						<% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<br />
<div class="offset3"><label>If you want to compare these results with last year, please click the button below</label></div>
<div class="offset3">
 <div class="form-inline">
  <%= link_to "Compare by Last Month", laporan_cabang_customer_last_month_path(:from => params[:from], :to => params[:to], 
		:merk_id => params[:merk_id]), 
		:method => :get, :class=>"btn btn-info" %>
  <%= link_to "Compare by Last Year", laporan_cabang_customer_last_year_path(:from => params[:from], :to => params[:to], 
		:merk_id => params[:merk_id]), :method => :get, :class=>"btn btn-info" %>
  <%= link_to "Compare Monthly", laporan_cabang_customer_monthly_path(:from => params[:from], :to => params[:to], 
		:merk_id => params[:merk_id]),:method => :get, :class=>"btn btn-info" %>
 </div>
</div>
<br />
<label>Do you want to export to Excel? <%= link_to 'Export', url_for(:format => 'xls', :from => params[:from], :to => params[:to], 
	:merk_id => params[:merk_id]), :class=>"btn btn-info" %></label>
