<br /><h1>Sales <%= Merk.merk_name(params[:merk_id]).first.Merk %> Categories Report</h1><br />
<%= form_tag laporan_cabang_group_by_merk_path, :method => 'get' do %>
  <p>
    <br />
    <%= label_tag 'From' %>
    <%= text_field_tag 'from', nil, :class => "input_form"  %>
  </p><br />
  <p>
    <%= label_tag 'To' %>
    <%= text_field_tag 'to', nil, :class => "input_form" %>
  </p>
  <br /><br />
  <p>
    <%= submit_tag "Search", :class => "button" %>
  </p>
<% end %>
<br />
<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
    <form id="radio_button_form" style="width: 1300px; height: 43px">
      <p style="position: absolute; right: 598px; top: 4px"><%= link_to "<button class='group_by ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>Customer</button>".html_safe, laporan_cabang_group_by_merk_customer_path(:merk_id => params[:merk_id],:from => params[:from], :to => params[:to] ), :method => :get %></p>
      <p style="position: absolute; right: 494px; top: 4px"><%= link_to "<button class='group_by ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>Size</button>".html_safe, laporan_cabang_group_by_merk_size_path(:merk_id => params[:merk_id], :from => params[:from], :to => params[:to] ), :method => :get %></p>
      <p style="position: absolute; right: 701px; top: 4px"><%= link_to "<button class='group_by ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>Compare</button>".html_safe, laporan_cabang_group_categories_comparison_path(:merk_id => params[:merk_id], :from => params[:from], :to => params[:to]), :method => :get %></p>
      <p style="position: absolute; right: 390px; top: 4px"><%= link_to "<button class='group_by ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>Type</button>".html_safe, laporan_cabang_group_by_merk_type_path(:merk_id => params[:merk_id], :from => params[:from], :to => params[:to] ), :method => :get %></p>
    </form>
    <br />
    <h2 style="font-size: 17px; position: absolute; left: 451px;"><i>Sales <%= Merk.merk_name(params[:merk_id]).first.Merk %> Categories Report Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br /><br />
    <table border="1" id="group_by_cabang" class="display">
      <thead>
        <tr>
          <th rowspan="3"><%= Merk.merk_name(params[:merk_id]).first.Merk %> Categories	</th>
        </tr>
        <tr>
          <% @cabang_get_id_to_7.each do |cabang| %>
            <th colspan="2"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
          <% end %>
        </tr>
        <tr>
          <% (1..7).each do %>
            <th>Qty</th>
            <th>Value</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <% (1..14).each do  %>
            <td></td>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
        <% @category_merk.each do |merk| %>
          <tr>
            <td><%= merk.NamaBrand %></td>
            <% LaporanCabang.sum_by_value_merk(2, merk.KodeBrand, params[:from], params[:to]).each do |a| %>
              <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
              <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
            <% end %>
            <!-- Narogong -->
            <% LaporanCabang.sum_by_value_merk(3, merk.KodeBrand, params[:from], params[:to]).each do |a| %>
              <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
              <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
            <% end %>
            <!-- Bali -->
            <% LaporanCabang.sum_by_value_merk(4, merk.KodeBrand, params[:from], params[:to]).each do |a| %>
              <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
              <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
            <% end %>
            <!-- Medan -->
            <% LaporanCabang.sum_by_value_merk(5, merk.KodeBrand, params[:from], params[:to]).each do |a| %>
              <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
              <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
            <% end %>
            <!-- Surabaya -->
            <% LaporanCabang.sum_by_value_merk(7, merk.KodeBrand, params[:from], params[:to]).each do |a| %>
              <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
              <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
            <% end %>
            <!-- Semarang -->
            <% LaporanCabang.sum_by_value_merk(8, merk.KodeBrand, params[:from], params[:to]).each do |a| %>
              <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
              <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
            <% end %>
            <!-- Cirebon -->
            <% LaporanCabang.sum_by_value_merk(9, merk.KodeBrand, params[:from], params[:to]).each do |a| %>
              <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
              <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
		</br>
		<table border="1" id="group_by_cabang_2" class="display">
      <thead>
        <tr>
          <th rowspan="3"><%= Merk.merk_name(params[:merk_id]).first.Merk %> Categories	</th>
        </tr>
        <tr>
          <% @cabang_get_id_to_22.each do |cabang| %>
            <th colspan="2"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
          <% end %>
        </tr>
        <tr>
          <% (1..6).each do %>
            <th>Qty</th>
            <th>Value</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <% (1..12).each do  %>
            <td></td>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
        <% @category_merk.each do |merk| %>
          <tr>
            <td><%= merk.NamaBrand %></td>
            <!-- Yogyakarta -->
            <% LaporanCabang.sum_by_value_merk(10, merk.KodeBrand, params[:from], params[:to]).each do |a| %>
              <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
              <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
            <% end %>
            <!-- Palembang -->
            <% LaporanCabang.sum_by_value_merk(11, merk.KodeBrand, params[:from], params[:to]).each do |a| %>
              <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
              <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
            <% end %>
            <!-- Lampung -->
            <% LaporanCabang.sum_by_value_merk(13, merk.KodeBrand, params[:from], params[:to]).each do |a| %>
              <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
              <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
            <% end %>
            <!-- Makasar -->
            <% LaporanCabang.sum_by_value_merk(19, merk.KodeBrand, params[:from], params[:to]).each do |a| %>
              <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
              <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
            <% end %>
            <!-- Pekanbaru -->
            <% LaporanCabang.sum_by_value_merk(20, merk.KodeBrand, params[:from], params[:to]).each do |a| %>
              <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
              <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
            <% end %>
            <!-- Jember -->
            <% LaporanCabang.sum_by_value_merk(22, merk.KodeBrand, params[:from], params[:to]).each do |a| %>
              <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
              <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
		</br>
		<% LaporanCabang.calculation_by_date_merk(params[:merk_id], params[:from], params[:to]).each do |calc| %>
			<h2>Total of Value : Rp. <%= currency(calc.sum_harganetto2) %> </h2>
			<h2>Total of Quantity : <%= calc.sum_jumlah.to_i %></h2>
		<% end %>
  <% end %>
<% end %>
