<div class="form-div">
	<%= form_tag laporan_cabang_group_by_customer_path, :method => 'get', :html => {:class => "well"} do %>
		<fieldset>
			<legend>Sales <%= Merk.merk_name(params[:merk_id]).first.Merk %> Brand Customer Report</legend>
			<%= label_tag 'From' %>
			<%= text_field_tag 'from', nil, :placeholder => "From Date"  %>
			<%= label_tag 'To' %>
			<%= text_field_tag 'to', nil, :placeholder => "To Date" %><br />
			<button type="submit" class="btn btn-primary">Search</button>
		</fieldset>
	<% end %>
</div>

<br />
<div class="clear"></div>

<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
    <h2 style="font-size: 17px; position: absolute; left: 350px;"><i>Sales <%= Merk.merk_name(params[:merk_id]).first.Merk %> Brand Customer Report Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br />
    <br />
		<table border="1" id="group_by_customer" class="display">
      <thead>
        <tr>
          <th rowspan="3">Customers</th>
        </tr>
        <tr>
          <th colspan="2"><%= link_to 'ES', laporan_cabang_index_path(:merk_id => params[:merk_id], :customer => "ES", :from => params[:from], :to => params[:to]) %></th>
					<th colspan="2"><%= link_to 'SOGO', laporan_cabang_index_path(:merk_id => params[:merk_id], :customer => "SOGO", :from => params[:from], :to => params[:to]) %></th>
					<th colspan="2"><%= link_to 'SHOWROOM', laporan_cabang_index_path(:merk_id => params[:merk_id], :customer => "SHOWROOM", :from => params[:from], :to => params[:to]) %></th>
					<th colspan="2"><%= link_to 'RETAIL', laporan_cabang_index_path(:merk_id => params[:merk_id], :customer => "ES", :customer2 => "SOGO",:from => params[:from], :to => params[:to]) %></th>
        </tr>
        <tr>
          <% (1..4).each do %>
            <th>Qty</th>
            <th>Value</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <% (1..8).each do  %>
            <td></td>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
      	<% @cabang_get_id.each do |cabang| %>
					<tr>
            <td><%= cabang.Cabang.gsub(/Cabang/, "") %></td>
						<% cabang.laporan_cabang.get_value_categories_customer(params[:merk_id], "ES", params[:from], params[:to]).each do |es| %>
		          <td><%= es.sum_jumlah.nil? ? "0" : es.sum_jumlah.to_i %></td>
              <td><%= es.sum_harganetto2.nil? ? "0" : currency(es.sum_harganetto2) %></td>
						<% end %>
           <% cabang.laporan_cabang.get_value_categories_customer(params[:merk_id], "SOGO", params[:from], params[:to]).each do |sogo| %>
		          <td><%= sogo.sum_jumlah.nil? ? "0" : sogo.sum_jumlah.to_i %></td>
              <td><%= sogo.sum_harganetto2.nil? ? "0" : currency(sogo.sum_harganetto2) %></td>
						<% end %>
           <% cabang.laporan_cabang.get_value_categories_customer(params[:merk_id], "SHOWROOM", params[:from], params[:to]).each do |showroom| %>
		          <td><%= showroom.sum_jumlah.nil? ? "0" : showroom.sum_jumlah.to_i %></td>
              <td><%= showroom.sum_harganetto2.nil? ? "0" : currency(showroom.sum_harganetto2) %></td>
						<% end %>
            <% cabang.laporan_cabang.get_value_categories_customer_retail(params[:merk_id], "ES", "SOGO", params[:from], params[:to]).each do |retail| %>
		          <td><%= retail.sum_jumlah.nil? ? "0" : retail.sum_jumlah.to_i %></td>
              <td><%= retail.sum_harganetto2.nil? ? "0" : currency(retail.sum_harganetto2) %></td>
						<% end %>
        	</tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
	</br>
  <div class="offset3"><label>If you want to compare these results with last year, please click the button below</label></div>
  <div class="offset5">
	 <div class="form-inline">
			<%= link_to "Compare", laporan_cabang_group_category_customer_comparison_path(:merk_id => params[:merk_id], :from => params[:from], 
				:to => params[:to] ), :method => :get, :class=>"btn btn-info" %>
		</div>
	</div>
<% end %>
<br />
<label>Do you want to export to Excel? <%= link_to 'Export', url_for(:format => 'xls', :from => params[:from], :to => params[:to], 
	:merk_id => params[:merk_id]), :class=>"btn btn-info" %></label>
