
    <h2 style="font-size: 17px; position: absolute; left: 350px;"><i>Sales Report by Customer Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br />
    <br />
		<table>
      <thead>
        <tr>
          <th rowspan="3">Customers</th>
        </tr>
        <tr>
          <th colspan="2">ES</th>
					<th colspan="2">SOGO</th>
					<th colspan="2">SHOWROOM</th>
					<th colspan="2">RETAIL</th>
        </tr>
        <tr>
          <% (1..4).each do %>
            <th>Qty</th>
            <th>Value</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <% (1..8).each do  %>
            <td></td>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
      	<% @cabang_get_id.each do |cabang| %>
					<tr>
            <td><%= cabang.Cabang.gsub(/Cabang/, "") %></td>
						<% cabang.laporan_cabang.get_value_customer("ES", params[:from], params[:to]).each do |es| %>
		          <td><%= es.sum_jumlah.nil? ? "0" : es.sum_jumlah.to_i %></td>
              <td><%= es.sum_harganetto2.nil? ? "0" : currency(es.sum_harganetto2) %></td>
						<% end %>
           <% cabang.laporan_cabang.get_value_customer("SOGO", params[:from], params[:to]).each do |sogo| %>
		          <td><%= sogo.sum_jumlah.nil? ? "0" : sogo.sum_jumlah.to_i %></td>
              <td><%= sogo.sum_harganetto2.nil? ? "0" : currency(sogo.sum_harganetto2) %></td>
						<% end %>
           <% cabang.laporan_cabang.get_value_customer("SHOWROOM", params[:from], params[:to]).each do |showroom| %>
		          <td><%= showroom.sum_jumlah.nil? ? "0" : showroom.sum_jumlah.to_i %></td>
              <td><%= showroom.sum_harganetto2.nil? ? "0" : currency(showroom.sum_harganetto2) %></td>
						<% end %>
            <% cabang.laporan_cabang.get_value_customer_retail("ES", "SOGO", params[:from], params[:to]).each do |retail| %>
		          <td><%= retail.sum_jumlah.nil? ? "0" : retail.sum_jumlah.to_i %></td>
              <td><%= retail.sum_harganetto2.nil? ? "0" : currency(retail.sum_harganetto2) %></td>
						<% end %>
        	</tr>
        <% end %>
      </tbody>
    </table>
