<br /><h1>Sales Report by Brand</h1><br />
<%= form_tag laporan_cabang_group_by_cabang_path, :method => 'get' do %>
  <p>
    <br />
    <%= label_tag 'From' %>
    <%= text_field_tag 'from', nil, :class => "input_form"  %>
  </p><br />
  <p>
    <%= label_tag 'To' %>
    <%= text_field_tag 'to', nil, :class => "input_form" %>
  </p>
  <br /><br />
  <p>
    <%= submit_tag "Search", :class => "button" %>
  </p>
<% end %>
<br />
<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
    <form id="radio_button_form" style="width: 1300px; height: 43px">
      <p style="position: absolute; right: 697px; top: 4px"><%= link_to "<button class='group_by ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>Compare</button>".html_safe, laporan_cabang_monthly_comparison_path(:from => params[:from], :to => params[:to] ), :method => :get %></p>
      <p style="position: absolute; right: 593px; top: 4px"><%= link_to "<button class='group_by ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>Category</button>".html_safe, laporan_cabang_group_by_category_path(:user_brand => current_user.user_brand, :from => params[:from], :to => params[:to] ), :method => :get %></p>
      <% unless current_user.user_brand != "Admin" %>
      	<p style="position: absolute; right: 489px; top: 4px">
      		<%= link_to "<button class='group_by ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>Type</button>".html_safe, 						laporan_cabang_group_by_type_path(:from => params[:from], :to => params[:to] ), :method => :get %>
      	</p>
      	<p style="position: absolute; right: 385px; top: 4px">
      		<%= link_to "<button class='group_by ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>Customer</button>".html_safe, laporan_cabang_group_by_customer_path(:from => params[:from], :to => params[:to] ), :method => :get %>
      	</p>
      <% end %>
    </form>
		<br />
    <h2 style="font-size: 17px; position: absolute; left: 500px;"><i>Sales Report by Brand Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br /><br />
    <table border="1" id="group_by_cabang" class="display">
      <thead>
        <tr>
          <th rowspan="3">Brand</th>
        </tr>
        <tr>
          <% @cabang_get_id_to_7.each do |cabang| %>
            <th colspan="2"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
          <% end %>
        </tr>
        <tr>
          <% (1..7).each do %>
            <th>Qty</th>
            <th>Value</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <% (1..14).each do  %>
            <td></td>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
				<% Merk.all.each do |merk| %>
          <tr>
          	<% if merk.Merk == current_user.user_brand %>
		          <td><%= link_to merk.Merk, laporan_cabang_group_by_merk_path(:merk_id => merk.IdMerk,
		          	:from => params[:from], :to => params[:to]) %></td>
		        <% elsif current_user.user_brand == "Admin" %>
		          <td><%= link_to merk.Merk, laporan_cabang_group_by_merk_path(:merk_id => merk.IdMerk,
		          	:from => params[:from], :to => params[:to]) %></td>
		        <% else %>
		          <td><%= merk.Merk %></td>
		        <% end %>

            <!-- Bandung -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(2, current_user.user_brand.slice(0) == "A" ? merk.IdMerk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Narogong -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(3, current_user.user_brand.slice(0) == "A" ? merk.IdMerk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Bali -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(4, current_user.user_brand.slice(0) == "A" ? merk.IdMerk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Medan -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(5, current_user.user_brand.slice(0) == "A" ? merk.IdMerk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Surabaya -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(7, current_user.user_brand.slice(0) == "A" ? merk.IdMerk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Semarang -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(8, current_user.user_brand.slice(0) == "A" ? merk.IdMerk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Cirebon -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(9, current_user.user_brand.slice(0) == "A" ? merk.IdMerk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
		</br>
		<table border="1" id="group_by_cabang_2" class="display">
      <thead>
        <tr>
          <th rowspan="3">Brand</th>
        </tr>
        <tr>
          <% @cabang_get_id_to_22.each do |cabang| %>
            <th colspan="2"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
          <% end %>
        </tr>
        <tr>
          <% (1..6).each do %>
            <th>Qty</th>
            <th>Value</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <% (1..12).each do  %>
            <td></td>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
        <% Merk.all.each do |merk| %>
          <tr>
          	<% if merk.Merk == current_user.user_brand %>
		          <td><%= link_to merk.Merk, laporan_cabang_group_by_merk_path(:merk_id => merk.IdMerk,
		          	:from => params[:from], :to => params[:to]) %></td>
		        <% elsif current_user.user_brand == "Admin" %>
		          <td><%= link_to merk.Merk, laporan_cabang_group_by_merk_path(:merk_id => merk.IdMerk,
		          	:from => params[:from], :to => params[:to]) %></td>
		        <% else %>
		          <td><%= merk.Merk %></td>
		        <% end %>

            <!-- Yogyakarta -->
            <% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(10, current_user.user_brand.slice(0) == "A" ? merk.IdMerk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Palembang -->
            <% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(11, current_user.user_brand.slice(0) == "A" ? merk.IdMerk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Lampung -->
            <% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(13, current_user.user_brand.slice(0) == "A" ? merk.IdMerk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Makasar -->
            <% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(19, current_user.user_brand.slice(0) == "A" ? merk.IdMerk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Pekanbaru -->
            <% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(20, current_user.user_brand.slice(0) == "A" ? merk.IdMerk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            	<td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Jember -->
            <% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(22, current_user.user_brand.slice(0) == "A" ? merk.IdMerk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		           	<td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
		</br>
		<% LaporanCabang.calculation_by_date(params[:from], params[:to]).each do |calc| %>
			<h2>Total of Value : Rp. <%= currency(calc.sum_harganetto2) %> </h2>
			<h2>Total of Quantity : <%= calc.sum_jumlah.to_i %></h2>
		<% end %>
  <% end %>
<% end %>
