<h2 style="font-size: 17px; position: absolute; left: 451px;"><i>Sales Report by Category Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
<br />
<br />
<table>
  <thead>
    <tr>
      <th rowspan="3">Category</th>
    </tr>
    <tr>
      <% Cabang.get_id.each do |cabang| %>
        <th colspan="2"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
      <% end %>
    </tr>
    <tr>
      <% (1..7).each do %>
        <th>Qty</th>
        <th>Value</th>
      <% end %>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th scope="row">Total</th>
      <% (1..14).each do  %>
        <td></td>
      <% end %>
    </tr>
  </tfoot>
  <tbody>
    <% @brand.each do |brand| %>
      <tr>
        <td><%= brand.NamaBrand %></td>
        <% LaporanCabang.sum_of_category(2, brand.KodeBrand, params[:from], params[:to]).each do |a| %>
          <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
          <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
        <% end %>
        <!-- Narogong -->
        <% LaporanCabang.sum_of_category(3, brand.KodeBrand, params[:from], params[:to]).each do |a| %>
          <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
          <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
        <% end %>
        <!-- Bali -->
        <% LaporanCabang.sum_of_category(4, brand.KodeBrand, params[:from], params[:to]).each do |a| %>
          <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
          <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
        <% end %>
        <!-- Medan -->
        <% LaporanCabang.sum_of_category(5, brand.KodeBrand, params[:from], params[:to]).each do |a| %>
          <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
          <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
        <% end %>
        <!-- Surabaya -->
        <% LaporanCabang.sum_of_category(7, brand.KodeBrand, params[:from], params[:to]).each do |a| %>
          <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
          <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
        <% end %>
        <!-- Semarang -->
        <% LaporanCabang.sum_of_category(8, brand.KodeBrand, params[:from], params[:to]).each do |a| %>
          <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
          <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
        <% end %>
        <!-- Cirebon -->
        <% LaporanCabang.sum_of_category(9, brand.KodeBrand, params[:from], params[:to]).each do |a| %>
          <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
          <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
        <% end %>
        <!-- Yogyakarta -->
        <% LaporanCabang.sum_of_category(10, brand.KodeBrand, params[:from], params[:to]).each do |a| %>
          <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
          <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
        <% end %>
        <!-- Palembang -->
        <% LaporanCabang.sum_of_category(11, brand.KodeBrand, params[:from], params[:to]).each do |a| %>
          <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
          <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
        <% end %>
        <!-- Lampung -->
        <% LaporanCabang.sum_of_category(13, brand.KodeBrand, params[:from], params[:to]).each do |a| %>
          <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
          <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
        <% end %>
        <!-- Makasar -->
        <% LaporanCabang.sum_of_category(19, brand.KodeBrand, params[:from], params[:to]).each do |a| %>
          <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
          <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
        <% end %>
        <!-- Pekanbaru -->
        <% LaporanCabang.sum_of_category(20, brand.KodeBrand, params[:from], params[:to]).each do |a| %>
          <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
          <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
        <% end %>
        <!-- Jember -->
        <% LaporanCabang.sum_of_category(22, brand.KodeBrand, params[:from], params[:to]).each do |a| %>
          <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
          <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
