<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
    <h2 style="font-size: 17px; position: absolute; left: 350px;"><i>Sales <%= Merk.merk_name(params[:merk_id]).first.Merk %> Size Report Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br />
    <br />
		<table border="1" id="group_by_size_comparison" class="display">
      <thead>
        <tr>
          <th rowspan="3">Branches</th>
        </tr>
        <tr>
          <th colspan="2">90</th>
					<th colspan="2">100</th>
					<th colspan="2">120</th>
					<th colspan="2">160</th>
					<th colspan="2">180</th>
					<th colspan="2">200</th>
					<th colspan="2">Tanggung</th>
        </tr>
        <tr>
          <% (1..7).each do %>
            <th>Qty</th>
            <th>Value</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <% (1..14).each do  %>
            <td></td>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
      	<% Artikel.artikel_by_merk(params[:merk_id]).each do |artikel| %>
					<tr>
            <td><%= artikel.Produk %></td>
							<% LaporanCabang.get_brand_size(artikel.KodeCollection, params[:merk_id], "090", params[:from], params[:to]).each do |es| %>
		          	<td><%= es.sum_jumlah.to_i %></td>
		          	<td><%= es.sum_harganetto2.nil? ? 0 : currency(es.sum_harganetto2) %></td>
							<% end %>
							<% LaporanCabang.get_brand_size(artikel.KodeCollection, params[:merk_id], "100", params[:from], params[:to]).each do |es| %>
		          	<td><%= es.sum_jumlah.to_i %></td>
		          	<td><%= es.sum_harganetto2.nil? ? 0 : currency(es.sum_harganetto2) %></td>
							<% end %>
							<% LaporanCabang.get_brand_size(artikel.KodeCollection, params[:merk_id], "120", params[:from], params[:to]).each do |es| %>
		          	<td><%= es.sum_jumlah.to_i %></td>
		          	<td><%= es.sum_harganetto2.nil? ? 0 : currency(es.sum_harganetto2) %></td>
							<% end %>
							<% LaporanCabang.get_brand_size(artikel.KodeCollection, params[:merk_id], "160", params[:from], params[:to]).each do |es| %>
		          	<td><%= es.sum_jumlah.to_i %></td>
		          	<td><%= es.sum_harganetto2.nil? ? 0 : currency(es.sum_harganetto2) %></td>
							<% end %>
							<% LaporanCabang.get_brand_size(artikel.KodeCollection, params[:merk_id], "180", params[:from], params[:to]).each do |es| %>
		          	<td><%= es.sum_jumlah.to_i %></td>
		          	<td><%= es.sum_harganetto2.nil? ? 0 : currency(es.sum_harganetto2) %></td>
							<% end %>
							<% LaporanCabang.get_brand_size(artikel.KodeCollection, params[:merk_id], "200", params[:from], params[:to]).each do |es| %>
		          	<td><%= es.sum_jumlah.to_i %></td>
		          	<td><%= es.sum_harganetto2.nil? ? 0 : currency(es.sum_harganetto2) %></td>
							<% end %>
							<% LaporanCabang.get_brand_size(artikel.KodeCollection, params[:merk_id], "T", params[:from], params[:to]).each do |es| %>
		          	<td><%= es.sum_jumlah.to_i %></td>
		          	<td><%= es.sum_harganetto2.nil? ? 0 : currency(es.sum_harganetto2) %></td>
							<% end %>
        	</tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
	</br>
<% end %>
<br />
<label>Do you want to export to Excel? <%= link_to 'Export', url_for(:format => 'xls', :from => params[:from], :to => params[:to], 
	:merk_id => params[:merk_id]), :class=>"btn btn-info" %></label>
