<h2 style="font-size: 17px; position: absolute; left: 451px;"><i>Sales <%= Merk.merk_name(params[:merk_id]).first.Merk %> Size Comparison Report Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br /><br />
		<table id="monthly_comparison" class="pretty">
		  <thead>
		    <tr>
		      <th rowspan="3">Size</th>
		      <th colspan="6">Comparison</th>
		    </tr>
		    <tr>
		      <th colspan="2"><%= (params[:to].to_date - 1.years).year  %></th>
		      <th colspan="2"><%= params[:to].to_date.year  %></th>
					<th colspan="2">Growth</th>
		    </tr>
		    <tr>
				<% (1..3).each do |a| %>
		      <th>QTY</th>
		      <th>Value</th>
				<% end %>
		    </tr>
		  </thead>
		  <tfoot>
		    <tr>
		      <th scope="row">Total</th>
		      <% (1..6).each do  %>
		        <td></td>
		      <% end %>
		    </tr>
		  </tfoot>
		  <tbody>
		    <% ["90","100","120","160", "180", "200", "Tanggung"].each do |size| %>
		      <tr>
		        <th scope="row"><%= size %></th>
							<% LaporanCabang.category_size_comparison(params[:merk_id], size, @from_last_year, @to_last_year).each do |a| %>
								<% @value_last = a.sum_harganetto2.nil? ? 0 : a.sum_harganetto2 %>
              	<td><%= @qty_last = a.sum_jumlah.nil? ? 0 : a.sum_jumlah.to_i %></td>
              	<td><%= currency(@value_last) %></td>
							<% end %>
							<% LaporanCabang.category_size_comparison(params[:merk_id], size, params[:from], params[:to]).each do |a| %>
								<% @value_current = a.sum_harganetto2.nil? ? 0 : a.sum_harganetto2 %>
              	<td><%= @qty_current = a.sum_jumlah.nil? ? 0 : a.sum_jumlah.to_i %></td>
              	<td><%= currency(@value_current) %></td>
							<% end %>
							<td><%= number_to_percentage(LaporanCabang.growth(@qty_last, @qty_current), :precision => 2) %></td>
							<td><%= number_to_percentage(LaporanCabang.growth(@value_last, @value_current), :precision => 2) %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
