<div class="form-div">
	<%= form_tag laporan_cabang_group_by_cabang_path, :method => 'get', :html => {:class => "well"} do %>
		<fieldset>
			<legend>Annual Sales Monthly Report</legend>
			<%= label_tag 'From' %>
			<%= text_field_tag 'from', nil, :placeholder => "From Date"  %>
			<%= label_tag 'To' %>
			<%= text_field_tag 'to', nil, :placeholder => "To Date" %><br />
			<button type="submit" class="btn btn-primary">Search</button>
		</fieldset>
	<% end %>
</div>

<br />
<div style="clear:both;"></div>

<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
		<br />
    <h2 style="font-size: 17px; position: absolute; left: 350px;"><i>Sales Report by Brand Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br /><br />
    <table cellpadding='0' cellspacing='0' border='0' width='100%'  id="group_by_cabang" class="display" ">
      <thead>
        <tr>
          <th rowspan="3">Brand</th>
        </tr>
        <tr>
          <% @cabang_get_id_to_7.each do |cabang| %>
            <th colspan="2"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
          <% end %>
        </tr>
        <tr>
          <% (1..7).each do %>
            <th>Qty</th>
            <th>Value</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <% (1..14).each do  %>
            <td></td>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
				<% Merk.all.each do |merk| %>
          <tr>
          	<% if merk.Merk == current_user.user_brand %>
		          <td><%= link_to merk.Merk, laporan_cabang_group_by_merk_path(:merk_id => merk.IdMerk,
		          	:from => params[:from], :to => params[:to]) %></td>
		        <% elsif current_user.user_brand == "Admin" %>
		          <td><%= link_to merk.Merk, laporan_cabang_group_by_merk_path(:merk_id => merk.IdMerk,
		          	:from => params[:from], :to => params[:to]) %></td>
		        <% else %>
		          <td><%= merk.Merk %></td>
		        <% end %>

            <!-- Bandung -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(2, current_user.user_brand.slice(0) == "A" ? merk.Merk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Narogong -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(3, current_user.user_brand.slice(0) == "A" ? merk.Merk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Bali -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(4, current_user.user_brand.slice(0) == "A" ? merk.Merk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Medan -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(5, current_user.user_brand.slice(0) == "A" ? merk.Merk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Surabaya -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(7, current_user.user_brand.slice(0) == "A" ? merk.Merk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Semarang -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(8, current_user.user_brand.slice(0) == "A" ? merk.Merk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Cirebon -->
						<% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(9, current_user.user_brand.slice(0) == "A" ? merk.Merk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
		</br>
		<table cellpadding='0' cellspacing='0' border='0' width='100%'  id="group_by_cabang_2" class="display" ">
      <thead>
        <tr>
          <th rowspan="3">Brand</th>
        </tr>
        <tr>
          <% @cabang_get_id_to_22.each do |cabang| %>
            <th colspan="2"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
          <% end %>
        </tr>
        <tr>
          <% (1..6).each do %>
            <th>Qty</th>
            <th>Value</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <% (1..12).each do  %>
            <td></td>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
        <% Merk.all.each do |merk| %>
          <tr>
          	<% if merk.Merk == current_user.user_brand %>
		          <td><%= link_to merk.Merk, laporan_cabang_group_by_merk_path(:merk_id => merk.IdMerk,
		          	:from => params[:from], :to => params[:to]) %></td>
		        <% elsif current_user.user_brand == "Admin" %>
		          <td><%= link_to merk.Merk, laporan_cabang_group_by_merk_path(:merk_id => merk.IdMerk,
		          	:from => params[:from], :to => params[:to]) %></td>
		        <% else %>
		          <td><%= merk.Merk %></td>
		        <% end %>

            <!-- Yogyakarta -->
            <% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(10, current_user.user_brand.slice(0) == "A" ? merk.Merk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Palembang -->
            <% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(11, current_user.user_brand.slice(0) == "A" ? merk.Merk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Lampung -->
            <% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(13, current_user.user_brand.slice(0) == "A" ? merk.Merk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Makasar -->
            <% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(19, current_user.user_brand.slice(0) == "A" ? merk.Merk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Pekanbaru -->
            <% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(20, current_user.user_brand.slice(0) == "A" ? merk.Merk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            	<td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
            <!-- Jember -->
            <% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.sum_of_brand(22, current_user.user_brand.slice(0) == "A" ? merk.Merk : current_user.user_brand.slice(0),
		          	params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		           	<td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
		</br>
		<table id="group_by_cabang_total" class="display">
      <thead>
        <tr>
          <th rowspan="2">Brand</th>
          <th colspan="2">Total</th>
        </tr>
        <tr>
          <th>Qty</th>
        	<th>Value</th>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
        <% Merk.all.each do |merk| %>
          <tr>
		        <td><%= merk.Merk %></td>
            <% if current_user.user_brand == merk.Merk || current_user.user_brand.slice(0) == "A" %>
		          <% LaporanCabang.total_on_merk(merk.Merk, params[:from], params[:to]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <% else %>
            	<td>0</td>
            	<td>0</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
		</br>
		<div class="offset3"><label>There are some reports that you may want to show, please click the button below</label></div>
		<div class="offset4">
		 <div class="form-inline">
				<%= link_to "Compare", laporan_cabang_monthly_comparison_path(:from => params[:from], :to => params[:to] ), 
					:method => :get, :class=>"btn btn-info" %>
				<%= link_to "Category",
					 laporan_cabang_group_by_category_path(:user_brand => current_user.user_brand, :from => params[:from], :to => params[:to] ), 
					 :method => :get, :class=>"btn btn-info" %>
		   	<%= link_to "Type", laporan_cabang_group_by_type_path(:from => params[:from], :to => params[:to] ), :method => :get, 
					 :class=>"btn btn-info" %>
		   	<%= link_to "Customer", laporan_cabang_group_by_customer_path(:from => params[:from], :to => params[:to] ), :method => :get,
					 :class=>"btn btn-info" %>
			</div>
		</div>
		<br />
		<label>Do you want to export to Excel? <%= link_to 'Export', url_for(:format => 'xls', :from => params[:from], 
			:to => params[:to]), :class=>"btn btn-info" %>
		</label>
  <% end %>
<% end %>
