<br /><h1>Laporan Penjualan Cabang</h1><br />
<%= form_tag laporan_cabang_index_path, :method => 'get' do %>
  <p>
    <br /><br />
    <%= label_tag 'From' %>
    <%= text_field_tag 'from', nil, :class => "input_form"  %>
  </p><br />
  <p>
    <%= label_tag 'To' %>
    <%= text_field_tag 'to', nil, :class => "input_form" %>
  </p>
  <br /><br />
  <p>
    <%= submit_tag "Search", :class => "button" %>
  </p>
<% end %>
<br />
<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
    <table border="1" id="laporancabang" class="display"  data-source="<%= laporan_cabang_index_path(format: :json) %>">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Branch</th>
          <th>Cust</th>
          <th></th>
          <th></th>
          <th>Cat</th>
          <th></th>
          <th></th>
          <th>Article</th>
          <th>Fabric</th>
          <th>L</th>
          <th>W</th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th>No</th>
          <th>Date</th>
          <th>Branches</th>
          <th>Customers</th>
          <th>ItemCodes</th>
          <th>Name</th>
          <th>Category</th>
          <th>Brand</th>
          <th>Type</th>
          <th>Articel</th>
          <th>Fabric</th>
          <th>Length</th>
          <th>Width</th>
          <th>Qty</th>
          <th>Price</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
        </tr>
      </tfoot>
      <tbody>
        <% @laporancabang.find_in_batches(:batch_size => 5000) do |batches| %>
          <% batches.each do |laporan| %>
            <tr>
              <td><%= laporan.nofaktur %></td>
              <td><%= laporan.tanggalfaktur.strftime("%e %B %Y") %></td>
              <td><%= laporan.cabang.Cabang %></td>
              <td><%= laporan.customer %></td>
              <td><%= laporan.kodebrg %></td>
              <td><%= laporan.namabrg %></td>
              <td><%= laporan.jenisbrgdisc %></td>
              <td><%= laporan.namabrand %></td>
              <td><%= laporan.jenisbrg %></td>
              <td><%= laporan.namaartikel %></td>
              <td><%= laporan.namakain %></td>
              <td><%= laporan.panjang %></td>
              <td><%= laporan.lebar %></td>
              <td><%= laporan.jumlah %></td>
              <td><%= currency(laporan.harganetto2) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>