<div class="form-div">
	<%= form_tag laporan_cabang_index_path, :method => 'get', :html => {:class => "well"} do %>
		<fieldset>
			<legend>Annual Sales Detail Report</legend>
			<label>From</label>
			<%= text_field_tag 'from', nil, :placeholder => "From Date"  %>
			<label>To</label>
			<%= text_field_tag 'to', nil, :placeholder => "To Date" %><br />
			<button type="submit" class="btn btn-primary">Submit</button>
		</fieldset>
	<% end %>
</div>

<br />
<div class="clear"></div>

<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
    <h2 style="font-size: 17px; position: absolute; left: 451px;"><i>Annual Sales Detail Report Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br /><br />
		<div class="offset2">
			<div class="form-inline">
		    <label id="cabang"></label>
		    <label id="customer"></label>
		    <label id="brand"></label>
		    <label id="tipe"></label>
		    <label id="artikel"></label>
		    <label id="kain"></label>
		    <label id="panjang"></label>
		    <label id="lebar"></label>
		    <label id="market" ></label>
			</div>
		</div>
    <br />
    <table border="1" id="laporancabang" class="display" data-source="<%= laporan_cabang_index_path(format: :json) %>">
      <thead>
        <tr>
          <th>Cabang</th>
          <th>Customers</th>
          <th>Market</th>
          <th>Bulan</th>
          <th>Tahun</th>
          <th>Brand</th>
          <th>Kategori</th>
          <th>Tipe</th>
          <th>Artikel</th>
          <th>Kain</th>
          <th>Panjang</th>
          <th>Lebar</th>
          <th>Qty</th>
          <th>Harga</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <% (1..13).each do  %>
            <td></td>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
        <% @laporancabang.each do |laporan| %>
          <tr>
            <td><%= laporan.cabang.Cabang.gsub(/Cabang/, "") %></td>
            <td><%= laporan.customer %></td>
            <% if ( laporan.customer =~ /\bES\b/ ) %>
              <td>ES</td>
            <% elsif ( laporan.customer =~ /\bSOGO\b/ ) %>
              <td>SOGO</td>
            <% elsif ( laporan.customer =~ /\bSHOWROOM\b/ ) %>
              <td>SHOWROOM</td>
            <% else %>
              <td>Retail</td>
            <% end %>
            <td><%= laporan.tanggalsj.strftime("%B") %></td>
            <td><%= laporan.tanggalsj.strftime("%Y") %></td>
            <td><%= laporan.jenisbrgdisc %></td>
            <td><%= laporan.namabrand %></td>
            <td><%= laporan.jenisbrg %></td>
            <td><%= laporan.namaartikel %></td>
            <td><%= laporan.namakain %></td>
            <td><%= laporan.panjang %></td>
            <td><%= laporan.lebar %></td>
            <td><%= laporan.sum_jumlah.to_i %></td>
            <td><%= currency(laporan.sum_harganetto2.to_i) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
