<br /><h1>Laporan Penjualan Cabang</h1><br />
<%= form_tag laporan_cabang_index_path, :method => 'get' do %>
  <p>
    <br />
    <%= label_tag 'From' %>
    <%= text_field_tag 'from', nil, :class => "input_form"  %>
  </p><br />
  <p>
    <%= label_tag 'To' %>
    <%= text_field_tag 'to', nil, :class => "input_form" %>
  </p>
  <br /><br />
  <p>
    <%= submit_tag "Search", :class => "button" %>
  </p>
<% end %>
<br />
<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
    <h2 style="font-size: 17px; position: absolute; left: 451px;"><i>Laporan Penjualan Periode <%= params[:from].to_date.strftime("%e %B %Y") %> sampai <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br /><br />
    <form id="placeholder_datatables" style="width: 1330px; height: 43px">
      <p id="filter"style="position: absolute; left: 40px; top: 11px; font-size: 25px; font-style: italic">Filter</p>
      <p id="cabang" style="position: absolute; right: 924px; top: 2px"></p>
      <p id="customer" style="position: absolute; right: 805px; top: 2px "></p>
      <p id="brand" style="position: absolute; right: 723px; top: 2px "></p>
      <p id="tipe" style="position: absolute; right: 654px; top: 2px "></p>
      <p id="artikel" style="position: absolute; right: 568px; top: 2px "></p>
      <p id="kain" style="position: absolute; right: 497px; top: 2px "></p>
      <p id="panjang" style="position: absolute; right: 400px; top: 2px "></p>
      <p id="lebar" style="position: absolute; right: 320px; top: 2px "></p>
    </form>
    <br />
    <table border="1" id="laporancabang" class="display"  data-source="<%= laporan_cabang_index_path(format: :json) %>">
      <thead>
        <tr>
          <th>Cabang</th>
          <th>Customers</th>
          <th>Bulan</th>
          <th>Tahun</th>
          <th>Brand</th>
          <th>Kategori</th>
          <th>Tipe</th>
          <th>Artikel</th>
          <th>Kain</th>
          <th>Panjang</th>
          <th>Lebar</th>
          <th>Qty</th>
          <th>Harga</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <% (1..12).each do  %>
            <td></td>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
        <% @laporancabang.each do |laporan| %>
          <tr>
            <td><%= laporan.cabang.Cabang %></td>
            <td><%= laporan.customer %></td>
            <td><%= laporan.tanggalsj.strftime("%B") %></td>
            <td><%= laporan.tanggalsj.strftime("%Y") %></td>
            <td><%= laporan.jenisbrgdisc %></td>
            <td><%= laporan.namabrand %></td>
            <td><%= laporan.jenisbrg %></td>
            <td><%= laporan.namaartikel %></td>
            <td><%= laporan.namakain %></td>
            <td><%= laporan.panjang %></td>
            <td><%= laporan.lebar %></td>
            <td><%= laporan.sum_jumlah.to_i %></td>
            <td><%= currency(laporan.sum_harganetto2.to_i) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
