<%= form_tag laporan_cabang_index_path, :method => 'get' do %>
 <fieldset>
  <legend>Date Filter</legend>
		<%= text_field_tag 'from', params[:from].nil? ? nil : params[:from], :placeholder => "From Date"  %>

		<%= text_field_tag 'to', params[:to].nil? ? nil : params[:to], :placeholder => "To Date" %>
 </fieldset>
 <fieldset>
  <legend>Product Filter</legend>

		<%= collection_select(nil, :fabric_id, @fabric, :id, :NamaKain, {:prompt => "Select a Fabric"}, {:id => 'fabric_id'}) %>

		<%= collection_select(nil, :article_id, @article, :id, :Produk, {:prompt => "Select an Article"}, {:id => 'article_id'}) %>

		<%= select_tag 'type_id', options_for_select(@category.collect {|a| [a.Namaroduk, a.KodeProduk]}, 
			params[:type_id]), :prompt => 'Select Type' %>

		<%= select_tag 'merk_id', options_for_select(@brand.collect {|a| [a.Merk, a.IdMerk]}, params[:merk_id]), 
			:prompt => 'Select Brand' %>

		<%= select_tag 'cabang_id', options_for_select(@branch.collect {|a| [a.Cabang, a.id]}, 
			params[:cabang_id]), :prompt => 'Select Branch' %>

 </fieldset>
 <fieldset>
  <legend>Size Filter</legend>
 	<label class="radio">
  	<%= radio_button_tag 'size', 'S' %> Standard
  </label>
 	<label class="radio">
  	<%= radio_button_tag 'size', 'T' %> Special
  </label>
 </fieldset>
<br />
 <button type="submit" class="btn btn-primary">Search</button>
<% end %>
<br />
<div style="clear:both;"></div>

<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
    <h2 style="font-size: 17px; position: absolute; left: 350px;"><i>Sales Detail Report Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br /><br /><br />
		<div class="offset1">
			<div class="form-inline">
		    <label id="customer"></label>
		    <label id="market" ></label>
		    <label id="kodebrg"></label>
		    <label id="qty"></label>
			</div>
		</div>
    <br />
    <table border="1" id="laporancabang" class="display">
      <thead>
        <tr>
          <th>Cabang</th>
          <th>No SJ</th>
          <th>Tanggal Faktur</th>
          <th>No Faktur</th>
          <th>No SO</th>
          <th>Customers</th>
          <th>Market</th>
          <th>Bulan</th>
          <th>Tahun</th>
          <th>Kode Barang</th>
          <th>Qty</th>
          <th>Harga</th>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
        <% @laporancabang.each do |laporan| %>
          <tr>
            <td><%= laporan.cabang.Cabang.gsub(/Cabang/, "") %></td>
            <td><%= laporan.nosj %></td>
            <td><%= laporan.tanggalfaktur %></td>
            <td><%= laporan.nofaktur %></td>
            <td><%= laporan.noso %></td>
            <td><%= laporan.customer %></td>
            <% if ( laporan.customer =~ /\bES\b/ ) %>
              <td>ES</td>
            <% elsif ( laporan.customer =~ /\bSOGO\b/ ) %>
              <td>SOGO</td>
            <% elsif ( laporan.customer =~ /\bSHOWROOM\b/ ) %>
              <td>SHOWROOM</td>
            <% else %>
              <td>Retail</td>
            <% end %>
            <td><%= laporan.tanggalsj.strftime("%B") %></td>
            <td><%= laporan.tanggalsj.strftime("%Y") %></td>
            <td><%= laporan.kodebrg %></td>
            <td><%= laporan.jumlah.to_i %></td>
            <td><%= currency(laporan.harganetto2.to_i) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<script>
	$(document).ready(function() {
		$('#article_id').change(function() {
			$.ajax({
				url: "<%= update_kain_path %>",
				data: {
					artikel_id : $('#article_id').val()
					},
				dataType: "script"
			});
		});

		$('#type_id').change(function() {
			$.ajax({
				url: "<%= update_article_path %>",
				data: {
					type_id : $('#type_id').val()
					},
				dataType: "script"
			});
		});
	});
</script>
