<div class="form-div">
	<%= form_tag laporan_cabang_index_path, :method => 'get', :html => {:class => "well"} do %>
		<fieldset>
			<legend>Sales Detail Report</legend>
			<label>From</label>
			<%= text_field_tag 'from', params[:from].nil? ? nil : params[:from], :placeholder => "From Date"  %>
			<label>To</label>
			<%= text_field_tag 'to', params[:to].nil? ? nil : params[:to], :placeholder => "To Date" %>
			<label>Branch</label>
			<%= select_tag 'cabang_id', options_for_select(Cabang.get_id.collect {|a| [a.Cabang, a.id]}, 
				params[:cabang_id]), :prompt => 'Select Branch' %>
			<label>Brand</label>
			<%= select_tag 'merk_id', options_for_select(Merk.merk_all.collect {|a| [a.Merk, a.IdMerk]}, params[:merk_id]), :prompt => 'Select Brand' %>
			<label>Type</label>
			<%= select_tag 'type_id', options_for_select(Product.all.collect {|a| [a.Namaroduk, a.KodeProduk]}, 
				params[:type_id]), :prompt => 'Select Type' %>
			<br />
			<button type="submit" class="btn btn-primary">Submit</button>
		</fieldset>
	<% end %>
</div>
<div class='offset4'>
	<h4>To get the data that you want, please fill in all the options except Brand option</h4>
</div>
<br />
<div style="clear:both;"></div>

<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
    <h2 style="font-size: 17px; position: absolute; left: 350px;"><i>Sales Detail Report Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br /><br />
		<div class="offset1">
			<div class="form-inline">
		    <label id="customer"></label>
		    <label id="tipe"></label>
		    <label id="artikel"></label>
		    <label id="kain"></label>
		    <label id="panjang"></label>
		    <label id="lebar"></label>
		    <label id="market" ></label>
			</div>
		</div>
    <br />
    <table border="1" id="laporancabang" class="display">
      <thead>
        <tr>
          <th>Cabang</th>
          <th>No SJ</th>
          <th>Tanggal Faktur</th>
          <th>No Faktur</th>
          <th>No SO</th>
          <th>Customers</th>
          <th>Market</th>
          <th>Bulan</th>
          <th>Tahun</th>
          <th>Kode Barang</th>
          <th>Qty</th>
          <th>Harga</th>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
        <% @laporancabang.each do |laporan| %>
          <tr>
            <td><%= laporan.cabang.Cabang.gsub(/Cabang/, "") %></td>
            <td><%= laporan.nosj %></td>
            <td><%= laporan.tanggalfaktur %></td>
            <td><%= laporan.nofaktur %></td>
            <td><%= laporan.noso %></td>
            <td><%= laporan.customer %></td>
            <% if ( laporan.customer =~ /\bES\b/ ) %>
              <td>ES</td>
            <% elsif ( laporan.customer =~ /\bSOGO\b/ ) %>
              <td>SOGO</td>
            <% elsif ( laporan.customer =~ /\bSHOWROOM\b/ ) %>
              <td>SHOWROOM</td>
            <% else %>
              <td>Retail</td>
            <% end %>
            <td><%= laporan.tanggalsj.strftime("%d %B %Y") %></td>
            <td><%= laporan.tanggalsj.strftime("%Y") %></td>
            <td><%= laporan.kodebrg %></td>
            <td><%= laporan.jumlah.to_i %></td>
            <td><%= currency(laporan.harganetto2.to_i) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
