<br /><h1>Annual Branches Sales Report Comparison by Brand</h1><br />
<%= form_tag laporan_cabang_monthly_comparison_path, :method => 'get' do %>
  <p>
    <br />
    <%= label_tag 'From' %>
    <%= text_field_tag 'from', nil, :class => "input_form"  %>
  </p><br />
  <p>
    <%= label_tag 'To' %>
    <%= text_field_tag 'to', nil, :class => "input_form" %>
  </p>
  <br /><br />
  <p>
    <%= submit_tag "Search", :class => "button" %>
  </p>
<% end %>
<br />
<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
<h2 style="font-size: 17px; position: absolute; left: 451px;"><i>Annual Branches Sales Report Comparison by Brand Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br /><br />
		<table id="monthly_comparison" class="pretty">
		  <thead>
		    <tr>
		      <th rowspan="3">Branches</th>
		      <th colspan="6">Comparison</th>
		    </tr>
		    <tr>
		      <th colspan="2"><%= (params[:to].to_date - 1.years).year  %></th>
		      <th colspan="2"><%= params[:to].to_date.year  %></th>
					<th colspan="2">Growth</th>
		    </tr>
		    <tr>
				<% (1..3).each do |a| %>
		      <th>QTY</th>
		      <th>Value</th>
				<% end %>
		    </tr>
		  </thead>
		  <tfoot>
		    <tr>
		      <th scope="row">Total</th>
		      <% (1..6).each do  %>
		        <td></td>
		      <% end %>
		    </tr>
		  </tfoot>
		  <tbody>
		    <% @cabang_get_id.each do |cabang| %>
		      <tr>
		        <% laporan_cabang_by_cabang =  cabang.laporan_cabang %>
		        <th scope="row"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
							<% laporan_cabang_by_cabang.monthly_comparison_brand(@from_last_year, @to_last_year).each do |a| %>
								<% @value_last = a.sum_harganetto2.nil? ? 0 : a.sum_harganetto2 %>
              	<td><%= @qty_last = a.sum_jumlah.nil? ? 0 : a.sum_jumlah.to_i %></td>
              	<td><%= currency(@value_last) %></td>
							<% end %>
							<% laporan_cabang_by_cabang.monthly_comparison_brand(params[:from], params[:to]).each do |a| %>
								<% @value_current = a.sum_harganetto2.nil? ? 0 : a.sum_harganetto2 %>
              	<td><%= @qty_current = a.sum_jumlah.nil? ? 0 : a.sum_jumlah.to_i %></td>
              	<td><%= currency(@value_current) %></td>
							<% end %>
							<td><%= number_to_percentage(LaporanCabang.growth(@qty_last, @qty_current), :precision => 2) %></td>
							<td><%= number_to_percentage(LaporanCabang.growth(@value_last, @value_current), :precision => 2) %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% end %>
<% end %>
