<div class="clear"></div>
<br /><h1>Stock Cabang</h1><br />
<%= form_tag stock_index_path, :method => 'get' do %>
  <br />
  <p>
    <%= label_tag 'Date' %>
    <%= text_field_tag 'date', nil, :class => "input_form"  %>
  </p><br />
  <p>
    <%= submit_tag "Search", :class => "button" %>
  </p>
<% end %>
<br />
<% unless params[:date].nil? %>
  <h2 style="font-size: 20px; position: absolute; left: 543px;"><i>Laporan Stock <%= params[:date].to_date.strftime("%e %B %Y") %></i></h2>
  <br />
  <br />
  <table id="special_size" class="display">
    <thead>
      <tr>
        <th rowspan="2">Cabang</th>
        <th rowspan="2">Jenis</th>
        <th rowspan="2">Brand</th>
        <th rowspan="2">Artikel</th>
        <th rowspan="2">Kain</th>
        <th rowspan="2">Panjang</th>
        <th rowspan="2">Lebar</th>
        <th rowspan="2">Freestock</th>
        <th rowspan="2">Bufferstock</th>
      </tr>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
      <% @get_stock.map do |stock| %>
				<% if stock.kodebrg.slice(11) == "T" %>
		      <tr>
						<th scope="row"><%= Cabang.find_by_id(stock.cabang_id).Cabang.gsub(/Cabang/, "") %></th>
		        <th scope="row"><%= Product.product_name(stock.kodebrg.slice(0..1)).first.Namaroduk unless Product.product_name(stock.kodebrg.slice(0..1)).first.nil? %></th>
		        <th scope="row"><%= Merk.merk_name(stock.kodebrg.slice(2)).first.Merk unless Merk.merk_name(stock.kodebrg.slice(2)).first.nil? %></th>
		        <th scope="row"><%= Artikel.artikel_name(stock.kodebrg.slice(2..5)).first.Produk unless Artikel.artikel_name(stock.kodebrg.slice(2..5)).first.nil? %></th>
		        <th scope="row"><%= Kain.kain_name(stock.kodebrg.slice(6..10)).first.NamaKain unless Kain.kain_name(stock.kodebrg.slice(6..10)).first.nil? %></th>
		        <th scope="row"><%= stock.kodebrg.slice(12..14) %></th>
		        <th scope="row"><%= stock.kodebrg.slice(15..17) %></th>
		        <th scope="row"><%= stock.freestock %></th>
		        <th scope="row"><%= stock.bufferstock %></th>
		      </tr>
				<% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
