
  <table id="weekly_report_sales" class="pretty">
    <p>WEEKLY SALES REPORT</p>
    <p>Week <%= params[:periode_week].to_date.cweek %>, <%= @periode.strftime('%B %Y')  %></p><br />
    <p>Elite Brand</p><br />
    <thead>
      <tr>
        <th rowspan="3">Branches</th>
      </tr>
      <tr>
        <th colspan="6">Serenity</th>
        <th colspan="6">Non Serenity</th>
      </tr>
      <tr>
				 <% get_week_number = @periode.cweek - 4 %>
         <th>Week <%= @periode.beginning_of_month.cweek %> </br><%= @first_day_week_1.strftime('%d/%m/%Y') %> -
         <%= @last_day_week_1.strftime('%d/%m/%Y') %></th>
         <th>Week <%= @periode.beginning_of_month.cweek + 1 %> </br><%= @first_day_week_2.strftime('%d/%m/%Y') %> -
         <%= @last_day_week_2.strftime('%d/%m/%Y') %></th>
         <th>Week <%= @periode.beginning_of_month.cweek + 2 %> </br><%= @first_day_week_3.strftime('%d/%m/%Y') %>-
         <%= @last_day_week_3.strftime('%d/%m/%Y') %></th>
         <th>Week <%= @periode.beginning_of_month.cweek + 3 %> </br><%= @first_day_week_4.strftime('%d/%m/%Y') %>-
         <%= @last_day_week_4.strftime('%d/%m/%Y') %></th>
         <th>Week <%= get_week_number %> </br><%= @first_day_last_month_week.strftime('%d/%m/%Y') %> -
         <%= @last_day_last_month_week.strftime('%d/%m/%Y') %></th>
         <th>Growth</th>
         <th>Week <%= @periode.beginning_of_month.cweek %> </br><%= @first_day_week_1.strftime('%d/%m/%Y') %> -
         <%= @last_day_week_1.strftime('%d/%m/%Y') %></th>
         <th>Week <%= @periode.beginning_of_month.cweek + 1 %> </br><%= @first_day_week_2.strftime('%d/%m/%Y') %> -
         <%= @last_day_week_2.strftime('%d/%m/%Y') %></th>
         <th>Week <%= @periode.beginning_of_month.cweek + 2 %> </br><%= @first_day_week_3.strftime('%d/%m/%Y') %> -
         <%= @last_day_week_3.strftime('%d/%m/%Y') %></th>
         <th>Week <%= @periode.beginning_of_month.cweek + 3 %> </br><%= @first_day_week_4.strftime('%d/%m/%Y') %> -
         <%= @last_day_week_4.strftime('%d/%m/%Y') %></th>
         <th>Week <%= get_week_number %> </br><%= @first_day_last_month_week.strftime('%d/%m/%Y') %> -
         <%= @last_day_last_month_week.strftime('%d/%m/%Y') %></th>
         <th>Growth</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="row">Total</th>
        <% (1..12).each do  %>
          <td></td>
        <% end %>
      </tr>
    </tfoot>
    <tbody>
      <% @cabang_get_id.each do |cabang| %>
        <tr>
          <% laporan_cabang_by_cabang =  cabang.laporan_cabang %>
          <th scope="row"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
					<% laporan_cabang_by_cabang.weekly_sum_value("Serenity", @first_day_week_1, @last_day_week_1).each do |week_1| %>
						<% @week1 = week_1.sum_harganetto2.nil? ? 0 : week_1.sum_harganetto2 %>
          	<td><%= currency(@week1) %></td>
					<% end %>
          <% laporan_cabang_by_cabang.weekly_sum_value("Serenity", @first_day_week_2, @last_day_week_2).each do |week_2| %>
          	<% @week2 = week_2.sum_harganetto2.nil? ? 0 : week_2.sum_harganetto2 %>
          	<td><%= currency(@week2) %></td>
					<% end %>
          <% laporan_cabang_by_cabang.weekly_sum_value("Serenity", @first_day_week_3, @last_day_week_3).each do |week_3| %>
          	<% @week3 = week_3.sum_harganetto2.nil? ? 0 : week_3.sum_harganetto2 %>
          	<td><%= currency(@week3) %></td>
					<% end %>

          <% laporan_cabang_by_cabang.weekly_sum_value("Serenity", @first_day_week_4, @last_day_week_4).each do |week_4| %>
          	<% @week4 = week_4.sum_harganetto2.nil? ? 0 : week_4.sum_harganetto2 %>
          	<td><%= currency(@week4) %></td>
					<% end %>
					<% laporan_cabang_by_cabang.weekly_sum_value("Serenity", @first_day_last_month_week, @last_day_last_month_week).each do |week| %>
          	<% @week_last = week.sum_harganetto2.nil? ? 0 : week.sum_harganetto2 %>
          	<td><%= currency(@week_last) %></td>
					<% end %>
					<td><%= @week_last == 0 ? 0 : number_to_percentage(LaporanCabang.comparison_week(@week1, @week2, @week3, @week4,
						@week_last, get_week_number, @periode), :precision => 0) %></td>


					<% laporan_cabang_by_cabang.weekly_sum_value("Non Serenity", @first_day_week_1, @last_day_week_1).each do |week_1| %>
						<% @week1 = week_1.sum_harganetto2.nil? ? 0 : week_1.sum_harganetto2 %>
          	<td><%= currency(@week1) %></td>
					<% end %>
          <% laporan_cabang_by_cabang.weekly_sum_value("Non Serenity", @first_day_week_2, @last_day_week_2).each do |week_2| %>
          	<% @week2 = week_2.sum_harganetto2.nil? ? 0 : week_2.sum_harganetto2 %>
          	<td><%= currency(@week2) %></td>
					<% end %>
          <% laporan_cabang_by_cabang.weekly_sum_value("Non Serenity", @first_day_week_3, @last_day_week_3).each do |week_3| %>
          	<% @week3 = week_3.sum_harganetto2.nil? ? 0 : week_3.sum_harganetto2 %>
          	<td><%= currency(@week3) %></td>
					<% end %>

          <% laporan_cabang_by_cabang.weekly_sum_value("Non Serenity", @first_day_week_4, @last_day_week_4).each do |week_4| %>
          	<% @week4 = week_4.sum_harganetto2.nil? ? 0 : week_4.sum_harganetto2 %>
          	<td><%= currency(@week4) %></td>
					<% end %>
					<% laporan_cabang_by_cabang.weekly_sum_value("Non Serenity", @first_day_last_month_week, @last_day_last_month_week).each do |week| %>
          	<% @week_last = week.sum_harganetto2.nil? ? 0 : week.sum_harganetto2 %>
          	<td><%= currency(@week_last) %></td>
					<% end %>
					<td><%= @week_last == 0 ? 0 : number_to_percentage(LaporanCabang.comparison_week(@week1, @week2, @week3, @week4,
						@week_last, get_week_number, @periode), :precision => 0) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
	<br />
	<table id="weekly_report_sales_total" class="pretty">
    <thead>
      <tr>
        <th rowspan="3">Branches</th>
      </tr>
      <tr>
        <th colspan="6">Total</th>
				<th rowspan="2">Akumulasi</br> <%= @periode.strftime('%B %Y') %></th>
				<th rowspan="2">Akumulasi</br> <%= (@periode - 1.months).strftime('%B %Y') %></th>
				<th rowspan="2">Growth</th>
				<th rowspan="2">Target</br> <%= @periode.strftime('%B %Y') %></th>
				<th rowspan="2">ACV</th>
      </tr>
      <tr>
				 <% get_week_number = @periode.cweek - 4 %>
         <th>Week <%= @periode.beginning_of_month.cweek %> </br><%= @first_day_week_1.strftime('%d/%m/%Y') %> -
         <%= @last_day_week_1.strftime('%d/%m/%Y') %></th>
         <th>Week <%= @periode.beginning_of_month.cweek + 1 %> </br><%= @first_day_week_2.strftime('%d/%m/%Y') %> -
         <%= @last_day_week_2.strftime('%d/%m/%Y') %></th>
         <th>Week <%= @periode.beginning_of_month.cweek + 2 %> </br><%= @first_day_week_3.strftime('%d/%m/%Y') %>-
         <%= @last_day_week_3.strftime('%d/%m/%Y') %></th>
         <th>Week <%= @periode.beginning_of_month.cweek + 3 %> </br><%= @first_day_week_4.strftime('%d/%m/%Y') %>-
         <%= @last_day_week_4.strftime('%d/%m/%Y') %></th>
         <th>Week <%= get_week_number %> </br><%= @first_day_last_month_week.strftime('%d/%m/%Y') %> -
         <%= @last_day_last_month_week.strftime('%d/%m/%Y') %></th>
         <th>Growth</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="row">Total</th>
        <% (1..11).each do  %>
          <td></td>
        <% end %>
      </tr>
    </tfoot>
    <tbody>
      <% @cabang_get_id.each do |cabang| %>
        <tr>
          <% laporan_cabang_by_cabang =  cabang.laporan_cabang %>
          <th scope="row"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
					<% laporan_cabang_by_cabang.weekly_total_sum_value(["Non Serenity", "Serenity"],
						@first_day_week_1, @last_day_week_1).each do |week_1| %>
							<% @week1 = week_1.sum_harganetto2.nil? ? 0 : week_1.sum_harganetto2 %>
          	<td><%= currency(@week1) %></td>
					<% end %>
          <% laporan_cabang_by_cabang.weekly_total_sum_value(["Non Serenity", "Serenity"],
						@first_day_week_2, @last_day_week_2).each do |week_2| %>
	          	<% @week2 = week_2.sum_harganetto2.nil? ? 0 : week_2.sum_harganetto2 %>
          	<td><%= currency(@week2) %></td>
					<% end %>
          <% laporan_cabang_by_cabang.weekly_total_sum_value(["Non Serenity", "Serenity"],
						@first_day_week_3, @last_day_week_3).each do |week_3| %>
	          	<% @week3 = week_3.sum_harganetto2.nil? ? 0 : week_3.sum_harganetto2 %>
          	<td><%= currency(@week3) %></td>
					<% end %>

          <% laporan_cabang_by_cabang.weekly_total_sum_value(["Non Serenity", "Serenity"],
						@first_day_week_4, @last_day_week_4).each do |week_4| %>
	          	<% @week4 = week_4.sum_harganetto2.nil? ? 0 : week_4.sum_harganetto2 %>
          	<td><%= currency(@week4) %></td>
					<% end %>
					<% laporan_cabang_by_cabang.weekly_total_sum_value(["Non Serenity", "Serenity"],
						@first_day_last_month_week, @last_day_last_month_week).each do |week| %>
	          	<% @week_last = week.sum_harganetto2.nil? ? 0 : week.sum_harganetto2 %>
          	<td><%= currency(@week_last) %></td>
					<% end %>
					<td><%= @week_last == 0 ? 0 : number_to_percentage(LaporanCabang.comparison_week(@week1, @week2, @week3, @week4,
						@week_last, get_week_number, @periode), :precision => 0) %></td>

					<% laporan_cabang_by_cabang.weekly_total_sum_value(["Non Serenity", "Serenity"],
					@periode.beginning_of_month, @periode.end_of_month).each do |month| %>
						<% @week1 = month.sum_harganetto2.nil? ? 0 : month.sum_harganetto2 %>
          	<td><%= currency(@week1) %></td>
					<% end %>
					<% laporan_cabang_by_cabang.weekly_total_sum_value(["Non Serenity", "Serenity"],
					1.month.ago.beginning_of_month, 1.month.ago.end_of_month).each do |month| %>
						<% @week2 = month.sum_harganetto2.nil? ? 0 : month.sum_harganetto2 %>
          	<td><%= currency(@week2) %></td>
					<% end %>
					<td><%= @week2 == 0 ? 0 : number_to_percentage((((@week1 - @week2) / @week2) * 100),
						:precision => 0) rescue ZeroDivisionError 0 %></td>
					<% if MonthlyTarget.get_monthly_target(2, cabang.id, @periode.beginning_of_month.to_date).empty? %>
							<td>0</td>
					<% else %>
						<% MonthlyTarget.get_monthly_target(2, cabang.id, @periode.beginning_of_month.to_date).each do |monthly_target| %>
							<td><%= currency(monthly_target.total.to_i) %></td>
						<% end %>
					<% end %>
					<td>0</td>
        </tr>
      <% end %>
    </tbody>
  </table>
	<br />
	<table id="yearly_report_sales_total" class="pretty">
    <thead>
      <tr>
        <th rowspan="3">Branches</th>
      </tr>
      <tr>
        <th colspan="3">Akumulasi</th>
				<th rowspan="2">Target</br> <%= @periode.strftime('%Y') %></th>
				<th rowspan="2">ACV</br>Target <%= @periode.strftime('%Y') %></th>
      </tr>
			<tr>
				<th>Akumulasi</br> <%= @periode.beginning_of_year.strftime('%B') %> s/d <%= @periode.strftime('%B %Y') %></th>
				<th>Akumulasi</br> <%= @periode.beginning_of_year.strftime('%B') %> s/d <%= (@periode - 1.years).beginning_of_month.strftime('%B %Y') %></th>
				<th>Growth</th>
			</tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="row">Total</th>
        <% (1..5).each do  %>
          <td></td>
        <% end %>
      </tr>
    </tfoot>
    <tbody>
      <% @cabang_get_id.each do |cabang| %>
        <tr>
          <% laporan_cabang_by_cabang =  cabang.laporan_cabang %>
          <th scope="row"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
					<% laporan_cabang_by_cabang.weekly_total_sum_value(["Non Serenity", "Serenity"],
					@periode.beginning_of_year, @last_day_week_5).each do |week| %>
						<% @week1 = week.sum_harganetto2.nil? ? 0 : week.sum_harganetto2 %>
          	<td><%= currency(@week1) %></td>
					<% end %>
					<% laporan_cabang_by_cabang.weekly_total_sum_value(["Non Serenity", "Serenity"],
					(@periode - 1.years).beginning_of_year, @last_year_last_day_week).each do |week| %>
						<% @week2 = week.sum_harganetto2.nil? ? 0 : week.sum_harganetto2 %>
          	<td><%= currency(@week2) %></td>
					<% end %>
					<td><%= @week2 == 0 ? 0 : number_to_percentage((((@week1 - @week2) / @week2) * 100),
						:precision => 0) rescue ZeroDivisionError 0 %></td>
					<% if YearlyTarget.get_yearly_target(2, cabang.id, @periode.beginning_of_month.to_date).empty? %>
							<td>0</td>
					<% else %>
						<% YearlyTarget.get_yearly_target(2, cabang.id, @periode.beginning_of_month.to_date).each do |yearly_target| %>
							<td><%= currency(yearly_target.total.to_i) %></td>
						<% end %>
					<% end %>
					<td>0</td>
        </tr>
      <% end %>
    </tbody>
  </table>
	<br />
	<table id="classic_weekly_sales_report" class="pretty">
    <p>WEEKLY SALES PERFORMANCE REPORT</p>
    <p><%= @periode.strftime('%B %Y')  %></p><br />
    <p>Classic Brand</p><br />
    <thead>
      <tr>
        <th rowspan="2">Branches</th>
      </tr>
      <tr>
				 <% get_week_number = @periode.cweek - 4 %>
         <th>Week <%= @periode.beginning_of_month.cweek %> </br><%= @first_day_week_1.strftime('%d/%m/%Y') %> -
         <%= @last_day_week_1.strftime('%d/%m/%Y') %></th>
         <th>Week <%= @periode.beginning_of_month.cweek + 1 %> </br><%= @first_day_week_2.strftime('%d/%m/%Y') %> -
         <%= @last_day_week_2.strftime('%d/%m/%Y') %></th>
         <th>Week <%= @periode.beginning_of_month.cweek + 2 %> </br><%= @first_day_week_3.strftime('%d/%m/%Y') %>-
         <%= @last_day_week_3.strftime('%d/%m/%Y') %></th>
         <th>Week <%= @periode.beginning_of_month.cweek + 3 %> </br><%= @first_day_week_4.strftime('%d/%m/%Y') %>-
         <%= @last_day_week_4.strftime('%d/%m/%Y') %></th>
         <th>Week <%= get_week_number %> </br><%= @first_day_last_month_week.strftime('%d/%m/%Y') %> -
         <%= @last_day_last_month_week.strftime('%d/%m/%Y') %></th>
         <th>Growth</th>
			</tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="row">Total</th>
        <% (1..6).each do  %>
          <td></td>
        <% end %>
      </tr>
    </tfoot>
    <tbody>
      <% @cabang_get_id.each do |cabang| %>
        <tr>
          <% laporan_cabang_by_cabang =  cabang.laporan_cabang %>
          <th scope="row"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
					<% laporan_cabang_by_cabang.weekly_sum_value("Classic", @first_day_week_1, @last_day_week_1).each do |week_1| %>
						<% @week1 = week_1.sum_harganetto2.nil? ? 0 : week_1.sum_harganetto2 %>
          	<td><%= currency(@week1) %></td>
					<% end %>
          <% laporan_cabang_by_cabang.weekly_sum_value("Classic", @first_day_week_2, @last_day_week_2).each do |week_2| %>
          	<% @week2 = week_2.sum_harganetto2.nil? ? 0 : week_2.sum_harganetto2 %>
          	<td><%= currency(@week2) %></td>
					<% end %>
          <% laporan_cabang_by_cabang.weekly_sum_value("Classic", @first_day_week_3, @last_day_week_3).each do |week_3| %>
          	<% @week3 = week_3.sum_harganetto2.nil? ? 0 : week_3.sum_harganetto2 %>
          	<td><%= currency(@week3) %></td>
					<% end %>

          <% laporan_cabang_by_cabang.weekly_sum_value("Classic", @first_day_week_4, @last_day_week_4).each do |week_4| %>
          	<% @week4 = week_4.sum_harganetto2.nil? ? 0 : week_4.sum_harganetto2 %>
          	<td><%= currency(@week4) %></td>
					<% end %>
					<% laporan_cabang_by_cabang.weekly_sum_value("Classic", @first_day_last_month_week, @last_day_last_month_week).each do |week| %>
          	<% @week_last = week.sum_harganetto2.nil? ? 0 : week.sum_harganetto2 %>
          	<td><%= currency(@week_last) %></td>
					<% end %>
					<td><%= @week_last == 0 ? 0 : number_to_percentage(LaporanCabang.comparison_week(@week1, @week2, @week3, @week4,
						@week_last, get_week_number, @periode), :precision => 0) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
