<% unless params[:periode_week].nil? || params[:periode_week].empty? %>
  <div class="row-fluid">
    <div class="block-content collapse in">
      <div class="offset4">
        <h2 style="font-size: 17px;"><i>Weekly <%= params[:brand_week].present? ? params[:brand_week].join(",") : "All Brand" %> Sales Report</i></h2>
      </div>
      <div class="offset5">
        <h2 style="font-size: 15px;"><i>Week <%= params[:periode_week].to_date.cweek %>, <%= @periode.strftime('%B %Y')  %></i></h2>
      </div>
    </div>
  </div>
<h5>NB: TIDAK TERMASUK AKSESORIS, BONUS, DISPLAY, DAN PROJECT</h5>
  <div class="span3">
    <p style="text-align: left;">
      <%= form_tag laporan_cabang_weekly_report_path, :method => 'get', :class => "form form-inline" do %>
        <label style="font-size: 13px;">BRAND: </label>
        <%= hidden_field_tag "periode_week", params[:periode_week] %>
        <%= select_tag 'brand_week', options_for_select(options_for_tipe_price, params[:brand_week]), :class => 'multiselect', :multiple => true %>
        <label style="font-size: 13px;">CHANNEL: </label>
        <%= select_tag 'channel', options_for_select(["RETAIL", "DIRECT", ["All", nil]], (params[:channel].nil? ? "ALL" : params[:channel])) %>
        <br />
        <button type="submit" class="btn btn-primary">
          Refine Search
        </button>
      <% end %>
    </p>
  </div>
  <div class="row-fluid">
    <table id="weekly_report_sales" class="pretty">
      <thead>
        <tr>
          <th rowspan="4">Branches</th>
        </tr>
        <tr>
          <th colspan="10"><%= params[:brand_week].present? ? params[:brand_week].join(",") : "All Brand" %></th>
        </tr>
        <tr>
          <th colspan="2">Week <%= (@date.beginning_of_week + 7).cweek %> </br><%= (@date.beginning_of_week + 7).strftime('%d/%m/%Y') %> -
            <%= (@date.end_of_week + 7).strftime('%d/%m/%Y') %></th>
          <th colspan="2">Week <%= (@date.beginning_of_week + 14).cweek %> </br><%= (@date.beginning_of_week + 14).strftime('%d/%m/%Y') %> -
            <%= (@date.end_of_week + 14).strftime('%d/%m/%Y') %></th>
          <th colspan="2">Week <%= (@date.beginning_of_week + 21).cweek %> </br><%= (@date.beginning_of_week + 21).strftime('%d/%m/%Y') %> -
            <%= (@date.end_of_week + 21).strftime('%d/%m/%Y') %></th>
          <th colspan="2">Week <%= (@date.beginning_of_week + 28).cweek %> </br><%= (@date.beginning_of_week + 28).strftime('%d/%m/%Y') %> -
            <%= (@date.end_of_week + 28).strftime('%d/%m/%Y') %></th>
          <th colspan="2">Week <%= (@date.beginning_of_week + 35).cweek %> </br><%= (@date.beginning_of_week + 35).strftime('%d/%m/%Y') %> -
            <%= (@date.end_of_week + 35).strftime('%d/%m/%Y') %></th>
        </tr>
        <tr>
          <% (1..5).each do  %>
            <th>Quantity</th>
            <th>Value</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="row" style="font-size: 13px; font-weight: bold;"><i>Total</i></th>
          <% (1..10).each do  %>
            <td style="font-size: 13px; background-color: #DFEFFC;"></td>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
        <% if current_user.cabang.present? %>
          <tr>
            <th scope="row"><%= Cabang.find(current_user.cabang).Cabang.gsub(/Cabang/, "") %></th>
            <% merk =  params[:brand_week].present? ? params[:brand_week] : "" %>
            <% [7,14,21,28,35].each do |c| %>
              <% first_day_week_1 = @date.beginning_of_week + c %>
              <% last_day_week_1 = first_day_week_1.end_of_week %>
              <% Cabang.find(current_user.cabang).laporan_cabang.weekly_sum_value(merk, first_day_week_1, last_day_week_1, params[:channel]).each do |week_1| %>
                <td><%= week_1.sum_jumlah.nil? ? 0 : currency(week_1.sum_jumlah) %></td>
                <td><%= week_1.sum_harganetto2.nil? ? 0 : currency(week_1.sum_harganetto2) %></td>
              <% end %>
            <% end %>
          </tr>
        <% else %>
          <% @cabang_get_id.each do |cabang| %>
            <tr>
              <% laporan_cabang_by_cabang =  cabang.laporan_cabang %>
              <th scope="row"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
              <% merk =  params[:brand_week].present? ? params[:brand_week] : "" %>
              <% [7,14,21,28,35].each do |c| %>
                <% first_day_week_1 = @date.beginning_of_week + c %>
                <% last_day_week_1 = first_day_week_1.end_of_week %>
                <% laporan_cabang_by_cabang.weekly_sum_value(merk, first_day_week_1, last_day_week_1, params[:channel]).each do |week_1| %>
                  <td><%= week_1.sum_jumlah.nil? ? 0 : currency(week_1.sum_jumlah) %></td>
                  <td><%= week_1.sum_harganetto2.nil? ? 0 : currency(week_1.sum_harganetto2) %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <br />
  <div class="row-fluid">
    <div class="block-content collapse in">
      <label>Do you want to export to Excel? <%= link_to 'Export', url_for(:format => 'xls', :periode_week => params[:periode_week], :brand_week => params[:brand_week]),
          :class=>"btn btn-info" %></label>
    </div>
  </div>
<% end %>
