<% unless params[:periode_week].nil? || params[:periode_week].empty? %>
  <div class="row-fluid">
    <div class="offset5">
      <div class="block-content collapse in">
        <h2 style="font-size: 17px;"><i>Weekly <%= params[:brand_week].present? ? params[:brand_week].join(",") : "All Brand" %> Sales Report</i></h2>
        <h2 style="font-size: 15px;"><i>Week <%= params[:periode_week].to_date.cweek %>, <%= @periode.strftime('%B %Y')  %></i></h2>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <table id="weekly_report_sales" class="pretty">
      <thead>
        <tr>
          <th rowspan="4">Branches</th>
        </tr>
        <tr>
          <th colspan="10"><%= params[:brand_week].present? ? params[:brand_week].join(",") : "All Brand" %></th>
        </tr>
        <tr>
          <% get_week_number = @periode.cweek - 5 %>
          <th colspan="2">Week <%= @periode.beginning_of_month.cweek %> </br><%= @first_day_week_1.strftime('%d/%m/%Y') %> -
            <%= @last_day_week_1.strftime('%d/%m/%Y') %></th>
          <th colspan="2">Week <%= @periode.beginning_of_month.cweek + 1 %> </br><%= @first_day_week_2.strftime('%d/%m/%Y') %> -
            <%= @last_day_week_2.strftime('%d/%m/%Y') %></th>
          <th colspan="2">Week <%= @periode.beginning_of_month.cweek + 2 %> </br><%= @first_day_week_3.strftime('%d/%m/%Y') %> -
            <%= @last_day_week_3.strftime('%d/%m/%Y') %></th>
          <th colspan="2">Week <%= @periode.beginning_of_month.cweek + 3 %> </br><%= @first_day_week_4.strftime('%d/%m/%Y') %> -
            <%= @last_day_week_4.strftime('%d/%m/%Y') %></th>
          <th colspan="2">Week <%= @periode.beginning_of_month.cweek + 4 %> </br><%= @first_day_week_5.strftime('%d/%m/%Y') %> -
            <%= @last_day_week_5.strftime('%d/%m/%Y') %></th>
        </tr>
        <tr>
          <% (1..5).each do  %>
            <th>Quantity</th>
            <th>Value</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="row" style="font-size: 13px; font-weight: bold;"><i>Total</i></th>
          <% (1..10).each do  %>
            <td style="font-size: 13px; background-color: #DFEFFC;"></td>
          <% end %>
        </tr>
      </tfoot>
      <tbody>
        <% @cabang_get_id.each do |cabang| %>
          <tr>
            <% laporan_cabang_by_cabang =  cabang.laporan_cabang %>
            <th scope="row"><%= cabang.Cabang.gsub(/Cabang/, "") %></th>
            <% merk =  params[:brand_week].present? ? params[:brand_week] : "" %>
            <% (0..4).each do |c| %>
              <% date = params[:periode_week].to_date %>
              <% first_day_week_1 = Date.commercial(date.year, date.beginning_of_month.cweek + c, 1) %>
              <% last_day_week_1 = Date.commercial(date.year, date.beginning_of_month.cweek + c, 7) %>
              <% laporan_cabang_by_cabang.weekly_sum_value(merk, first_day_week_1, last_day_week_1).each do |week_1| %>
                <td><%= week_1.sum_jumlah.nil? ? 0 : currency(week_1.sum_jumlah) %></td>
                <td><%= week_1.sum_harganetto2.nil? ? 0 : currency(week_1.sum_harganetto2) %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
