<div class="row-fluid">
  <div class="span10">
    <%= form_tag report_graph_sales_productivities_path, :method => 'get', :class => "form-inline" do %>
    <label style="font-size: 13px;">CABANG: </label>
    <%= select_tag 'branch', options_for_select(Province.all.map {|i| [i.name, i.id]}, params[:branch]) %>
    <label style="font-size: 13px;">BRAND: </label>
    <%= select_tag 'brand', options_for_select(access_by_brand(current_user.user_brand), params[:brand]) %>
    <label style="font-size: 13px;">BULAN: </label>
    <%= select_tag 'month', options_for_select(month, (params[:month].blank? ? Date.today.month : params[:month]))  %>
    <label style="font-size: 13px;">TAHUN: </label>
    <%= select_year(Date.today, :start_year => Date.today.next_year.year, :end_year => 2010) %>
    <button type="submit" class="btn btn-primary">
      <%= params[:brand_scb].blank? ? 'Search' : 'Refine Search' %>
    </button>
    <% end %>
  </div>
</div>
<br />
<%= high_chart("average_call_day", @sales) if params.present? %>