<p id="notice"><%= notice %></p>

<p>
  <b>Salesmen:</b>
  <%= @sales_productivity.salesmen_id %>
</p>

<p>
  <b>Branch:</b>
  <%= @sales_productivity.branch_id %>
</p>

<p>
  <b>Brand:</b>
  <%= @sales_productivity.brand_id %>
</p>

<p>
  <b>Npvnc:</b>
  <%= @sales_productivity.npvnc %>
</p>

<p>
  <b>Nvc:</b>
  <%= @sales_productivity.nvc %>
</p>

<p>
  <b>Ncdv:</b>
  <%= @sales_productivity.ncdv %>
</p>

<p>
  <b>Ncc:</b>
  <%= @sales_productivity.ncc %>
</p>

<p>
  <b>Tjp:</b>
  <%= @sales_productivity.tjp %>
</p>

<p>
  <b>Apt:</b>
  <%= @sales_productivity.apt %>
</p>


<%= link_to 'Edit', edit_sales_productivity_path(@sales_productivity) %> |
<%= link_to 'Back', sales_productivities_path %>
