<div class="container">
  <div class="row">
    <div class="span3">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="block-content">
          <%= form_tag sales_reports_path, :method => 'get', :class => "form-accounting-faktur" do %>
            <div class="block">
              <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Search No Faktur</div>
                <div class="pull-right"><span class="badge badge-info"></span>

                </div>
              </div>
              <div class="block-content">
                <div class="control-group">
                  <%= label_tag 'cabang' %>
                  <%= select_tag 'branch_faktur', options_for_select(Cabang.get_id.collect {|a| [a.Cabang, a.id]}, params[:branch_faktur]), {:class=>"select", :prompt => 'Select Cabang'} %>
                </div>
                <br />
                <div class="control-group">
                  <%= label_tag 'brand' %>
                  <%= select_tag 'brand_faktur', options_for_select(options_for_tipe, params[:brand_faktur]), {:class=>"select", :prompt => 'Select Brand'} %>
                </div>
                <br />
                <div class="control-group">
                  <%= label_tag 'bulan' %>
                  <%= select_month(params[:date].nil? ? Date.today : params[:date][:month].to_i, :html_options => {:class => "select"}) %>
                </div>
                <br />
                <div class="control-group">
                  <%= label_tag 'tahun' %>
                  <%= select_year(params[:date].nil? ? Date.today : params[:date][:year].to_i, :html_options => {:class => "select"}) %>
                </div>
                <br />
                <div class="control-group">
                  <button type="submit" class="btn btn-primary">
                    <%= params[:branch].blank? ? 'Search' : 'Refine Search' %>
                  </button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if params[:branch_faktur].blank? && params[:brand_faktur].blank? || @sales_report.nil? %>
      <div class="span6">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
          <div class="span8" style="padding-top: 25px">
            <table id="faktur" border="1" class="display responsive no-wrap" cellspacing="0">
              <thead>
                <tr>
                  <th>Branch</th>
                  <th>Faktur</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <td></td>
              <td></td>
              <td></td>
              </tbody>
            </table>
            <div class="span6 offset2">
              <h4><%= params[:branch_faktur].blank? ? 'Silahkan pilih Cabang, Brand, dan Bulan' : 'Data tidak ditemukan' %></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="span6">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="span8" style="padding-top: 25px">
          <table id="faktur" border="1" class="display" cellspacing="0" cellpadding="3" width="100%">
            <thead>
              <tr>
                <th>Branch</th>
                <th>Faktur</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @sales_reports.each do |laporan| %>
                <tr>
                  <% faktur = view_nofaktur(params[:brand_faktur], params[:branch_faktur], params[:date]['month'], laporan) %>
                  <td><%= Cabang.find(params[:branch_faktur]).Cabang.gsub(/Cabang/,'') %></td>
                  <td><%= view_nofaktur(params[:brand_faktur], params[:branch_faktur], params[:date]['month'], laporan) %></td>
                  <td><a href="#myModal" role="button" class="open-faktur btn btn-primary" data-toggle="modal" data-id="<%= faktur %>">Edit</a></td>
                </tr>
              <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <%= render 'form', {foo: laporan, brand: params[:brand_faktur], branch: params[:branch_faktur], date: params[:date]['month']} %>
              </div>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(document).on("click", ".open-faktur", function () {
    $("#sales_report_nofaktur").val($(this).data('id'));
  });
</script>