<div class="form-div">
	<%= form_tag monthly_monthly_path, :method => 'get', :html => {:class => "well"} do %>
		<fieldset>
			<legend>Monthly Quantity Report</legend>
			<label>Branch</label>
			<%= select_tag 'cabang_id', options_for_select(Cabang.get_id.collect {|a| [a.Cabang, a.id]}, params[:cabang_id]), 
				:prompt => 'Select Branch' %>
			<label>Type</label>
			<%= select_tag 'type_id', options_for_select([["Kasur Matras", "KM"], ["Sorong", "S"], ["Divan", "DV"], 
				["Headboard", "HB"]], params[:type_id]), :prompt => 'Select Type' %>
			<label>Product Type</label>
			<%= select_tag 'product_type_id', options_for_select([["Non Serenity", "E"], ["Serenity", "S"]], params[:product_type_id]), 
				:prompt => 'Select Product Type' %><br />
			<button type="submit" class="btn btn-primary">Submit</button>
		</fieldset>
	<% end %>
</div>

<br />
<div style="clear:both;"></div>

<% unless params[:cabang_id].nil? %>
		<h2 style="font-size: 17px; position: absolute; left: 450px;"><i>Monthly Quantity Sales Report</i></h2>
    <br /><br />
    <table id="monthly" class="display">
      <thead>
        <tr>
          <th rowspan="3">Brand</th>
        </tr>
        <tr>
					<th colspan="2">January</th>
					<th colspan="2">February</th>
					<th colspan="2">March</th>
					<th colspan="2">April</th>
					<th colspan="2">May</th>
					<th colspan="2">June</th>
        </tr>
        <tr>
          <% (1..6).each do %>
            <th>Qty</th>
            <th>Value</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
				<% Artikel.get_artikel_by_brand(params[:product_type_id], params[:type_id]).each do |artikel_name| %>
          <tr>
		        <td><%= artikel_name.Produk %></td>

            <!-- January -->
		          <% LaporanCabang.monthly_report(1, params[:cabang_id], params[:type_id], artikel_name.KodeCollection,
								Date.today.year, params[:product_type_id]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <!-- February -->
		          <% LaporanCabang.monthly_report(2, params[:cabang_id], params[:type_id], artikel_name.KodeCollection,
								Date.today.year, params[:product_type_id]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <!-- March -->
		          <% LaporanCabang.monthly_report(3, params[:cabang_id], params[:type_id], artikel_name.KodeCollection,
								Date.today.year, params[:product_type_id]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <!-- April -->
		          <% LaporanCabang.monthly_report(4, params[:cabang_id], params[:type_id], artikel_name.KodeCollection,
								Date.today.year, params[:product_type_id]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <!-- May -->
		          <% LaporanCabang.monthly_report(5, params[:cabang_id], params[:type_id], artikel_name.KodeCollection,
								Date.today.year, params[:product_type_id]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <!-- June -->
		          <% LaporanCabang.monthly_report(6, params[:cabang_id], params[:type_id], artikel_name.KodeCollection,
								Date.today.year, params[:product_type_id]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
		</br>
		<table id="monthly2" class="display">
      <thead>
        <tr>
          <th rowspan="3">Brand</th>
        </tr>
        <tr>
					<th colspan="2">July</th>
					<th colspan="2">August</th>
					<th colspan="2">September</th>
					<th colspan="2">October</th>
					<th colspan="2">November</th>
					<th colspan="2">December</th>
        </tr>
        <tr>
          <% (1..6).each do %>
            <th>Qty</th>
            <th>Value</th>
          <% end %>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
				<% Artikel.get_artikel_by_brand(params[:product_type_id], params[:type_id]).each do |artikel_name|	 %>
          <tr>
		        <td><%= artikel_name.Produk %></td>

            <!-- July -->
		          <% LaporanCabang.monthly_report(7, params[:cabang_id], params[:type_id], artikel_name.KodeCollection,
								Date.today.year, params[:product_type_id]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <!-- August -->
		          <% LaporanCabang.monthly_report(8, params[:cabang_id], params[:type_id], artikel_name.KodeCollection,
								Date.today.year, params[:product_type_id]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <!-- September -->
		          <% LaporanCabang.monthly_report(9, params[:cabang_id], params[:type_id], artikel_name.KodeCollection,
								Date.today.year, params[:product_type_id]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <!-- October -->
		          <% LaporanCabang.monthly_report(10, params[:cabang_id], params[:type_id], artikel_name.KodeCollection,
								Date.today.year, params[:product_type_id]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            <td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <!-- November -->
		          <% LaporanCabang.monthly_report(11, params[:cabang_id], params[:type_id], artikel_name.KodeCollection,
								Date.today.year, params[:product_type_id]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		            	<td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
            <!-- December -->
		          <% LaporanCabang.monthly_report(12, params[:cabang_id], params[:type_id], artikel_name.KodeCollection,
								Date.today.year, params[:product_type_id]).each do |a| %>
		            <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
		           	<td><%= a.sum_harganetto2.nil? ? "0" : currency(a.sum_harganetto2) %></td>
		          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
		</br>
		<label>Do you want to export to Excel? <%= link_to 'Export', url_for(:format => 'xls', :from => params[:from], 
			:to => params[:to]), :class=>"btn btn-info" %>
		</label>
<% end %>

