<div class="container-fluid">
  <div class="row">
    <div class="span3">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="block-content">
          <%= form_tag monthly_targets_target_filter_path, :method => 'get', :class => "monthly_target" do |f| %>
            <!-- block -->
            <div class="block">
              <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Filter for View Target vs Sales</div>
                <div class="pull-right"><span class="badge badge-info"></span>

                </div>
              </div>
              <fieldset style="margin:10px">
                <label>View Target by</label>
                <fieldset style="margin-left:5px">
                  <label class="radio">
                    <%= radio_button_tag 'targets', 'branch' %> Branch
                  </label>
                  <label class="radio">
                    <%= radio_button_tag 'targets', 'sales' %> Sales
                  </label>
                </fieldset>
                <%= label_tag 'Select a Branch' %>
                <%= select_tag 'cabang_id', options_for_select(Cabang.get_id.collect {|a| [a.Cabang, a.id]}, params[:cabang_id]),
                  :prompt=>"Select Branch"  %><br /><br />
                <%= label_tag 'Select a Merk' %>
                <%= select_tag 'merk_id', options_for_select(@merk.collect {|a| [a.Merk, a.Merk]}, params[:merk_id]),
                  :prompt=>"Select Merk" %><br /><br />
                <%= label_tag 'Select Month and Year' %>
                <%= select_tag "month_year", options_for_select(@months), :prompt=>"Select Month Year" %><br /><br />
                <div class="pull-right"><button type="submit" class="btn btn-primary">View</button></div>
              </fieldset>
            </div>
          </div>
        <% end %>
      </div>
      <!-- /block -->
    </div>
    <% if params[:month_year].present? %>
      <% if params[:targets] == 'branch' %>
        <div class="span6">
          <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="span9" style="padding-top: 25px">
              <table id="monthly_target_branch" border="1" class="display" cellspacing="0" cellpadding="3" width="100%">
                <thead>
                  <tr>
                    <th rowspan="2">By</th>
                    <th colspan="2"><%= params[:month_year].to_date.strftime("%B") + " " + params[:month_year].to_date.strftime("%Y") %></th>
                  </tr>
                  <tr>
                    <th>Target</th>
                    <th>Sales</th>
                    <th>%</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th scope="row">Total</th>
                    <% (1..3).each do  %>
                      <td></td>
                    <% end %>
                  </tr>
                </tfoot>
                <tbody>
                  <% @targets.each do |target| %>
                    <tr>
                      <td scope="row"><%= Cabang.find_by_id(target[0]).Cabang.gsub(/Cabang/,'') %></td>
                      <% @var_target = target[1].nil? ? 0 : target[1] %>
                      <td><%= currency(@var_target) %></td>
                      <% SalesSalesman.get_target(target[0], params[:month_year], params[:merk_id]).each do |reached_sales|  %>
                        <% @var_sales = reached_sales.sum_val.nil? ? 0 : reached_sales.sum_val %>
                        <td><%= currency(@var_sales) %></td>
                      <% end %>
                      <td><%= number_to_percentage(SalesSalesman.growth_sales_target(@var_target, @var_sales), :precision => 2)  %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% else %>
        <div class="span6">
          <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="span9" style="padding-top: 25px">
              <table id="monthly_target_salesmen" border="1" class="display" cellspacing="0" cellpadding="3" width="100%">
                <thead>
                  <tr>
                    <th rowspan="2">Salesman</th>
                    <th rowspan="2">Branch</th>
                    <th colspan="2"><%= params[:month_year].to_date.strftime("%B") + " " + params[:month_year].to_date.strftime("%Y") %></th>
                  </tr>
                  <tr>
                    <th>Target</th>
                    <th>Sales</th>
                    <th>%</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th scope="row">Total</th>
                    <% (1..4).each do  %>
                      <td></td>
                    <% end %>
                  </tr>
                </tfoot>
                <tbody>
                  <% @targets_sales.each do |target| %>
                    <tr>
                      <% search_target = params[:month_year].to_date.strftime("%B").downcase %>
                      <td scope="row"><%= target.sales %></td>
                      <td><%= Cabang.find_by_id(target.cabang_id).Cabang.gsub(/Cabang/,'') %></td>
                      <% @target = target.send("#{search_target.to_sym}").nil? ? 0 : target.send("#{search_target.to_sym}") %>
                      <td><%=  currency(@target) %></td>
                      <% SalesSalesman.get_target_by_salesman(target.cabang_id, params[:month_year], target.merk_id, target.sales).each do |reached_sales|  %>
                        <% @sales = reached_sales.sum_val.nil? ? 0 : reached_sales.sum_val %>
                        <td><%= currency(@sales) %></td>
                      <% end %>
                      <td><%= number_to_percentage(SalesSalesman.growth_sales_target(@target, @sales), :precision => 2) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
