<div class="form-div">
  <%= form_for(@user, :class => 'new_user') do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-error">
          The form contains <%= pluralize(@user.errors.count, "error") %>.
        </div>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
        <%= f.email_field :email, :autofocus => true, :id => "inputEmail", :placeholder => "Email" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">Username</label>
      <div class="controls">
        <%= f.text_field :username, :autofocus => true, :id => "inputEmail", :placeholder => "Username" %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
      </div>
      <div class="control-group">
        <div class="controls">
        </div>
      </div>
      <% if @user.approved == false %>
      <div class="control-group">
        <label class="checkbox">Approved</label>
        <div class="controls">
          <%= f.select :approved, [['Approved', true], ['Not Approved', false]] %></div>
      </div>
      <% end %>
    </div>
    <div class="control-group">
      <label class="checkbox">Roles</label>
      <div class="controls">
        <%= f.select :user_brand, ["Admin", "Lady Americana", "Classic", "Elite", "Royal", "Serenity", "Grand", "Accounting"],
          :include_blank => "All", :class => "input_login" %></div>
    </div>
    <div class="control-group">
      <label class="checkbox">Branch</label>
      <div class="controls">
        <%= f.select :branch, Cabang.get_id.collect {|cabang| [cabang.Cabang, cabang.id]},
          :include_blank => "All", :class => "input_login" %></div>
    </div>
    <div class="control-group">
      <label class="checkbox">Type</label>
      <div class="controls">
        <%= f.select :sales_stock, ["Sales", "Stock"],
          :include_blank => "All", :class => "input_login" %></div><br />	
      <%= submit_tag "Create", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>