<h1>Laporan Selisih Intransit vs Penerimaan </h1>

<table id="sales_rekap_stock" class="display table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>No SJ</th>
      <th>Kode Barang</th>
      <th>Nama Barang</th>
      <th>Intransit</th>
      <th>Penerimaan</th>
      <th>Selisih</th>
    </tr>
  </thead>

  <tbody>
    <% @intransit.each do |ins| %>
      <tr>
        <td><%= ins.no_sj %></td>
        <td><%= ins.kode_barang %></td>
        <td><%= ExhibitionStockItem.find_by_kode_barang(ins.kode_barang).nama %></td>
        <% inst = ExhibitionStockItem.where(kode_barang: ins.kode_barang, no_sj: ins.no_sj).sum(:jumlah)  %>
        <td><%= inst %></td>
        <% receipt = ExhibitionStockItem.where(kode_barang: ins.kode_barang, no_sj: ins.no_sj, checked_in: true, checked_out: false).sum(:jumlah)  %>
        <td><%= receipt %></td>
        <td><%= inst - receipt %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= link_to "Export to Excel", accounting_stocks_view_selisih_intransit_path(cc_id: params[:cc_id],format: "xls"), :class => "btn btn-info" %>