<%= form_for(@store_map) do |f| %>
  <% if @store_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_map.errors.count, "error") %> prohibited this store_map from being saved:</h2>

      <ul>
        <% @store_map.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'input_form' %>
  </div>
  <br />
  <div>
    <%= f.label :address %>
    <%= f.text_field :address, :class => 'input_form' %>
  </div>
  <br />
  <div>
    <%= f.label :city %>
    <%= f.text_field :city, :class => 'input_form' %>
  </div>
  <br />
  <div>
    <%= f.label :latitude %>
    <%= f.text_field :latitude, :class => 'input_form' %>
  </div>
  <br />
  <div>
    <%= f.label :longitude %>
    <%= f.text_field :longitude, :class => 'input_form' %>
  </div>
  <br />
  <div>
    <%= f.label :gmaps %>
    <%= f.check_box :gmaps, :class => 'input_form' %>
  </div>
  <br />
  <div>
    <%= submit_tag "Create", :class => "button_yearly" %>
  </div>
<% end %>
