<div class="container-fluid" style="height: 10px;">
  <div class="row">
    <div class="span3">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="block-content">
          <%= form_tag stock_index_path, :method => 'get', :class => "stock_index" do %>
            <div class="block">
              <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Search Different Price List</div>
                <div class="pull-right"><span class="badge badge-info"></span>

                </div>
              </div>             
              <div class="block-content">      
                <div class="control-group">
                  <%= label_tag 'tanggal' %>
                  <%= text_field_tag 'date', params[:date].nil? ? nil : params[:date], :placeholder => "Date", :html => {:class => "input-large"}  %>
                </div>               
                <div class="control-group">
                  <%= label_tag 'cabang' %>
                  <%= select_tag 'cabang_id', options_for_select(@branch.collect {|a| [a.Cabang, a.id]}, 
                    params[:cabang_id]), :class => 'multiselect', :multiple => true %>
                </div>
                <div class="control-group">
                  <%= label_tag 'brand' %>
                  <%= select_tag 'merk_id', options_for_select(@brand.collect {|a| [a.Merk, a.IdMerk]}, 
                    params[:merk_id]), {:class => "select",:prompt => 'Select Brand'} %>
                </div>
                <div class="control-group">
                  <%= label_tag 'type' %>
                  <%= select_tag 'type_id', options_for_select(@type.collect {|a| [a.Namaroduk, a.KodeProduk]}, 
                    params[:type_id]), {:class => "select",:prompt => 'Select Type'} %>
                </div>
                <div class="control-group">
                  <%= label_tag 'product' %>
                  <%= select_tag 'article_id', options_for_select(@article.collect {|a| [a.Produk, a.KodeCollection]}, 
                    params[:merk_id]), {:class => "select", :prompt => 'Select Article'} %>
                </div>
                <div class="control-group">
                  <%= label_tag 'kain' %>
                  <%= select_tag 'kain_id', options_for_select(@fabric.collect {|a| [a.NamaKain, a.KodeKain]}, 
                    params[:merk_id]), {:class => "select", :prompt => 'Select Kain'} %>
                </div>
                <div class="control-group">
                  <%= label_tag 'size' %>
                  <label class="radio">
                    <%= radio_button_tag 'size', 'all', true %> All
                  </label>
                  <label class="radio">
                    <%= radio_button_tag 'size', 'S' %> Standard <br />
                  </label>
                  <label class="radio">
                    <%= radio_button_tag 'size', 'T' %> Special
                  </label>
                  <label class="radio">
                    <%= radio_button_tag 'size', 'P' %> Display
                  </label>
                </div>
                <div class="control-group">
                  <button type="submit" class="btn btn-primary">
                    <%= params[:branch].blank? ? 'Search' : 'Refine Search' %>
                  </button>
                </div>
              </div>
            </div>
          <% end %>        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="span6">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <div class="span8" style="padding-top: 25px">
      <div class="block-content collapse in">
        <% unless params[:date].nil? %>
          <table id="stock_a" border="1" class="display responsive no-wrap" cellspacing="0">
            <thead>
              <tr>
                <th>Cabang</th>
                <th>Brand</th>
                <th>Jenis</th>
                <th>Produk</th>
                <th>Kain</th>
                <th>Panjang</th>
                <th>Lebar</th>
                <th>Free</th>
                <th>Buffer</th>
                <th>Real</th>
                <th>S</th>
                <th>D</th>
              </tr>
            </thead>
            <tbody>
              <% @get_stock.map do |stock| %>
                <tr>
                  <td><%= Cabang.find_by_id(stock.cabang_id).Cabang.gsub(/Cabang/, "") %></td>
                  <td><%= brand(Merk.merk_name(stock.kodebrg.slice(2)).first.Merk) unless Merk.merk_name(stock.kodebrg.slice(2)).first.nil? %></td>
                  <td><%= Product.product_name(stock.kodebrg.slice(0..1)).first.KodeProduk unless Product.product_name(stock.kodebrg.slice(0..1)).first.nil? %></td>
                  <td><%= Artikel.artikel_name(stock.kodebrg.slice(2..5)).first.Produk unless Artikel.artikel_name(stock.kodebrg.slice(2..5)).first.nil? %></td>
                  <td><%= Kain.kain_name_stock(stock.kodebrg.slice(6..10)).first.NamaKain unless Kain.kain_name_stock(stock.kodebrg.slice(6..10)).first.nil? %></td>
                  <td><%= stock.kodebrg.slice(12..14) %></td>
                  <td><%= stock.kodebrg.slice(15..17) %></td>
                  <td><%= stock.freestock %></td>
                  <td><%= stock.bufferstock %></td>
                  <td><%= stock.realstock %></td>
                  <td><%= stock.realstockservice %></td>
                  <td><%= stock.realstockdowngrade %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="freestock">Freestock</div>
        <% end %>
      </div>
    </div>
  </div>
</div>