<div class="clear"></div>
<br /><h1>Stock Cabang</h1><br />
<%= form_tag stock_index_path, :method => 'get' do %>
  <br />
  <p>
    <%= label_tag 'Date' %>
    <%= text_field_tag 'date', nil, :class => "input_form"  %>
  </p><br />
  <p>
    <%= submit_tag "Search", :class => "button" %>
  </p>
<% end %>
<br />
<% unless params[:date].nil? %>
  <h2 style="font-size: 20px; position: absolute; left: 543px;"><i>Laporan Stock <%= params[:date].to_date.strftime("%e %B %Y") %></i></h2>
  <br /><br />
  <form id="placeholder_datatables_stock" style="width: 1300px; height: 43px">
    <p id="filter"style="position: absolute; left: 40px; top: 11px; font-size: 25px; font-style: italic">Filter</p>
    <p id="brand" style="position: absolute; right: 803px; top: 2px"></p>
    <p id="artikel" style="position: absolute; right: 713px; top: 2px "></p>
    <p id="kain" style="position: absolute; right: 640px; top: 2px "></p>
    <p id="ukuran" style="position: absolute; right: 546px; top: 2px "></p>
    <p id="panjang" style="position: absolute; right: 445px; top: 2px "></p>
    <p id="lebar" style="position: absolute; right: 362px; top: 2px "></p>
  </form>
  <br />
  <table id="stock" class="display">
    <thead>
      <tr>
        <th></th>
        <th>Brand</th>
        <th>Artikel</th>
        <th>Kain</th>
        <th>Ukuran</th>
        <th>Panjang</th>
        <th>Lebar</th>
      </tr>
      <tr>
        <th rowspan="3">Jenis</th>
        <th rowspan="3">Brand</th>
        <th rowspan="3">Artikel</th>
        <th rowspan="3">Kain</th>
        <th rowspan="3">Ukuran</th>
        <th rowspan="3">Panjang</th>
        <th rowspan="3">Lebar</th>
        <th colspan="30">Annual Stock Branches Report</th>
      </tr>
      <tr>
        <th colspan="2">Bandung</th>
        <th colspan="2">Narogong</th>
        <th colspan="2">Bali</th>
        <th colspan="2">Medan</th>
        <th colspan="2">Surabaya</th>
        <th colspan="2">Semarang</th>
        <th colspan="2">Yogyakarta</th>
        <th colspan="2">Palembang</th>
        <th colspan="2">Lampung</th>
        <th colspan="2">Meruya</th>
        <th colspan="2">Makasar</th>
        <th colspan="2">Pekanbaru</th>
        <th colspan="2">Jember</th>
      </tr>
      <tr>
        <% (1..13).each do |i| %>
          <th>F</th>
          <th>B</th>
        <% end %>
      </tr>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
      <% @get_stock.map do |stock| %>
        <tr>
          <th scope="row"><%= Product.product_name(stock.kodebrg.slice(0..1)).first.Namaroduk unless Product.product_name(stock.kodebrg.slice(0..1)).first.nil? %></th>
          <th scope="row"><%= Merk.merk_name(stock.kodebrg.slice(2)).first.Merk unless Merk.merk_name(stock.kodebrg.slice(2)).first.nil? %></th>
          <th scope="row"><%= Artikel.artikel_name(stock.kodebrg.slice(2..5)).first.Produk unless Artikel.artikel_name(stock.kodebrg.slice(2..5)).first.nil? %></th>
          <th scope="row"><%= Kain.kain_name(stock.kodebrg.slice(6..10)).first.NamaKain unless Kain.kain_name(stock.kodebrg.slice(6..10)).first.nil? %></th>
          <% if stock.kodebrg.slice(11) == "T" %>
            <th scope="row">Tanggung</th>
          <%  elsif stock.kodebrg.slice(11) == "P" %>
            <th scope="row">Display</th>
          <% else %>
            <th scope="row">Standard</th>
          <% end %>
          <th scope="row"><%= stock.kodebrg.slice(12..14) %></th>
          <th scope="row"><%= stock.kodebrg.slice(15..17) %></th>
          <% @id_cabang.each do |cabang| %>
            <% if cabang.stock.get_stock_in_branch(params[:date], stock.kodebrg).empty? %>
              <td></td>
              <td></td>
            <% else %>
              <% cabang.stock.get_stock_in_branch(params[:date], stock.kodebrg).each do |a| %>
                <td><%= a.freestock  %></td>
                <td><%= a.bufferstock %></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>