<% if params[:group_by] == 'customer' %>
<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
		<div class="offset2">
			<div class="form-inline">
		    <label id="customer"></label>
		    <label id="artikel" ></label>
		    <label id="kodebrg"></label>
		    <label id="kain"></label>
			</div>
		</div>
    <br />
		<div class="row-fluid">
			<div class="offset0">
				<div class="span5">
					<!-- block -->
					<div class="block">
						<div class="navbar navbar-inner block-header">
						  <div class="muted pull-left">Search Parameters</div>
						  <div class="pull-right"><span class="badge badge-info"></span>

						  </div>
						</div>
						<div class="block-content collapse in">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Brand</th>
                    <th>Type</th>
                    <th>Article</th>
                    <th>Fabric</th>
                    <th>Size</th>
                    <th>Group</th>
                  </tr>
                </thead>
                <tbody>
		              <tr>
				            <td><%= Merk.merk_name(params[:brand]).first.Merk %></td>
				            <td><%= params[:type].nil? ? "" : Product.product_name(params[:type]).first.Namaroduk %></td>
				            <td><%= params[:article].nil? ? "" : Artikel.artikel_name(params[:article]).first.Produk %></td>
				            <td><%= params[:fabric].nil? ? "" : Kain.kain_name_from_code(params[:fabric]).first.NamaKain %></td>
				            <td><%= params[:size_type] == 'T' ? 'Special Size' : 'Standard Size' %></td>
				            <td><%= params[:group_by] %></td>
		              </tr>
                </tbody>
              </table>
						</div>
					</div>
					<!-- /block -->
				</div>
			</div>
		</div>
		<div class="offset8">
			<label>If you want to repeat your filter, please click <%= link_to 'New Filter', 
				reports_first_filter_path, {:class => "btn btn-primary"} %> 
			</label>
		</div>
		<br />
		<table id="customer_monthly" class="pretty">
		  <thead>
		    <tr>
						<% if params[:group_by] == 'customer' %>
		        	<th rowspan="3">Customer</th>
						<% elsif params[:group_by] == 'article' %>
		        	<th rowspan="3">Article</th>
						<% else %>
		        	<th rowspan="3">Items Code</th>
						<% end %>
		      <th rowspan="3">City</th>
		      <th colspan="6">Comparison</th>
		    </tr>
		    <tr>
		      <th colspan="2"><%= (params[:to].to_date - 1.month).strftime('%B')  %></th>
		      <th colspan="2"><%= params[:to].to_date.strftime('%B')  %></th>
					<th colspan="2">Growth</th>
		    </tr>
		    <tr>
				<% (1..3).each do |a| %>
		      <th>QTY</th>
		      <th>Value</th>
				<% end %>
		    </tr>
		  </thead>
		  <tfoot>
		  </tfoot>
		  <tbody>
		    <% @customerstore.each do |laporan| %>
		      <tr>
						<% if params[:group_by] == 'customer' %>
		        	<td><%= laporan.customer %></td>
						<% elsif params[:group_by] == 'article' %>
		        	<td><%= laporan.artikel %></td>
						<% else %>
		        	<td><%= laporan.kodebrg %></td>
						<% end %>
		        <th scope="row"><%= laporan.kota %></th>
							<% LaporanCabang.analysis_customer_last_year((params[:from].to_date - 1.month), (params[:to].to_date - 1.month), 
								laporan.cabang, params[:type], 
								params[:brand], params[:article], params[:fabric], params[:size], laporan.customer, params[:size_type]).each do |a| %>
								<% @value_last = a.sum_harganetto2.nil? ? 0 : a.sum_harganetto2 %>
              	<td><%= @qty_last = a.sum_jumlah.nil? ? 0 : a.sum_jumlah.to_i %></td>
              	<td><%= currency(@value_last) %></td>
							<% end %>
							<% @value_current = laporan.sum_harga.nil? ? 0 : laporan.sum_harga %>
              <td><%= @qty_current = laporan.sum_jumlah.nil? ? 0 : laporan.sum_jumlah.to_i %></td>
              <td><%= currency(@value_current) %></td>
							<td><%= number_to_percentage(LaporanCabang.growth(@qty_last, @qty_current), :precision => 2) %></td>
							<td><%= number_to_percentage(LaporanCabang.growth(@value_last, @value_current), :precision => 2) %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% end %>
<% end %>
<% end %>

<% if params[:group_by] == 'kodebrg' %>
 <% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
		<div class="offset2">
			<div class="form-inline">
		    <label id="customer"></label>
		    <label id="artikel" ></label>
		    <label id="kodebrg"></label>
		    <label id="kain"></label>
			</div>
		</div>
    <br />
		<div class="offset1">
		    <label>Brand : <%= Merk.merk_name(params[:brand]).first.Merk %></label>
		    <label>Type : <%= params[:type].nil? ? "" : Product.product_name(params[:type]).first.Namaroduk %></label>
		    <label>Article : <%= params[:article].nil? ? "" : Artikel.artikel_name(params[:article]).first.Produk %></label>
		    <label>Fabric : <%= params[:fabric].nil? ? "" : Kain.kain_name_from_code(params[:fabric]).first.NamaKain %></label>
		    <label>Size Type : <%= params[:size_type] == 'T' ? 'Special Size' : 'Standard Size' %></label>
		    <label>Group By : <%= params[:group_by] %></label>
		</div>
		<div class="offset8">
			<label>If you want to repeat your filter, please click <%= link_to 'New Filter', 
				reports_first_filter_path, {:class => "btn btn-primary"} %> 
			</label>
		</div>
		<br />
		<table id="customer_monthly" class="pretty">
		  <thead>
		    <tr>
						<% if params[:group_by] == 'customer' %>
		        	<th rowspan="3">Customer</th>
						<% elsif params[:group_by] == 'article' %>
		        	<th rowspan="3">Article</th>
						<% else %>
		        	<th rowspan="3">Items Code</th>
						<% end %>
		      <th rowspan="3">City</th>
		      <th colspan="6">Comparison</th>
		    </tr>
		    <tr>
		      <th colspan="2"><%= (params[:to].to_date - 1.month).strftime('%B')  %></th>
		      <th colspan="2"><%= params[:to].to_date.strftime('%B')  %></th>
					<th colspan="2">Growth</th>
		    </tr>
		    <tr>
				<% (1..3).each do |a| %>
		      <th>QTY</th>
		      <th>Value</th>
				<% end %>
		    </tr>
		  </thead>
		  <tfoot>
		  </tfoot>
		  <tbody>
		    <% @customerstore.each do |laporan| %>
		      <tr>
						<% if params[:group_by] == 'customer' %>
		        	<td><%= laporan.customer %></td>
						<% elsif params[:group_by] == 'article' %>
		        	<td><%= laporan.artikel %></td>
						<% else %>
		        	<td><%= laporan.kodebrg %></td>
						<% end %>
		        <th scope="row"><%= laporan.kota %></th>
							<% LaporanCabang.analysis_customer_last_year((params[:from].to_date - 1.month), (params[:to].to_date - 1.month), 
								laporan.cabang, params[:type], 
								params[:brand], laporan.kodebrg, nil, nil, nil, params[:size_type]).each do |a| %>
								<% @value_last = a.sum_harganetto2.nil? ? 0 : a.sum_harganetto2 %>
              	<td><%= @qty_last = a.sum_jumlah.nil? ? 0 : a.sum_jumlah.to_i %></td>
              	<td><%= currency(@value_last) %></td>
							<% end %>
							<% @value_current = laporan.sum_harga.nil? ? 0 : laporan.sum_harga %>
              <td><%= @qty_current = laporan.sum_jumlah.nil? ? 0 : laporan.sum_jumlah.to_i %></td>
              <td><%= currency(@value_current) %></td>
							<td><%= number_to_percentage(LaporanCabang.growth(@qty_last, @qty_current), :precision => 2) %></td>
							<td><%= number_to_percentage(LaporanCabang.growth(@value_last, @value_current), :precision => 2) %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% end %>
 <% end %>
<% end %>

<% if params[:group_by] == 'kodeartikel' %>
 <% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
		<div class="offset2">
			<div class="form-inline">
		    <label id="customer"></label>
		    <label id="artikel" ></label>
		    <label id="kodebrg"></label>
		    <label id="kain"></label>
			</div>
		</div>
    <br />
		<div class="offset1">
		    <label>Brand : <%= Merk.merk_name(params[:brand]).first.Merk %></label>
		    <label>Type : <%= params[:type].nil? ? "" : Product.product_name(params[:type]).first.Namaroduk %></label>
		    <label>Article : <%= params[:article].nil? ? "" : Artikel.artikel_name(params[:article]).first.Produk %></label>
		    <label>Fabric : <%= params[:fabric].nil? ? "" : Kain.kain_name_from_code(params[:fabric]).first.NamaKain %></label>
		    <label>Size Type : <%= params[:size_type] == 'T' ? 'Special Size' : 'Standard Size' %></label>
		    <label>Group By : <%= params[:group_by] %></label>
		</div>
		<div class="offset8">
			<label>If you want to repeat your filter, please click <%= link_to 'New Filter', 
				reports_first_filter_path, {:class => "btn btn-primary"} %> 
			</label>
		</div>
		<br />
		<table id="customer_monthly" class="pretty">
		  <thead>
		    <tr>
						<% if params[:group_by] == 'customer' %>
		        	<th rowspan="3">Customer</th>
						<% elsif params[:group_by] == 'kodeartikel' %>
		        	<th rowspan="3">Article</th>
						<% else %>
		        	<th rowspan="3">Items Code</th>
						<% end %>
		      <th rowspan="3">City</th>
		      <th colspan="6">Comparison</th>
		    </tr>
		    <tr>
		      <th colspan="2"><%= (params[:to].to_date - 1.month).strftime('%B')  %></th>
		      <th colspan="2"><%= params[:to].to_date.strftime('%B')  %></th>
					<th colspan="2">Growth</th>
		    </tr>
		    <tr>
				<% (1..3).each do |a| %>
		      <th>QTY</th>
		      <th>Value</th>
				<% end %>
		    </tr>
		  </thead>
		  <tfoot>
		  </tfoot>
		  <tbody>
		    <% @customerstore.each do |laporan| %>
		      <tr>
						<% if params[:group_by] == 'customer' %>
		        	<td><%= laporan.customer %></td>
						<% elsif params[:group_by] == 'kodeartikel' %>
		        	<td><%= Artikel.artikel_name(params[:article]).first.Produk %></td>
						<% else %>
		        	<td><%= laporan.kodebrg %></td>
						<% end %>
		        <th scope="row"><%= laporan.kota %></th>
							<% LaporanCabang.analysis_customer_last_year((params[:from].to_date - 1.month), (params[:to].to_date - 1.month), 
								laporan.cabang, params[:type], 
								params[:brand], params[:article], params[:fabric], params[:size], params[:customer], params[:size_type]).each do |a| %>
								<% @value_last = a.sum_harganetto2.nil? ? 0 : a.sum_harganetto2 %>
              	<td><%= @qty_last = a.sum_jumlah.nil? ? 0 : a.sum_jumlah.to_i %></td>
              	<td><%= currency(@value_last) %></td>
							<% end %>
							<% @value_current = laporan.sum_harga.nil? ? 0 : laporan.sum_harga %>
              <td><%= @qty_current = laporan.sum_jumlah.nil? ? 0 : laporan.sum_jumlah.to_i %></td>
              <td><%= currency(@value_current) %></td>
							<td><%= number_to_percentage(LaporanCabang.growth(@qty_last, @qty_current), :precision => 2) %></td>
							<td><%= number_to_percentage(LaporanCabang.growth(@value_last, @value_current), :precision => 2) %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% end %>
 <% end %>
<% end %>
