<% if params[:group_by] == 'customer' %>
  <% unless params[:from].nil? %>
    <% unless params[:from].empty? %>
      <div class="row-fluid">
        <div class="offset4">
          <div class="block-content collapse in">
            <h2 style="font-size: 17px;"><i>Sales Comparison Report Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="offset0">
          <div class="span5">
            <!-- block -->
            <div class="block">
              <h3>NOTE: Data per bulan akan valid setelah tanggal 20 pada bulan selanjutnya, data sementara di upload oleh masing masing cabang</h3>
              <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Search Parameters</div>
                <div class="pull-right"><span class="badge badge-info"></span>

                </div>
              </div>
              <div class="block-content collapse in">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Brand</th>
                      <th>Type</th>
                      <th>Article</th>
                      <th>Fabric</th>
                      <th>Size</th>
                      <th>Group</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= params[:brand].nil? ? "" : params[:brand] %></td>
                      <td><%= params[:type].nil? ? "" : params[:type] %></td>
                      <td><%= params[:article].nil? ? "" : Artikel.artikel_name(params[:article]).first.Produk %></td>
                      <td><%= params[:fabric].nil? ? "" : Kain.kain_name_from_code(params[:fabric]).first.NamaKain %></td>
                      <td><%= params[:size_type] == 'T' ? 'Special Size' : 'Standard Size' %></td>
                      <td><%= params[:group_by] %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /block -->
          </div>
        </div>
      </div>
      <br />
      <div class="row-fluid">
        <div class="block-content collapse in">
          <table id="customer_compare" border="1" class="display" cellspacing="0" cellpadding="3" width="100%">
            <thead>
              <tr>
                <th rowspan="3">Customer</th>
                <th rowspan="3">City</th>
              </tr>
              <tr>
                <% @month_devided.each do |month, sales|  %>
                  <th><%= month.strftime('%B') %></th>
                <% end %>
              </tr>
              <tr>
                <% @month_devided.each do |month, sales| %>
                  <th>Qty</th>
                <% end %>
              </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
              <% @customerstore.each do |laporan| %>
                <tr>
                  <td><%= laporan.customer %></td>
                  <td><%= laporan.kota.nil? ? "" : laporan.kota %></td>
                  <% @month_devided.each do |month, sales| %>
                    <% if LaporanCabang.customer_monthly(month.month, month.year, params[:branch], params[:type], 
                        params[:brand], params[:article], nil, params[:fabric], params[:size], laporan.customer, params[:size_type], 
                        params[:customer_modern], params[:customer_all_retail]).empty? %>
                      <td>0</td>
                    <% else %>
                      <% LaporanCabang.customer_monthly(month.month, month.year, params[:branch], params[:type], 
                        params[:brand], params[:article], nil, params[:fabric], params[:size], laporan.customer, params[:size_type], 
                        params[:customer_modern], params[:customer_all_retail]).each do |a| %>
                        <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
                      <% end %>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if params[:group_by] == 'kodebrg' %>
  <% unless params[:from].nil? %>
    <% unless params[:from].empty? %>
      <div class="row-fluid">
        <div class="offset4">
          <div class="block-content collapse in">
            <h2 style="font-size: 17px;"><i>Sales Comparison Report Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="offset0">
          <div class="span5">
            <!-- block -->
            <div class="block">
              <h3>NOTE: Data per bulan akan valid setelah tanggal 20 pada bulan selanjutnya, data sementara di upload oleh masing masing cabang</h3>
              <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Search Parameters</div>
                <div class="pull-right"><span class="badge badge-info"></span>

                </div>
              </div>
              <div class="block-content collapse in">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Brand</th>
                      <th>Type</th>
                      <th>Article</th>
                      <th>Fabric</th>
                      <th>Size</th>
                      <th>Group</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= params[:brand].nil? ? "" : params[:brand] %></td>
                      <td><%= params[:type].nil? ? "" : params[:type] %></td>
                      <td><%= params[:article].nil? ? "" : Artikel.artikel_name(params[:article]).first.Produk %></td>
                      <td><%= params[:fabric].nil? ? "" : Kain.kain_name_from_code(params[:fabric]).first.NamaKain %></td>
                      <% if params[:size_type] == 'T' %>
                        <td>Special Size</td>
                      <% elsif params[:size_type] == 'S' %>
                        <td>Standard Size</td>
                      <% else %>
                        <td>All Size</td>
                      <% end %>
                      <td><%= params[:group_by] %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /block -->
          </div>
        </div>
      </div>
      <br />
      <div class="row-fluid">
        <div class="block-content collapse in">
          <table id="customer_monthly" border="1" class="display" cellspacing="0" cellpadding="3" width="100%">
            <thead>
              <tr>
                <th rowspan="3">Items Code</th>
                <th rowspan="3">Brand</th>
                <th rowspan="3">Article</th>
                <th rowspan="3">Fabric</th>
                <th rowspan="3">Length</th>
                <th rowspan="3">Width</th>
              </tr>
              <tr>
                <% @month_devided.each do |month, sales|  %>
                  <th><%= month.strftime('%B') %></th>
                <% end %>
              </tr>
              <tr>
                <% @month_devided.each do |month, sales| %>
                  <th>Qty</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @customerstore.each do |laporan| %>
                <tr>
                  <td><%= laporan.kodebrg %></td>
						            <td><%= laporan.jenisbrgdisc %></td>
						            <td><%= laporan.namaartikel %></td>
						            <td><%= laporan.namakain %></td>
						            <td><%= laporan.panjang %></td>
						            <td><%= laporan.lebar %></td>
                  <% @month_devided.each do |month, sales| %>

                    <!-- January -->
                    <% if LaporanCabang.customer_monthly(month.month, month.year, params[:branch], params[:type], 
                        nil, nil, laporan.kodebrg, nil, nil, nil, params[:size_type], 
                        params[:customer_modern], params[:customer_all_retail]).empty? %>
                      <td>0</td>
                    <% else %>
                      <% LaporanCabang.customer_monthly(month.month, month.year, params[:branch], params[:type], 
                        nil, nil, laporan.kodebrg, nil, nil, nil, params[:size_type], 
                        params[:customer_modern], params[:customer_all_retail]).each do |a| %>
                        <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
                      <% end %>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if params[:group_by] == 'kodeartikel' %>
  <% unless params[:from].nil? %>
    <% unless params[:from].empty? %>
      <div class="row-fluid">
        <div class="offset4">
          <div class="block-content collapse in">
            <h2 style="font-size: 17px;"><i>Sales Comparison Report Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="offset0">
          <div class="span5">
            <!-- block -->
            <div class="block">
              <h3>NOTE: Data per bulan akan valid setelah tanggal 20 pada bulan selanjutnya, data sementara di upload oleh masing masing cabang</h3>
              <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Search Parameters</div>
                <div class="pull-right"><span class="badge badge-info"></span>

                </div>
              </div>
              <div class="block-content collapse in">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Brand</th>
                      <th>Type</th>
                      <th>Article</th>
                      <th>Fabric</th>
                      <th>Size</th>
                      <th>Group</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= params[:brand].nil? ? "" : params[:brand] %></td>
                      <td><%= params[:type].nil? ? "" : params[:type] %></td>
                      <td><%= params[:article].nil? ? "" : Artikel.artikel_name(params[:article]).first.Produk %></td>
                      <td><%= params[:fabric].nil? ? "" : Kain.kain_name_from_code(params[:fabric]).first.NamaKain %></td>
                      <td><%= params[:size_type] == 'T' ? 'Special Size' : 'Standard Size' %></td>
                      <td><%= params[:group_by] %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /block -->
          </div>
        </div>
      </div>
      <br />
      <div class="row-fluid">
        <div class="block-content collapse in">
          <table id="customer_monthly" border="1" class="display" cellspacing="0" cellpadding="3" width="100%">
            <thead>
              <tr>
                <th rowspan="3">Article</th>
              </tr>
              <tr>
                <% @month_devided.each do |month, sales|  %>
                  <th><%= month.strftime('%B') %></th>
                <% end %>
              </tr>
              <tr>
                <% @month_devided.each do |month, sales| %>
                  <th>Qty</th>
                <% end %>
              </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
              <% @customerstore.each do |laporan| %>
                <tr>
                  <td><%= Artikel.artikel_name(laporan.kodeartikel).first.nil? ? "" : Artikel.artikel_name(laporan.kodeartikel).first.Produk %></td>
                  <% @month_devided.each do |month, sales| %>
                    <% if LaporanCabang.customer_monthly(month.month, month.year, params[:branch], params[:type], 
                        params[:brand], laporan.kodeartikel, nil, params[:fabric], params[:size], params[:customer], params[:size_type], 
                        params[:customer_modern], params[:customer_all_retail]).empty? %>
                      <td>0</td>
                    <% else %>
                      <% LaporanCabang.customer_monthly(month.month, month.year, params[:branch], params[:type], 
                        params[:brand], laporan.kodeartikel, nil, params[:fabric], params[:size], params[:customer], params[:size_type], 
                        params[:customer_modern], params[:customer_all_retail]).each do |a| %>
                        <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
                      <% end %>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if params[:group_by] == 'cabang_id' %>
  <% unless params[:from].nil? %>
    <% unless params[:from].empty? %>
      <div class="row-fluid">
        <div class="offset4">
          <div class="block-content collapse in">
            <h2 style="font-size: 17px;"><i>Sales Comparison Report Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="offset0">
          <div class="span5">
            <!-- block -->
            <div class="block">
              <h3>NOTE: Data per bulan akan valid setelah tanggal 20 pada bulan selanjutnya, data sementara di upload oleh masing masing cabang</h3>
              <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Search Parameters</div>
                <div class="pull-right"><span class="badge badge-info"></span>

                </div>
              </div>
              <div class="block-content collapse in">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Brand</th>
                      <th>Type</th>
                      <th>Article</th>
                      <th>Fabric</th>
                      <th>Size</th>
                      <th>Group</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= params[:brand].nil? ? "" : params[:brand] %></td>
                      <td><%= params[:type].nil? ? "" : params[:type] %></td>
                      <td><%= params[:article].nil? ? "" : Artikel.artikel_name(params[:article]).first.Produk %></td>
                      <td><%= params[:fabric].nil? ? "" : Kain.kain_name_from_code(params[:fabric]).first.NamaKain %></td>
                      <% if params[:size_type] == 'T' %>
                        <td>Special Size</td>
                      <% elsif params[:size_type] == 'S' %>
                        <td>Standard Size</td>
                      <% else %>
                        <td>All Size</td>
                      <% end %>
                      <td><%= params[:group_by] %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /block -->
          </div>
        </div>
      </div>
      <br />
      <div class="row-fluid">
        <div class="block-content collapse in">
          <table id="customer_monthly" border="1" class="display" cellspacing="0" cellpadding="3" width="100%">
            <thead>
              <tr>
                <th rowspan="3">Branch</th>
              </tr>
              <tr>
                <% @month_devided.each do |month, sales|  %>
                  <th><%= month.strftime('%B') %></th>
                <% end %>
              </tr>
              <tr>
                <% @month_devided.each do |month, sales| %>
                  <th>Qty</th>
                <% end %>
              </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
              <% @customerstore.each do |laporan| %>
                <tr>
                  <td><%= Cabang.find_by_id(laporan.cabang).Cabang.gsub(/Cabang/,'') %></td>
                  <% @month_devided.each do |month, sales| %>
                    <% if LaporanCabang.customer_monthly(month.month, month.year, params[:branch], params[:type], 
                        params[:brand], params[:article], nil, params[:fabric], params[:size], params[:customer], params[:size_type], 
                        params[:customer_modern], params[:customer_all_retail]).empty? %>
                      <td>0</td>
                    <% else %>
                      <% LaporanCabang.customer_monthly(month.month, month.year, laporan.cabang, params[:type], 
                        params[:brand], params[:article], nil, params[:fabric], params[:size], params[:customer], params[:size_type], 
                        params[:customer_modern], params[:customer_all_retail]).each do |a| %>
                        <td><%= a.sum_jumlah.nil? ? "0" : a.sum_jumlah.to_i %></td>
                      <% end %>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
