<%= form_tag reports_customer_modern_path, :method => 'get' do %>
 <fieldset>
  <legend>Customer Modern</legend>
 	<label class="radio">
  	<%= radio_button_tag 'customer_modern', 'SOGO' %> SOGO
  </label>
 	<label class="radio">
  	<%= radio_button_tag 'customer_modern', 'ES' %> ES
  </label>
 	<label class="radio">
  	<%= radio_button_tag 'customer_modern', 'SHOWROOM' %> SHOWROOM
  </label>
 </fieldset>
 <br />
 <%= link_to 'Back', reports_second_filter_path, {:class => "btn btn-primary"} %>
 <button type="submit" class="btn btn-primary">Finish</button>
<% end %>
