<div class="row-fluid">
  <div class="offset5">
    <div class="block-content collapse in">
      <h2 style="font-size: 17px;"><i>Laporan Sales Cabang per Bulan</i></h2>
    </div>
  </div>
</div>
<h5>NB: TIDAK TERMASUK AKSESORIS, BONUS, DISPLAY, DAN PROJECT</h5>
<div class="container">
  <div class="row">
    <div class="span3">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="block-content">
          <%= form_tag reports_quick_view_monthly_result_path, :method => 'get', :class => "form-accounting-price-list" do %>
          <div class="block">
            <div class="navbar navbar-inner block-header">
              <div class="muted pull-left">Search Different Sales Report</div>
              <div class="pull-right">
                <span class="badge badge-info"></span>

              </div>
            </div>
            <div class="block-content">
              <%= hidden_field_tag "group_by", params[:group_by] %>
              <%= hidden_field_tag "month", params[:month] %>
              <div class="control-group">
                <%= label_tag 'brand' %>
                <%= select_tag 'brand_scb', options_for_select(access_by_brand(current_user.user_brand), params[:brand_scb]), :class => 'multiselect', :multiple => true %>
              </div>
              <br />
              <div class="control-group">
                <button type="submit" class="btn btn-primary">
                  <%= params[:branch].blank? ? 'Search' : 'Refine Search' %>
                </button>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div data-role="main" class="ui-content">
    <%= link_to image_tag("left.png", :size => "25x25"), reports_quick_view_monthly_result_path(brand_scb: params[:brand_scb], month: (params[:month].to_date - 1.month), group_by: params[:group_by]),
                    :class => '' %> <%= Date::MONTHNAMES[params[:month].to_date.month] + " " + params[:month].to_date.strftime("%Y") %> <%= link_to image_tag("right.png", :size => "25x25"), reports_quick_view_monthly_result_path(brand_scb: params[:brand_scb], month: (params[:month].to_date + 1.month), group_by: params[:group_by]), :class => '' %>
    <table id="quick" data-role="table" class="ui-shadow ui-responsive" border="1" cellspacing="0" cellpadding="3">
      <thead>
        <tr>
          <th>CABANG</th>
          <th>QUANTITY</th>
          <th>VALUE</th>
        </tr>
      </thead>
      <tbody>
        <% if current_user.cabang.present? %>
          <tr>
            <td><%= Cabang.find(current_user.cabang).Cabang.gsub(/Cabang/,'') %></td>
            <% if SalesBrand.customer_quick_monthly(params[:month].to_date.month, params[:month].to_date.year, current_user.cabang,
              params[:brand_scb]).empty? %>
              <td style="font-weight: bold;">0</td>
              <td style="font-weight: bold;">0</td>
            <% else %>
              <% SalesBrand.customer_quick_monthly(params[:month].to_date.month, params[:month].to_date.year, current_user.cabang,
               params[:brand_scb]).each do |a| %>
                <td style="font-weight: bold;"><%= a.qty.nil? ? "0" : currency(a.qty.to_i) %></td>
                <td style="font-weight: bold;"><%= a.val.nil? ? "0" : number_with_delimiter(a.val.to_i, delimiter: ".") %></td>
              <% end %>
            <% end %>
          </tr>
        <% else %>
          <% Cabang.get_id.each do |laporan| %>
            <tr>
              <td><%= laporan.Cabang.gsub(/Cabang/,'') %></td>
              <% if SalesBrand.customer_quick_monthly(params[:month].to_date.month, params[:month].to_date.year, laporan.id,
              params[:brand_scb]).empty? %>
                <td style="font-weight: bold;">0</td>
                <td style="font-weight: bold;">0</td>
              <% else %>
                <% SalesBrand.customer_quick_monthly(params[:month].to_date.month, params[:month].to_date.year, laporan.id,
              params[:brand_scb]).each do |a| %>
                <td style="font-weight: bold;"><%= a.qty.nil? ? "0" : currency(a.qty.to_i) %></td>
                <td style="font-weight: bold;"><%= a.val.nil? ? "0" : number_with_delimiter(a.val.to_i, delimiter: ".") %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<style>
th {
    border-bottom: 1px solid #d6d6d6;
    text-align: left;
}

tr:nth-child(even) {
    background: #e9e9e9;
    text-align: left;
}
</style>