<div class="row-fluid">
  <div class="offset4">
    <div class="span5">
      <!-- block -->
      <div class="block">
        <div class="navbar navbar-inner block-header">
          <div class="muted pull-left">Select Brand</div>
          <div class="pull-right"><span class="badge badge-info"></span>

          </div>
        </div>
        <div class="block-content collapse in">
          <%= form_tag reports_quick_view_monthly_process_path, :method => 'get', :class => 'quick_view_month' do %>
            <fieldset>
              <% if current_user.user_brand == 'Elite' || current_user.user_brand == 'Admin' %>
                <div class="control-group">
                  <label class="radio">
                    <%= check_box_tag 'quick_view_brand[]', 'Non Serenity' %> Elite
                  </label>
                  <label class="radio">
                    <%= check_box_tag 'quick_view_brand[]', 'Serenity' %> Serenity
                  </label>
                <% end %>
                <% if current_user.user_brand == 'Lady Americana' || current_user.user_brand == 'Admin' %>
                  <label class="radio">
                    <%= check_box_tag 'quick_view_brand[]', 'Lady Americana' %> Lady Americana
                  </label>
                <% end %>
                <% if current_user.user_brand == 'Classic' || current_user.user_brand == 'Admin' %>
                  <label class="radio">
                    <%= check_box_tag 'quick_view_brand[]', 'Classic' %> Classic
                  </label>
                <% end %>
                <% if current_user.user_brand == 'Royal' || current_user.user_brand == 'Admin' %>
                  <label class="radio">
                    <%= check_box_tag 'quick_view_brand[]', 'Royal' %> Royal
                  </label>
                <% end %>
              </div>
            </fieldset>
            <br />
            <div class="pull-right"><button type="submit" class="btn btn-primary">Process</button></div>
          <% end %>
        </div>
      </div>
      <!-- /block -->
    </div>
  </div>
</div>

