<div class="row-fluid">
  <div class="offset5">
    <div class="block-content collapse in">
      <h2 style="font-size: 17px;"><i>Laporan Sales Cabang per Bulan</i></h2>
    </div>
  </div>
</div>
<h5><p>NB: Hasil Laporan Penjualan ini tidak termasuk penjualan Project dan Aksesoris</p></h5>
<p style="text-align: center; font-size: 14px;">
  <%= link_to image_tag("left.png", :size => "25x25"), reports_sales_cabang_per_brand_path(month: (params[:month].to_date - 1.month))%>
  <%= Date::MONTHNAMES[params[:month].to_date.month] + " " + params[:month].to_date.strftime("%Y") %>
  <%= link_to image_tag("right.png", :size => "25x25"), reports_sales_cabang_per_brand_path(month: (params[:month].to_date + 1.month))%>
</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <table id="sales_cabang_per_brand" class="table table-striped">
        <thead>
          <tr>
            <th rowspan="2" style="font-size: 13px; text-align: center;">Type</th>
            <% Merk.all.each do |brand| %>
              <th style="font-size: 13px; text-align: center" colspan="2"><%= brand.Merk %></th>
            <% end %>
          </tr>
          <tr>
            <% (1..7).each do  %>
              <th>Qty</th>
              <th>Val</th>
            <% end %>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th scope="row" style="font-size: 13px; font-weight: bold;"><i>Total</i></th>
            <% (1..14).each do  %>
              <td style="font-size: 13px; background-color: #DFEFFC;"></td>
            <% end %>
          </tr>
        </tfoot>
        <tbody>
          <% Cabang.get_id.each do |cabang| %>
            <tr>
              <th scope="row" style="font-size: 13px; height: 10px;"><%= cabang.Cabang.gsub(/Cabang/, '') %></th>
              <% Merk.all.each do |merk| %>
                <% sales_brand = SalesBrand.sales_cabang_per_merk(merk.Merk, cabang, params[:month].to_date) %>
                <% if sales_brand.empty? %>
                  <td style="font-size: 12px; height: 40px;">0</td>
                  <td style="font-size: 12px; height: 40px;">0</td>
                <% else %>
                  <% sales_brand.each do |sum| %>
                    <td style="font-size: 12px; height: 40px;"><%= currency(sum.qty.to_i) %></td>
                    <td style="font-size: 12px; height: 40px;"><%= currency(sum.val.to_i) %> </td>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>