<div class="row-fluid">
  <div class="offset4">
    <div class="block-content collapse in">
      <h2 style="font-size: 17px;"><i>Laporan Sales Cabang per Produk dan per Brand</i></h2>
    </div>
  </div>
</div>
<h5><p>NB: Hasil Laporan Penjualan ini tidak termasuk penjualan Project</p></h5>
<div class="span11">
  <p style="text-align: left;">
    <%= form_tag reports_sales_cabang_per_cabang_per_produk_by_year_path, :method => 'get', :class => "form form-inline" do %>
      <label style="font-size: 13px;">Tahun : </label>
      <%= select_tag "year", options_for_select(@years, params[:year]), :class => "input-small" %>
    <label style="font-size: 13px;">Cabang: </label>
    <%= hidden_field_tag "year", params[:year] %>
    <%= select_tag 'merk', options_for_select(Merk.all.collect {|a| [a.Merk, a.Merk]}, params[:merk]), :class => 'multiselect', :multiple => true %>
    <button type="submit" class="btn btn-primary">
      Refine Search
    </button>
  <% end %>
</p>
</div>
<div class="span4 offset8">
  <p style="text-align: center; font-size: 14px;">
    <%= link_to image_tag("left.png", :size => "25x25"), reports_sales_cabang_per_cabang_per_produk_by_year_path(year: (params[:year].to_date - 1.year), merk: params[:merk])%>
    <%= params[:year].to_date.strftime("%Y") %>
    <%= link_to image_tag("right.png", :size => "25x25"), reports_sales_cabang_per_cabang_per_produk_by_year_path(year: (params[:year].to_date + 1.year), merk: params[:merk])%>
  </p>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <table id="sales_cabang_per_brand" class="table table-striped">
        <thead>
          <tr>
            <th rowspan="2" style="font-size: 13px; text-align: center;">Cabang</th>
            <% ["KB","KM","DV","SA","SB","HB", "AC"].each do |brand| %>
              <th style="font-size: 13px; text-align: center" colspan="2"><%= brand %></th>
            <% end %>
          </tr>
          <tr>
            <% (1..7).each do  %>
              <th>Qty</th>
              <th>Val</th>
            <% end %>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th scope="row" style="font-size: 13px; font-weight: bold;"><i>Total</i></th>
            <% (1..14).each do  %>
              <td style="font-size: 13px; background-color: #DFEFFC;"></td>
            <% end %>
          </tr>
        </tfoot>
        <tbody>
          <% Cabang.all.each do |cabang| %>
            <tr>
              <th scope="row" style="font-size: 15px; height: 10px;"><%= cabang.Cabang.gsub(/Cabang/, '') %></th>
              <% ["KB","KM","DV","SA","SB","HB", "AC"].each do |prdk| %>
                <% sales_product = SalesProduct.sales_cabang_per_cabang_per_produk_by_year(params[:merk], prdk, cabang.id, params[:year].to_date) %>
                <% if sales_product.empty? %>
                  <td style="font-size: 15px; height: 40px;">0</td>
                  <td style="font-size: 15px; height: 40px;">0</td>
                <% else %>
                  <% sales_product.each do |sum| %>
                    <td style="font-size: 15px; height: 40px;"><%= currency(sum.qty.to_i) %></td>
                    <td style="font-size: 15px; height: 40px;"><%= currency(sum.val.to_i) %> </td>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
