<table>
  <thead>
    <tr>

      <th>Cabang</th>
      <th>No SJ</th>
      <th>Tanggal SJ</th>
      <th>No Faktur</th>
      <th>No So</th>
      <th>Kode Customer</th>
      <th>Customer</th>
      <th>Alamat Kirim</th>
      <th>Salesman</th>
      <th>Kode Barang</th>
      <th>Nama Barang</th>
      <th>Merk</th>
      <th>Jenis</th>
      <th>Series</th>
      <th>Artikel</th>
      <th>Kain</th>
      <th>Panjang</th>
      <th>Lebar</th>
      <th>Quantity</th>
      <th>Harga Satuan</th>
      <th>Diskon 1</th>
      <th>Diskon 2</th>
      <th>Diskon 3</th>
      <th>Diskon 4</th>
      <th>Diskon 5</th>
      <th>Value</th>
      <th>Cashback</th>
      <th>Upgrade</th>
      <th>Ket PPB</th>
      <th>Kota</th>
      <th>Jenis Customer</th>
    </tr>
  </thead>
  <tbody>    
    <% @search_by_ukuran.each do |sbb| %>
      <tr>
  

        <td><%= Cabang.find_by_id(sbb.cabang_id).present? ? Cabang.find_by_id(sbb.cabang_id).Cabang.gsub(/Cabang /,'')  : '-' %></td>
        <td><%= sbb.nosj %></td>
        <td><%= sbb.tanggalsj %></td>
        <td><%= sbb.nofaktur %></td>
        <td><%= sbb.noso %></td>
        <td><%= sbb.kode_customer %></td>
        <td><%= sbb.customer %></td>
        <td><%= sbb.alamatkirim %></td>
        <td><%= sbb.salesman %></td>
        <td><%= sbb.kodebrg %></td>
        <td><%= sbb.namabrg %></td>
        <td><%= sbb.jenisbrgdisc %></td>
        <td><%= sbb.jenisbrg %></td>
        <td><%= sbb.namabrand %></td>
        <td><%= sbb.namaartikel %></td>
        <td><%= sbb.namakain %></td>
        <td><%= sbb.panjang %></td>
        <td><%= sbb.lebar %></td>
        <td><%= sbb.jumlah.to_i %></td>
        <td><%= sbb.hargasatuan %></td>
        <td><%= sbb.diskon1 %></td>
        <td><%= sbb.diskon2 %></td>
        <td><%= sbb.diskon3 %></td>
        <td><%= sbb.diskon4 %></td>
        <td><%= sbb.diskon5 %></td>
        <td><%= sbb.harganetto2 %></td>
        <td><%= sbb.cashback %></td>
        <td><%= sbb.nupgrade %></td>
        <td><%= sbb.ketppb %></td>
        <td><%= sbb.kota %></td>
        <td><%= sbb.tipecust%></th>
      </tr>
    <% end %>
  </tbody>
</table>

