<div class="container-fluid">
  <div class="row">
    <div class="span3">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="block-content">
          <%= form_tag reports_search_by_ukuran_path, :method => 'get', :class => "search_sales" do %>
            <div class="block">
              <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Parameter pencarian berdasarkan Ukuran</div>
                <div class="pull-right"><span class="badge badge-info"></span>

                </div>
              </div>
              <div class="block-content">
                <div class="control-group">
                  <%= text_field_tag 'from', params[:from].nil? ? nil : params[:from], :placeholder => "From Date", :html => {:class => "input-large"}  %>
                </div>
                <div class="control-group">
                  <%= text_field_tag 'to', params[:to].nil? ? nil : params[:to], :placeholder => "To Date", :html => {:class => "input-large"}  %>
                </div>
                <div class="control-group">
                  <%= label_tag 'cabang' %>
                  <%= select_tag 'branch', options_for_select(Cabang.get_id.collect {|a| [a.Cabang, a.id]}, params[:branch]), :class => 'multiselect', :multiple => true %>
                </div>
                <br />
                <div class="control-group">
                  <%= label_tag 'brand' %>
                  <%= select_tag 'brand', options_for_select(options_for_tipe_price, params[:brand]), :class => 'multiselect', :multiple => true %>
                </div>
                <br />
                <div class="control-group">
                  <%= label_tag 'produk' %>
                  <%= select_tag 'produk', options_for_select(Product.all.collect {|a| [a.Namaroduk, a.Namaroduk]}, params[:produk]), :class => 'multiselect', :multiple => true %>
                </div>
                <br />
                <div class="control-group">
                  <%= label_tag 'artikel' %>
                  <%= select_tag 'artikel', options_for_select(@artikel.collect {|a| [a.Produk, a.Produk]}.sort, params[:artikel]), :class => 'multiselect', :multiple => true %>
                </div>
                <br />
                <div class="control-group">
                  <%= label_tag 'kain' %>
                  <%= select_tag 'kain', options_for_select(@kain.collect {|a| [a.NamaKain, a.NamaKain]}.sort, params[:kain]), :class => 'multiselect', :multiple => true %>
                </div>
                <br />
                <div class="control-group">
                  <%= label_tag 'ukuran' %>
                  <%= select_tag 'ukuran', options_for_select(["S", "T"], params[:ukuran]), :class => 'multiselect', :multiple => true %>
                </div>
                <br />
                <div class="control-group">
                  <%= label_tag 'lebar' %>
                  <%= select_tag 'lebar', options_for_select(["90", "120", "160", "180", "200"], params[:lebar]), :class => 'multiselect', :multiple => true %>
                </div>
                <br />
                <div class="control-group">
                  <button type="submit" class="btn btn-primary">
                    <%= params[:branch].blank? ? 'Search' : 'Refine Search' %>
                  </button>
                  <%= link_to 'Export', url_for(:format => 'xls', :from => params[:from], :to => params[:to],
                    :brand => params[:brand], :branch => params[:branch], :produk => params[:produk],
                    :artikel => params[:artikel], :kain => params[:kain], :ukuran => params[:ukuran],
                    :lebar => params[:lebar]), :class=>"btn btn-info" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="span8" style="padding-top: 25px">
          <table id="search_by_ukuran" border="1" class="display" cellspacing="0" cellpadding="3" width="100%">
            <thead>
              <tr>
                <th>Cabang</th>
                <th>Merk</th>
                <th>Produk</th>
                <th>Artikel</th>
                <th>Kain</th>
                <th>P</th>
                <th>L</th>
                <th>Qty</th>
                <th>Val</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th scope="row" style="font-size: 13px; font-weight: bold;"><i>Total</i></th>
                <% (1..8).each do  %>
                  <td style="font-size: 13px; background-color: #DFEFFC;"></td>
                <% end %>
              </tr>
            </tfoot>
            <tbody>
              <% @search_by_ukuran.each do |sbb| %>
                <tr>
                  <td><%= Cabang.find_by_id(sbb.cabang_id).Cabang.gsub(/Cabang/,'') %></td>
                  <td><%= sbb.merk %></td>
                  <td><%= sbb.produk %></td>
                  <td><%= sbb.artikel %></td>
                  <td><%= sbb.kain %></td>
                  <td><%= sbb.panjang %></td>
                  <td><%= sbb.lebar %></td>
                  <td><%= currency(sbb.sum_jumlah) %></td>
                  <td><%= currency(sbb.sum_val) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>