<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>

        <Cell><Data ss:Type="String">Cabang</Data></Cell>
        <Cell><Data ss:Type="String">No SJ</Data></Cell>
        <Cell><Data ss:Type="String">Tanggal SJ</Data></Cell>
        <Cell><Data ss:Type="String">No Faktur</Data></Cell>
        <Cell><Data ss:Type="String">No So</Data></Cell>
        <Cell><Data ss:Type="String">Kode Customer</Data></Cell>
        <Cell><Data ss:Type="String">Customer</Data></Cell>
        <Cell><Data ss:Type="String">Alamat Kirim</Data></Cell>
        <Cell><Data ss:Type="String">Salesman</Data></Cell>
        <Cell><Data ss:Type="String">Kode Barang</Data></Cell>
        <Cell><Data ss:Type="String">Nama Barang</Data></Cell>
        <Cell><Data ss:Type="String">Merk</Data></Cell>
        <Cell><Data ss:Type="String">Jenis</Data></Cell>
        <Cell><Data ss:Type="String">Series</Data></Cell>
        <Cell><Data ss:Type="String">Artikel</Data></Cell>
        <Cell><Data ss:Type="String">Kain</Data></Cell>
        <Cell><Data ss:Type="Number">Panjang</Data></Cell>
        <Cell><Data ss:Type="Number">Lebar</Data></Cell>
        <Cell><Data ss:Type="Number">Quantity</Data></Cell>
        <Cell><Data ss:Type="Number">Harga Satuan</Data></Cell>
        <Cell><Data ss:Type="Number">Diskon 1</Data></Cell>
        <Cell><Data ss:Type="Number">Diskon 2</Data></Cell>
        <Cell><Data ss:Type="Number">Diskon 3</Data></Cell>
        <Cell><Data ss:Type="Number">Diskon 4</Data></Cell>
        <Cell><Data ss:Type="Number">Diskon 5</Data></Cell>
        <Cell><Data ss:Type="Number">Value</Data></Cell>
        <Cell><Data ss:Type="Number">Cashback</Data></Cell>
        <Cell><Data ss:Type="Number">Upgrade</Data></Cell>
        <Cell><Data ss:Type="String">Ket PPB</Data></Cell>
        <Cell><Data ss:Type="String">Kota</Data></Cell>
        <Cell><Data ss:Type="String">Jenis Customer</Data></Cell>
      </Row>
      <% @search_by_ukuran.each do |sbb| %>
        <Row>

          <Cell><Data ss:Type="String"><%= sbb.cabang_id.present? ? Cabang.find_by_id(sbb.cabang_id).Cabang.gsub(/Cabang /,'')  : '-' %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.nosj %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.tanggalsj %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.nofaktur %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.noso %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.kode_customer %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.customer %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.alamatkirim %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.salesman %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.kodebrg %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.namabrg %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.jenisbrgdisc %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.jenisbrg %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.namabrand %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.namaartikel %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.namakain %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sbb.panjang %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sbb.lebar %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sbb.jumlah %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sbb.hargasatuan %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sbb.diskon1 %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sbb.diskon2 %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sbb.diskon3 %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sbb.diskon4 %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sbb.diskon5 %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sbb.harganetto2 %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sbb.cashback %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= sbb.nupgrade %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.ketppb %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.kota %></Data></Cell>
          <Cell><Data ss:Type="String"><%= sbb.tipecust%></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

