<%= form_tag reports_second_filter_path, :method => 'get' do %>
 <fieldset>
  <legend>Date Filter</legend>
		<%= text_field_tag 'from', params[:from].nil? ? nil : params[:from], :placeholder => "From Date"  %>

		<%= text_field_tag 'to', params[:to].nil? ? nil : params[:to], :placeholder => "To Date" %>
 </fieldset>
 <fieldset>
  <legend>Product Filter</legend>

		<%= select_tag 'cabang_id', options_for_select(@branch.collect {|a| [a.Cabang, a.id]}, 
			params[:cabang_id]), :prompt => 'Select Branch' %>

		<%= select_tag 'merk_id', options_for_select(@brand.collect {|a| [a.Merk, a.IdMerk]}, params[:merk_id]), 
			:prompt => 'Select Brand' %>

		<%= select_tag 'type_id', options_for_select(@category.collect {|a| [a.Namaroduk, a.KodeProduk]}, 
			params[:type_id]), :prompt => 'Select Type' %>

		<%= collection_select(nil, :article_id, @article, :id, :Produk, {:include_blank => true, :prompt => 'Select an Article'}, {:id => 'article_id'}) %>

		<%= collection_select(nil, :fabric_id, @fabric, :id, :NamaKain, {:include_blank => true, :prompt => 'Select Fabric'}, {:id => 'fabric_id'}) %>

 </fieldset>
 <fieldset>
  <legend>Size Filter</legend>
 	<label class="radio">
  	<%= radio_button_tag 'size', 'S' %> Standard
  </label>
 	<label class="radio">
  	<%= radio_button_tag 'size', 'T' %> Special
  </label>
 </fieldset>
 <fieldset>
  <legend>Customer Filter</legend>
 	<label class="radio">
  	<%= radio_button_tag 'customer', 'modern' %> Modern
  </label>
 	<label class="radio">
  	<%= radio_button_tag 'customer', 'retail' %> Retail
  </label>
 </fieldset>
 <% unless session[:type_report] == 'detail'  %>
	 <fieldset>
		<legend>Group by</legend>
	 	<label class="radio">
			<%= radio_button_tag 'group', 'kodebrg' %> Item Code
		</label>
	 	<label class="radio">
			<%= radio_button_tag 'group', 'customer' %> Customer
		</label>
	 	<label class="radio">
			<%= radio_button_tag 'group', 'kodeartikel' %> Article
		</label>
	 </fieldset>
	<% end %>
<br />
 <button type="submit" class="btn btn-primary">Next</button>
<% end %>

<script>
	$(document).ready(function() {
		$('#article_id').change(function() {
			$.ajax({
				url: "<%= update_reports_kain_path %>",
				data: {
					artikel_id : $('#article_id').val()
					},
				dataType: "script"
			});
		});

		$('#type_id').change(function() {
			$.ajax({
				url: "<%= update_reports_article_path %>",
				data: {
					type_id : $('#type_id').val()
					},
				dataType: "script"
			});
		});
	});
</script>
