<%= form_tag reports_size_standard_path, :method => 'get' do %> 
	<fieldset>
  <legend>Size Filter</legend>
 	<label class="radio">
  	<%= radio_button_tag 'size_standard', '090' %> 90
  </label>
 	<label class="radio">
  	<%= radio_button_tag 'size_standard', '100' %> 100
  </label>
 	<label class="radio">
  	<%= radio_button_tag 'size_standard', '120' %> 120
  </label>
 	<label class="radio">
  	<%= radio_button_tag 'size_standard', '160' %> 160
  </label>
 	<label class="radio">
  	<%= radio_button_tag 'size_standard', '180' %> 180
  </label>
 	<label class="radio">
  	<%= radio_button_tag 'size_standard', '200' %> 200
  </label>
 </fieldset>
 	<label class="radio">
  	<%= radio_button_tag 'size_standard', 'all' %> All
  </label>
 </fieldset>
<br />
 <%= link_to 'Back', reports_second_filter_path, {:class => "btn btn-primary"} %>
 <button type="submit" class="btn btn-primary">Next</button>
<% end %>
