<% unless params[:from].nil? %>
  <% unless params[:from].empty? %>
<h2 style="font-size: 17px; position: absolute; left: 350px;"><i>Sales Detail Report Period <%= params[:from].to_date.strftime("%e %B %Y") %> - <%= params[:to].to_date.strftime("%e %B %Y") %></i></h2>
    <br /><br /><br />
		<div class="row-fluid">
			<div class="offset0">
				<div class="span5">
					<!-- block -->
					<div class="block">
						<div class="navbar navbar-inner block-header">
						  <div class="muted pull-left">Search Parameters</div>
						  <div class="pull-right"><span class="badge badge-info"></span>

						  </div>
						</div>
						<div class="block-content collapse in">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Brand</th>
                    <th>Type</th>
                    <th>Article</th>
                    <th>Fabric</th>
                    <th>Size</th>
                    <th>Group</th>
                  </tr>
                </thead>
                <tbody>
		              <tr>
				            <td><%= params[:brand].nil? ? "" : Merk.merk_name(params[:brand]).first.Merk %></td>
				            <td><%= params[:type].nil? ? "" : Product.product_name(params[:type]).first.Namaroduk %></td>
				            <td><%= params[:article].nil? ? "" : Artikel.artikel_name(params[:article]).first.Produk %></td>
				            <td><%= params[:fabric].nil? ? "" : Kain.kain_name_from_code(params[:fabric]).first.NamaKain %></td>
				            <td><%= params[:size_type] == 'T' ? 'Special Size' : 'Standard Size' %></td>
				            <td><%= params[:group_by] %></td>
		              </tr>
                </tbody>
              </table>
						</div>
					</div>
					<!-- /block -->
				</div>
			</div>
		</div>
		<div class="offset8">
			<label>If you want to repeat your filter, please click <%= link_to 'New Filter', 
				reports_first_filter_path, {:class => "btn btn-primary"} %> 
			</label>
		</div>
		<br />
    <table border="1" id="standard_analyze" class="display" cellspacing="0" cellpadding="3" width="100%">
      <thead>
        <tr>
					<% if params[:group_by] == 'customer' %>
          	<th>Customers</th>
					<% elsif params[:group_by] == 'kodeartikel' %>
          	<th>Article</th>
					<% else %>
          	<th>Items Code</th>
		        <th>Article</th>
		        <th>Fabric</th>
		        <th>Length</th>
		        <th>Width</th>
					<% end %>
          <th>Qty</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
        <% @laporancabang.each do |laporan| %>
          <tr>
						<% if params[:group_by] == 'customer' %>
            	<td><%= laporan.customer %></td>
						<% elsif params[:group_by] == 'kodeartikel' %>
            	<td><%= laporan.namaartikel %></td>
						<% else %>
            	<td><%= laporan.kodebrg %></td>
		          <td><%= laporan.namaartikel %></td>
		          <td><%= laporan.namakain %></td>
		          <td><%= laporan.panjang %></td>
		          <td><%= laporan.lebar %></td>
						<% end %>
            <td><%= currency(laporan.sum_jumlah.to_i) %></td>
            <td><%= currency(laporan.sum_harga.to_i) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
<% end %>
