<h1>Listing regionals</h1>

<table>
  <tr>
    <th>Nama</th>
    <th>Brand</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regionals.each do |regional| %>
  <tr>
    <td><%= regional.nama %></td>
    <td><%= Merk.find(regional.brand_id).Merk %></td>
    <td><%= link_to 'Show', regional %></td>
    <td><%= link_to 'Edit', edit_regional_path(regional) %></td>
    <td><%= link_to 'Destroy', regional, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Regional', new_regional_path %>
