<h3><%= @item.nama %> (<%= @item.kode_barang %>)</h3>
<% artikel = Artikel.where("KodeCollection like ?", @item.produk).first  %>
<% kain = Kain.where("KodeKain like ?", @item.kain).first  %>
<% if params[:status] == 'e' %>
  <div class="row-fluid">
    <%= form_for @item, url: {action: "update_kode_barang"} do |f| %>
      <div style="float: left; padding-right: 50px">
        <%= f.hidden_field 'regional_id' %>
        <%= f.label "Kode Barang"%>
        <%= f.text_field :kode_barang %>
        <hr />
        <%= f.fields_for :price_list_status_histories do |builder| %>
          <%= render "price_list_status_history_fields", :f => builder %>
        <% end %>
        <%= f.submit %>
      </div>
    <% end %>
  <% end %>