<% artikel = @produk.produk.nil? ? '' : Artikel.where("KodeCollection like ?", @produk.produk).first.Produk %>
<% kain = Kain.where("KodeKain like ?", @produk.kain).first.nil? ? '' : Kain.where("KodeKain like ?", @produk.kain).first.NamaKain %>
<div class="row-fluid" style="float: left;">
  <div class="block-content collapse in">
    <h4><%= @produk.nama %></h4>
    <table id="show_history_products" class="display table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Kode Produk</th>
          <th>Produk</th>
          <th>Kain</th>
          <th>Panjang</th>
          <th>Lebar</th>
          <th>Status</th>
          <th>Tanggal Dirubah</th>
          <th>Harga</th>
        </tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
        <% @history_product.each do |hp| %>
          <tr>
            <td><%= @produk.jenis %></td>
            <% artikel = Artikel.where("KodeCollection like ?", @produk.produk).first  %>
            <% kain = Kain.where("KodeKain like ?", @produk.kain).first  %>
            <td><%= artikel.nil? ? "" : artikel.Produk %></td>
            <td><%= kain.nil? ? "" : kain.NamaKain %></td>
            <td><%= @produk.panjang %></td>
            <td><%= @produk.lebar %></td>
            <td><%= hp.item_status %> (Current)</td>
            <td></td>
            <td><%= currency(hp.harga) %></td>
          </tr>
          <% hp.versions.order("created_at ASC").map do |iv| %>
            <% unless iv.reify.nil? %>
              <tr>
                <td><%= @produk.jenis %></td>
                <% artikel = Artikel.where("KodeCollection like ?", @produk.produk).first  %>
                <% kain = Kain.where("KodeKain like ?", @produk.kain).first  %>
                <td><%= artikel.nil? ? "" : artikel.Produk %></td>
                <td><%= kain.nil? ? "" : kain.NamaKain %></td>
                <td><%= @produk.panjang %></td>
                <td><%= @produk.lebar %></td>
                <td><%= iv.reify.item_status %></td>
                <td><%= iv.reify.created_at.to_date.strftime("%d %B %Y") %></td>
                <td><%= currency(iv.reify.harga) %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to "Back", :back, class: "btn btn-info" %>