<!DOCTYPE html>
<html>
<head>
  <title>Royal Marketing</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/redmond/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
					<%= nav_bar :fixed => :top, :brand => "Sales Report", :responsive => true do %>					
						<% if current_user %>
							<%= menu_group do %>
									<%= menu_item "Stock", stock_index_path %>
									<%= menu_item "Control Sales and Stock", laporan_cabang_control_branches_sales_path %>
									<%= menu_divider %>
									<%= drop_down "Sales Report" do %>
										  <%= menu_item "Detail", laporan_cabang_index_path %>
										  <%= menu_item "Weekly", laporan_cabang_weekly_report_path(:periode_week => Date.today) %>
										  <%= menu_item "Weekly Comparison", laporan_cabang_comparison_by_year_path(:periode => Date.today) %>
										  <%= menu_item "Monthly", laporan_cabang_group_by_cabang_path %>
									<% end %>
							<% end %>
							<%= menu_group :pull => :right do %>
									<%= menu_item "Log Out", destroy_user_session_path %>
							<% end %>
						<% else %>
							<%= menu_group :pull => :right do %>
									<%= menu_item "Log In", new_user_session_path %>
							<% end %>
						<% end %>
				<% end %>
			<div class="container">
					<div class="content">
						<div class="wrapper">
						  <div class="proper-content">
							  <div class="row">
							    <%= yield %>
								</div>
							</div>
							<div class="push"></div>						
					  </div>
						<div class="footer-wrapper">
							<div class="container">
								<p class="muted credit">Copyright &copy; 2013 <a href="http://royalabadisejahtera.com/ras/">Royal Abadi Sejahtera</a></p>
							</div>
						</div>
			    </div>
		  </div>
</body>
</html>
